//
// BEM block for React LiveNFLField
// - this is the field background, then there are LiveNBAFieldPlayers within it
//

$block: '.live-nfl-field';
$imgDir: '../../../../img/blocks/live/nfl/live-nfl-field/';

#{$block} {
  background: transparent url('#{$imgDir}field.png') no-repeat center top;
  background-size: 1326px 337px;
  height: 337px;
  width: 1326px;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: transform 600ms cubic-bezier(.65, .47, .35, 1);
  transform-origin: 0 0;
  transform: translate(-50%, -50%);

  &--debug {
    border: 1px solid red;

    #{$block}__item {
      background-color: rgba(0, 0, 0, .15);
      border: 1px solid green;

      &:before {
        background-color: red;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        content: '';
        display: block;
        height: 4px;
        left: -2px;
        position: absolute;
        top: -2px;
        width: 4px;
      }
    }
  }
}
