//
// BEM block for React LiveNFLPlay
// - currently a placeholder image of a player that is fixed in the location where the animation should be
//

$block: '.live-nfl-play';
$imgDir: '/images/nfl/live-nfl-play/';

#{$block} {
  height: 100%;
  width: 100%;
}
