{% extends "base.html" %}


{% block title %}{% endblock %}

<!-- will be overwritten later to include only needed css -->
{% block css %}
{{ block.super }}
{% endblock css %}


{% block html_class %}section-logged-out-account{% endblock html_class %}
{% block body_class %}account{% endblock body_class %}

{% block body %}
  <div class="account__left">
    {% block content_header %}
    <a href="/" class="account__header">
      <img src="/static/img/logo.948f91f.png" alt=""><h1>draftboard</h1>
    </a>
    {% endblock %}

    <div class="account__left__content">
      {% block content_form %}{% endblock %}
    </div>

    {% block account_footer %}
      <footer class="logged-out-footer">
        <p>Don't have an account? <a href="{% url 'register' %}">Create One.</a></p>
      </footer>
    {% endblock account_footer %}


  </div>

  {% block right_content %}
  <div class="account__right">
    <div class="account__right__inner">
      <div class="account__right__inner__content">
        <div class="account__right__inner__content__text">Dollar &amp; a dream</div>
        <p>Sign up for Draftboard and we’ll put a buck in your account, no deposit required. Then enter any contest to qualify for the NFL Record Breaker and a shot at $10,000!</p>
      </div>
    </div>
    <div class="account__right__bottom">
      <p>Draftboard will deposit a bonus of $1 into the account of any user who signs up for a new account. Bonus will be removed from the user’s account seven days from the date the account was opened, except in situations where the user has been present in at least one completed contest.</p>
    </div>
  </div>
  {% endblock right_content %}


{% endblock body %}