{% extends "base.html" %}


{% block title %}{% endblock %}

<!-- will be overwritten later to include only needed css -->
{% block css %}
{{ block.super }}
{% endblock css %}


{% block html_class %}section-logged-out-account{% endblock html_class %}
{% block body_class %}account{% endblock body_class %}

{% block body %}
  <div class="account__left">
    {% block content_header %}
    <a href="/" class="account__header">
      <div class="account__header__logo"></div><h1>draftboard</h1>
    </a>
    {% endblock %}

    <div class="account__left__content">
      {% block content_form %}{% endblock %}
    </div>

    {% block account_footer %}
      <a href="{% url 'register' %}" class="logged-out-footer">
        <div class="logged-out-footer__bait">
          Don't have an account?
        </div>
        <div class="logged-out-footer__hook">
          Create an account
          <span class="logged-out-footer__arrow"></span>
        </div>
      </a>
    {% endblock account_footer %}

  </div>

  {% block right_content %}
  <div class="account__right">
    <div class="account__right__inner">
      <div class="account__right__inner__content">
        <div class="account__right__inner__content__title">It's anyone's game</div>
        <div class="account__right__inner__content__separator"></div>
        <div class="account__right__inner__content__text">sign up &amp; get up to $200 matched bonus</div>
      </div>
    </div>
  </div>
  {% endblock right_content %}


{% endblock body %}