{% extends "base.html" %}


{% block title %}{% endblock %}

<!-- will be overwritten later to include only needed css -->
{% block css %}
{{ block.super }}
{% endblock css %}


{% block html_class %}section-logged-out-account{% endblock html_class %}
{% block body_class %}account{% endblock body_class %}

{% block body %}
  <div class="account__left">
    {% block content_header %}
    <a href="/" class="account__header">
      <div class="account__header__logo"></div><h1>draftboard</h1>
    </a>
    {% endblock %}

    <div class="account__left__content">
      {% block content_form %}{% endblock %}
    </div>

    {% block account_footer %}
      <footer class="logged-out-footer">
        <p>Don't have an account? <a href="{% url 'register' %}">create one.</a></p>
      </footer>
    {% endblock account_footer %}


  </div>

  {% block right_content %}
  <div class="account__right">
    <div class="account__right__inner">
      <div class="account__right__inner__content">
        <div class="account__right__inner__content__title">NFL</div>
        <div class="account__right__inner__content__separator"></div>
        <div class="account__right__inner__content__text">sign up &amp; get up to $200 matched bonus</div>
      </div>
    </div>
    <div class="account__right__bottom">
      <p>Draftboard will deposit $1 (the “Bonus”) into the account of any “User” who signs up for the Website. Bonus will be removed from the user’s account 7 days from the date the account was opened, except in situations where User has been present in at least one completed contest.</p>
    </div>
  </div>
  {% endblock right_content %}


{% endblock body %}