{% extends 'registration/base.html' %}
{% block title %}Create new password | Draftboard{% endblock title %}

{% block content_form %}
  {% if validlink %}
    <p class="account__left__content__text">Please create a new password for your account.</p>
    <form class="account__left__content__form" method="post">
      {% csrf_token %}

      {% if form.errors %}
        <div class="error-info">
          Your two passwords didn't match. Please try again.
        </div>
      {% endif %}

      <div class="account__left__content__form__input-layout">
        <label for="id_new_password1">New password:</label>
        <input id="id_new_password1" name="new_password1" type="password" required>
      </div>

      <div class="account__left__content__form__input-layout">
        <label for="id_new_password2">New password confirmation:</label>
        <input id="id_new_password2" name="new_password2" type="password" required>
      </div>

      <div class="account__left__content__form__input-layout">
        <button class="button button--gradient">Submit <span class="right">→</span></button>
        <span class="arrow"></span>
      </div>
    </form>
  {% else %}
    <p class="account__left__content__text">
      The password reset link was invalid, possibly because it expired or has already been used.
      <br>
      Please request a new <a class="forgot_password" href="{% url 'password_reset' %}">password reset</a>.
    </p>
  {% endif %}
{% endblock %}
