{% extends 'registration/base.html' %}


{% block content_form %}
<p class="account__left__content__text">Create a new password for your account.</p>

<form class="account__left__content__form" method="post">
  {% csrf_token %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="error-info">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="account__left__content__form__input-layout">
    {{ form.old_password.errors }}
    <input id="id_old_password" name="old_password" type="password" required>
    <label for="id_old_password">Old password:</label>
  </div>

  <div class="account__left__content__form__input-layout">
    {{ form.new_password1.errors }}
    <input id="id_new_password1" name="new_password1" type="password" required>
    <label for="id_new_password1">New password:</label>
  </div>

  <div class="account__left__content__form__input-layout">
    {{ form.new_password2.errors }}
    <input id="id_new_password2" name="new_password2" type="password" required>
    <label for="id_new_password2">New password confirmation:</label>
  </div>

  <div class="account__left__content__form__input-layout">
    <input type="submit" value="Submit" />
    <span class="arrow"></span>
  </div>
</form>
{% endblock %}
