{% extends 'registration/base.html' %}
{% block title %}Password reset | Draftboard{% endblock title %}

{% block content_form %}
  <form class="account__left__content__form" method="post">
    {% csrf_token %}
    <div class="account__left__content__form__input-layout">
      <label for="email">email</label>
      <input id="email" type="text" name="email" required />
    </div>

    <div class="account__left__content__form__input-layout">
      <input type="submit" class="button button--gradient" value="Submit" />
      <span class="arrow"></span>
    </div>
  </form>
{% endblock %}
