{% extends 'registration/base.html' %}

{% block body_class %}account--register{% endblock body_class %}

{% block content_form %}
<div id="account-register"></div>
{% endblock %}

{% block account_footer %}
  <a href="{% url 'login' %}" class="logged-out-footer">
    <div class="logged-out-footer__bait">
      Already have an account?
    </div>
    <div class="logged-out-footer__hook">
      Log In
      <span class="logged-out-footer__arrow"></span>
    </div>
  </a>
{% endblock account_footer %}
