{% extends "base.html" %}

{% block body_class %}two-col two-col--left{% endblock %}

{% block page_content %}

  <script src="//js.pusher.com/3.0/pusher.min.js" type="text/javascript"></script>

  <!-- <input id="send_push" type="submit" class="button button--flat-alt1" value="Save"> -->
  <!-- <script type="text/javascript">
    // example of how to send via javascript
    $(function() {
        $('#send_push').click(function() {
            $.ajax({
                type: 'GET',
                url: '{% url 'push:send' %}',
                cache: false,
                dataType: 'html',
                success: function(data) {
                    console.log(data);
                }
            });

            return false;
        })
    });
   </script> -->


  <script type="text/javascript">
    // Referenced https://devcenter.heroku.com/articles/pusher#set-up-a-view

    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    // Set up new pusher channel to listen to, this would be our game ID
    var pusher = new Pusher('{{ PUSHER_KEY }}');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      console.log(data.message);
    });
  </script>
{% endblock %}
