{
  "extends": "airbnb",
  "rules": {
    "semi": 1, // Throw a warning instead of an error on missing semicolons.
    "max-len": [2, 120, 2], // specify the maximum length of a line in your program (off by default)
    "react/prefer-es6-class": [0, "never"], // sadly using react es6 class requires es7 autobinding of class properties http://goo.gl/6pjYcU
    "no-unused-vars": 1,
    "react/jsx-no-bind": 0, // TODO - this is a good thing but it means we have to create a handful of new components, let's address this later.
    "consistent-return": 0,  // TODO - this is good, but would need to refactor a bunch of functions
    "no-duplicate-imports": 0, // TODO - need to go through code to fix
    "array-callback-return": 0, // TODO - this is good, but would need to refactor a bunch of functions,
    "promise/always-return": "warn",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "off",
    "promise/no-native": "off",
    "promise/no-nesting": "off",
    "promise/no-promise-in-callback": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/avoid-new": "off"
  },
  "env": {
      "mocha": true
  },
  "plugins": [
    "promise"
  ]
}
