# node_modules ignored by default
static/src/js/test-disabled/*

# Ignore easing library
static/src/js/lib/easing.js
static/src/js/lib/smooth-scroll-to.js
static/src/js/lib/time.js

# ignore pusher-stub-test
static/src/js/lib/pusher-test-stub/*

# ignore third party odometer
static/src/js/lib/odometer.js