# bkup files you forgot to erase that start with 'bkup-'
bkup-*

# OS-specific - .DS_Store is an OSX file system thing
.DS_Store

# Vagrant stuff
.vagrant

# Python
*.pyc

# some pycharm thing
.idea*


celerybeat-schedule

logs*