{% load pipeline %}
{% load staticfiles %}
{% spaceless %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}DFS{% endblock %}</title>

  {% comment %} default meta tags for UTF8 and mobile device width {% endcomment %}
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {% comment %} standards mode for IE set to latest {% endcomment %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% block css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock css %}
</head>

<body class="{% block body_class %}{% endblock %} two-col">
    {% block body %}
      <span class="nav-main--hamburglar"></span>

      <nav class="nav-main">
        <div class="inner">
          <a class="logo" href="/">Draftboard</a>
          <hr>
          <ul>
            <li class="lobby active">
              <a href="/frontend/lobby/">Lobby</a>
            </li>
            <li class="lineups">
              <a href="#">Lineups</a>
            </li>
            <li class="live">
              <a href="#">Live</a>
            </li>
          </ul>

          <a href="#" class="my-account"><span>My Account</span></a>
        </div>
      </nav>

      <div class="content-container">
        {% include 'frontend/partials/contest-nav.html' %}

        <aside class="sidebar">
          <div class="sidebar-content">
            {% block sidebar %}
            {% endblock %}
          </div>
        </aside>

        <section class="page-content">
          {% block page_content %}
            .page-content
          {% endblock %}
        </section>
      </div>

      <section class="pane">
        {% block slideover-pane %}
          .pane
        {% endblock %}
      </section>
    {% endblock body %}

  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
{% endspaceless %}
