{% load pipeline %}{% load static %}{% load humanize %}{% load analytics %}
<!DOCTYPE html>
<html lang="en" class="{% block html_class %}{% endblock %}">
<head>
  {# These 3 are NEEDED FIRST for GIDX integration DO NOT TOUCH OMG PLZ.  #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <title>{% block title %}Draftboard{% endblock %}</title>

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  {% block css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock css %}
  {% block extra_css %}{% endblock extra_css %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% block body %}

    {% include 'frontend/partials/nav-main.html' %}

    {% block content_container %}
    <div class="content-container">
      {% include 'frontend/partials/nav-scoreboard.html' %}

        <aside class="sidebar">
          {% block sidebar-header %}{% endblock %}
          <div class="sidebar-inner">
            <div class="sidebar-content">
              {% block sidebar %}{% endblock %}
            </div>
          </div>
        </aside>

        <section class="page-content">
          {% block page-content-header %}{% endblock %}

          <div class="page-content__content">
            {% block page_content %}
              .page-content
            {% endblock %}
          </div>
        </section>
    </div>
    {% endblock content_container %}

    <section class="pane">
      <div class="pane__content">
      {% block slideover-pane %}
        .pane
      {% endblock %}
      </div>
    </section>
  {% endblock body %}

  <!-- Slideover + modal pane background cover  -->
  <div class="pane__bg-cover"></div>

  <!-- User messaging display -->
  <div class="cmp-message-display"></div>

  <script>
  window.dfs = {
    logLevel: "{{ JS_LOGLEVEL }}",
    playerImagesBaseUrl: "{{ PLAYER_IMAGES_URL }}",
    gitCommitUUID: "{{ GIT_COMMIT_UUID }}",
    wipeLocalStorage: "{{ wipe_localstorage }}",
    replayerTimeDelta: {{ DELTA_NOW }},
    sentryPublicDsn: "{{ SENTRY_PUBLIC_DSN }}",
    user: {
      id: "{{ user.id }}",
      {% if user.is_authenticated %}
        isAuthenticated: true,
      {% else %}
        isAuthenticated: false,
      {% endif %}
      username: "{{ user.username }}",
      is_staff: {{ user.is_staff|lower }},
      has_created_a_lineup: {{ user.information.has_created_a_lineup|lower }},
      pusher_key: "{{ PUSHER_KEY }}",
      pusher_channel_prefix: "{{ PUSHER_CHANNEL_PREFIX }}",
    }
  };
  </script>
  {% kissanalyticsjs %}
  {% googleanalyticsjs %}
  {% block js_app %}
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  {% endblock js_app %}
</body>
</html>
