{% load pipeline %}
{% load staticfiles %}
{% spaceless %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}DFS{% endblock %}</title>

  {% comment %} default meta tags for UTF8 and mobile device width {% endcomment %}
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {% comment %} standards mode for IE set to latest {% endcomment %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% block css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% endblock css %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% block body %}

    <nav class="nav-main">
      <div class="inner">
        <ul class="nav-main__primary">
          <li class="lobby {% if request.path|slice:'1:5' == 'lobb' %}active{% endif %}">
            <a href="/lobby/">Contests</a>
          </li>
          <li class="live {% if request.path|slice:'1:5' == 'live' %}active{% endif %}">
            <a href="/live/">Live</a>
          </li>
          <li class="results {% if request.path|slice:'1:5' == 'resu' %}active{% endif %}">
            <a href="/results/">Results</a>
          </li>
          <li class="my-account {% if request.path|slice:'1:5' == 'acco' %}active{% endif %}">
            <a href="/account/settings/base/">My Account</a>
          </li>
          <li class="logout">
            <a href="/logout/">Sign Out</a>
          </li>
        </ul>

        <ul class="nav-main__secondary">
          <li>
            <a href="#">About Draftboard</a>
          </li>
          <li>
            <a href="#">Press &amp; Media</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#">Terms of Use</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>

        <div class="nav-main__sponsors"></div>
      </div>
    </nav>

    {% block content_container %}
    <div class="content-container">
      {% include 'frontend/partials/nav-scoreboard.html' %}

      <aside class="sidebar">
        {% block sidebar-header %}{% endblock %}
        <div class="sidebar-inner">
          <div class="sidebar-content">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
      </aside>

      <section class="page-content">
        {% block page-content-header %}{% endblock %}

        <div class="page-content__content">
          {% block page_content %}
            .page-content
          {% endblock %}
        </div>
      </section>
    </div>
    {% endblock content_container %}

    <section class="pane">
      <div class="pane__content">
      {% block slideover-pane %}
        .pane
      {% endblock %}
      </div>
    </section>
  {% endblock body %}

  <!-- Slideover + modal pane background cover  -->
  <div class="pane__bg-cover"></div>

  <!-- User messaging display -->
  <div class="cmp-message-display"></div>

  <script>
  window.dfs = {
    logLevel: "{{ loglevel }}",
    wipeLocalStorage: "{{ wipe_localstorage }}",
    user: {
      id: "{{ user.id }}",
      isAuthenticated: {{ user.is_authenticated|lower }},
      username: "{{ user.username }}",
      is_staff: {{ user.is_staff|lower }},
      cashBalance: {% if user.cashbalance %}{{ user.cashbalance.amount }}{% else %}0{% endif %},
      pusher_key: "{{ PUSHER_KEY }}",
      pusher_channel_prefix: "{{ PUSHER_CHANNEL_PREFIX }}",
      replayer_datetime: "{{ DELTA_NOW }}"
    }
  };
  </script>

  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
{% endspaceless %}
