//
// BEM block for React LiveNFLField
// - this is the court background, then there are LiveNBAAnimation within it
//

$block: '.live-nba-court';
$imgDir: '../../../../img/blocks/live-nba-court/';

#{$block} {
  background: transparent url('#{$imgDir}bg.png') no-repeat center top;
  background-size: 1280px 337px;  // proportioned to what the image size is, 547x2079
  height: 337px;
  width: 1280px;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: transform 600ms cubic-bezier(.65, .47, .35, 1);
  transform-origin: 0 0;
  transform: translate(-50%, -50%);

  // convert the following to BEM when we have a finalized comp
  .shooter-position {
    width: 3.94%;
    height: 39.3%;
    position: absolute;

    .shooter-centered {
      background: url('#{$imgDir}temp-shooter.png') no-repeat left top;
      background-size: 100% auto;
      position: relative;
      left: -56%;
      top: -45%;
      height: 100%;
      width: 100%;
    }

    &--mine .shooter-centered {
      background-image: url('#{$imgDir}temp-shooter-mine.png');
    }

    &--opponent .shooter-centered {
      background-image: url('#{$imgDir}temp-shooter-opponent.png');
    }
  }
}
