//
// BEM block for React LiveNFLField
// - this is the court background, then there are LiveNBAPlays within it
//

$block: '.live-nba-court';
$imgDir: '../../../../img/blocks/live-nba-court/';

#{$block} {
  background: transparent url('#{$imgDir}bg.png') no-repeat center top;
  background-size: 1280px 337px;  // proportioned to what the image size is, 547x2079
  height: 337px;
  width: 1280px;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: transform 600ms cubic-bezier(.65, .47, .35, 1);
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
