/*doc
---
title: Balance Summary
category: Components
---
Block on the account settings page in the sidebar. Shows the user their account balance and actions
to deposit, withdraw

```html_example
<section class="balance-summary">
  <h2>
    <sup>Current Balance</sup><span class="currency">$</span>4,832.94
  </h2>
  <hr>
  <h2>
    <sup>Pending Bonus</sup><span class="currency">$</span>78.52
  </h2>
  <a class="balance-summary--action" href="#">Deposit</a>
  <a class="balance-summary--action" href="#">Withdraw</a>
</section>
```
*/


@import "../variables.scss";


.balance-summary {
  background: #252939;
  margin: 0 0 42px;
  text-align: center;
  padding: 20px;
  max-width: 310px;

  h2 {
    color: #fff;
    font-size: 26px;
    font-family: $font-oswald;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 24px 0;

    sup {
      color: #726d8a;
      font-family: $font-open-sans;
      font-size: 9px;
      display: block;
      letter-spacing: 1px;
      padding-bottom: 2px;
    }

    &:first-child {
      padding-top: 6px;
    }
  }

  .currency {
    color: #726d8a;
  }

  hr {
    height: 1px;
    border: none;
    background: #726d8a;
    margin: 0 auto;
    width: 174px;
  }

  .balance-summary--action {
    margin: 6px 0;
    color: #fff;
  }
}
