/*doc
---
title: Button Styles
category: Buttons
---

Note: Buttons are inline-block by default. HR's added for spacing.

```html_example

<div class="button--medium">.buton--medium</div>
<hr />

<div class="button--medium--outline">.button--medium--outline</div>
<hr />

<div class="button--small">.button--small</div>
<hr />

<div class="button--small--outline">.button--small--outline</div>
<hr />

<div class="button--large">.buton--large</div>
<hr />

<div class="button--large--outline">.buton--large--outline</div>
```
*/




// Button Styles

// @extend
// -----------------------------------------------------

// extend from this to
// - prevent a button from wrapping text
// - have a default open sans font
// - proper touch handling
// - default animations
%button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: $font-open-sans;
  font-weight: 200;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    transition: none;
  }

  &:focus {
    // prevent the safari glow
    outline-width: 0;
  }
}

// extend from for white text, transparent border
%button--primary {
  background: $secondary-charcoal;
  // so that if outline mode needed, it doesn't change size
  border: 1px solid transparent;
  color: #fff;

  &:hover,
  &:focus {
    background: #38424a;
  }
}

// extend from for outline mode, aka gray border, white background
%button--outline {
  background: none;
  // so that if outline mode needed, it doesn't change size
  border: 1px solid $secondary-grey;
  color: #525c63;

  &:hover,
  &:focus {
    border-color: $secondary-charcoal;
    color: $secondary-charcoal;
  }
  &:focus {
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
}


// Mixins
.button--outline {
  @extend %button--outline;
}

.button--gradient-outline {
  @extend %button;
  background: none;
  border-color: #2dba74;
  color: #32c565;

  &:hover {
    color: #fff;
    border-color: #2dba74;
    background: #219d87; /* Old browsers */
    background: -moz-linear-gradient(left, #219d87 0%, #34cc68 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#219d87), color-stop(100%,#34cc68)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #219d87 0%,#34cc68 100%); /* IE10+ */
    background: linear-gradient(to right, #219d87 0%,#34cc68 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#219d87', endColorstr='#34cc68',GradientType=1 ); /* IE6-9 */
  }
}

.button--gradient {
  color: #fff;
  border: none;
  background: #219d87; /* Old browsers */
  background: -moz-linear-gradient(left, #219d87 0%, #34cc68 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#219d87), color-stop(100%,#34cc68)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #219d87 0%,#34cc68 100%); /* IE10+ */
  background: linear-gradient(to right, #219d87 0%,#34cc68 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#219d87', endColorstr='#34cc68',GradientType=1 ); /* IE6-9 */

}


// button sizes
// -----------------------------------------------------
%button--large {
  font-size: 13px;
  padding: 18px 0;
  width: 100%;
}

%button--medium {
  font-size: 9.5px;
  letter-spacing: 1.5px;
  min-width: 100px;
  padding: 11px 18px;
}

%button--small {
  font-size: 11px;
  padding: 10px 30px;
}

%button--mini {
  font-size: 10px;
  padding: 5px 20px;
}


// Button variations -- these are the only classes you should use.
// ---------------------------------------------------------------

.button--outline {
  @extend %button;
  @extend %button--outline;
}

// Large variations.
.button--large {
  @extend %button;
  @extend %button--large;
  @extend %button--primary;
}

.button--large--outline {
  @extend %button;
  @extend %button--large;
  @extend %button--outline;
}

// Medium variations.
.button--medium {
  @extend %button;
  @extend %button--medium;
  @extend %button--primary;
}

.button--medium--outline {
  @extend %button;
  @extend %button--medium;
  @extend %button--outline;
}

// Small variations.
.button--small {
  @extend %button;
  @extend %button--primary;
  @extend %button--small;
}

.button--small--outline {
  @extend %button;
  @extend %button--small;
  @extend %button--outline;
}

// Mini variations.
.button--mini {
  @extend %button;
  @extend %button--primary;
  @extend %button--mini;
}

.button--mini--outline {
  @extend %button;
  @extend %button--mini;
  @extend %button--outline;
}


// .button--green-outline {
//   border-color: #2dba74;
//   color: #32c565;
//
//   &:hover {
//     border-color: #2dba74;
//     color: #32c565;
//
//   }
// }
