/*doc
---
title: Button Styles
category: Buttons
---

Note: Buttons are inline-block by default. HR's added for spacing.

```html_example

TODO: Fix Me, if we care.

<div class="button button--flat-alt1">.buton--medium</div>
<hr />

<div class="button--medium--outline">.button--medium--outline</div>
<hr />

<div class="button--small">.button--small</div>
<hr />

<div class="button--small--outline">.button--small--outline</div>
<hr />

<div class="button--large">.buton--large</div>
<hr />

<div class="button--large--outline">.buton--large--outline</div>
```
*/


// Variables:
$button-box-shadow: 0px 5px 20px 0px rgba(22, 37, 48, 0.38);


/**
 * All buttons need to have the `.button` class. Then choose the style and size
 * with the classes below.
 */
.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $font-open-sans;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: opacity 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

  &:hover {
    text-decoration: none;
  }



  /**
   *
   * Styles
   * These determine the overall look of the button. Currently we have 3 main
   * styles [flat, gradient, outline], and each one has color variants.
   *
   */

  /**
   * Green Outline
   */
  &.button--outline {
    border: 1px solid #2dba74;
    color: #32c565;

    &:hover {
      background: linear-gradient(to right, #219d87 0%, #34cc68 100%);
      color: #fff;
      box-shadow: $button-box-shadow;
    }

    &.button--working {
      background: linear-gradient(to right, #219d87 0%, #34cc68 100%);
      color: #fff;

      &:hover {
        box-shadow: none;
      }
    }

    &.button--disabled {
      opacity: .50;

      &:hover {
        background: none;
        color: #32c565;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }

  /**
   * Gray Outline.
   */
  &.button--outline-alt1 {
    border: 1px solid #9fa2b3;
    color: #5c6075;

    &:hover {
      background-color: #9fa2b3;
      color: #fff;
      box-shadow: $button-box-shadow;
    }
  }

  /**
   * Green Gradient Background
   */
  &.button--gradient {
    color: #fff;
    background: linear-gradient(to right, #219d87 0%, #34cc68 100%);

    &:hover {
      background: linear-gradient(to right, #23a48d 0%, #37d76e 100%);
      box-shadow: $button-box-shadow;
    }

    &.button--working {
      color: #eee;

      &:hover {
        box-shadow: none;
      }
    }

    &.button--disabled {
      background: #c6c6d0;
      color: #fff;
      transition: none;

      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }

  /**
   * Green Flat Background.
   */
  &.button--flat {
    color: #fff;
    background: #26c661;

    &:hover {
      background: #22ba5a;
      box-shadow: $button-box-shadow;
    }

    &.button--disabled {
      background: #c6c6d0;
      color: #fff;
      transition: none;

      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }

  /**
   * Flat dark blue Background.
   */
  &.button--flat-alt1 {
    color: #fff;
    border: none;
    background: #162530;

    &:hover {
      background: #1f3645;
      box-shadow: $button-box-shadow;
    }

    &.button--disabled,
    &:disabled {
      background: #c6c6d0;
      color: #fff;
      transition: none;

      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }



  /**
   *
   * Alternative States
   *
   * Any style altering states.
   */

  /**
   * Working - shows a wait cursor.
   */
  &.button--working {
    &:hover {
      cursor: wait;
    }
  }

  // This probably doesn't really work.
  &.button--continue {
    &::after {
      content: "";
      display: inline-block;
      background: url('../img/account/arrow.png') no-repeat center;
      background-size: auto 12px;
      height: 12px;
      width: 25px;
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

  /**
   * Sizes
   *
   * Determines font & padding sizes.
   */
  &.button--lrg {
    font-size: 13px;
    padding: 18px 0;

    &.button--outline {
      padding: 17px 0;
    }
  }

  &.button--med {
    font-size: 10px;
    padding: 15px 18px;

    &.button--outline {
      padding: 14px 18px;
    }

  }

  &.button--sm {
    font-size: 10px;
    padding: 8px 15px;

    &.button--outline {
      padding: 7px 15px;
    }

  }

  &.button--xs {
    font-size: 9px;
    padding: 4px 10px;

    &.button--outline {
      padding: 3px 10px;
    }
  }


  /**
   * Lengths
   *
   * I just kinda guessed these numbers - the only one that is currently used
   * and needs to stay is .button--med-len.
   */
  &.button--lrg-len {
    width: 100%;
  }

  &.button--med-len {
    min-width: 268px;
  }

  &.button--sm-len {
    min-width: 150px;
  }

  &.button--xs-len {
    min-width: 100px;
  }

  /**
  Height
 */
  &.button--tall {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}


