@import "../variables.scss";

/**
 * The search filter on a store.
 */
.cmp-collection-search-filter {
  background: url(../img/common/icon-search.svg) no-repeat 20px 8px;
  background-size: 14px auto;
  border-left: 1px solid #ebedf2;
  cursor: pointer;
  float: right;
  margin-left: 20px;
  opacity: .85;
  padding: 5px 0 5px 45px;

  &:hover {
    opacity: 1;
  }

  &__sliding-door {
    width: 0;
    overflow: hidden;
    transition: width .4s;
  }

  &__input {
    &:focus {
      // prevent the safari glow
      outline-width: 0;
      border: 0px solid transparent;
      -moz-border-image: -moz-linear-gradient(right, #1f907c 0%, #34cc68 100%);
      -webkit-border-image: -webkit-linear-gradient(right, #1f907c 0%, #34cc68 100%);
      border-image: linear-gradient(to right, #1f907c 0%, #34cc68 100%);
      border-image-slice: 1;
      border-bottom: 2px solid;

      }

    // remove focused outline in firefox.
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    -moz-appearance: none;
    -webkit-appearance:none;

    color: $primary-text;
    width: 120px;
    border: none;
    border-bottom: 1px solid #ebedf2;
    font-size: 14px;
  }
}


.cmp-collection-search-filter--active {
  cursor: default;
  opacity: 1;

  .cmp-collection-search-filter__sliding-door {
    width: 120px;
  }
}
