/*doc
---
title: Lineup Card
category: Lineup
---

```html_example

<div class="cmp-lineup-card">

</div>

```
*/



@import "../variables.scss";


.cmp-lineup-card {
  background: #fff;
  color: #293f4f;
  margin: 0 auto 10px;
  &.nfl{
    .cmp-lineup-card {
      &__photo {
        padding: 0 5px;
        vertical-align: bottom;
      }
    }
  }
  .players {
    list-style: none;
    margin: 0;
    min-height: 330px;
    padding: 0;
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

  &__player {
    display: table-row;
    list-style: none;
    margin: 0;
    &:hover {
      background-color: #f8fafb;
    }
    .team > span{
      display: inline;
      font-size: 10px;
      padding-left: 5px;
    }
    > span {
      vertical-align: middle;
    }
    .circle {
      margin-top: 5px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      overflow: hidden;
      border: 1px solid rgba(109, 113, 138, .5);
      .cmp-lineup-card {
        &__photo {
          overflow: hidden;
          padding: 0;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          vertical-align: middle;
          display: block;
          background-size: cover;
          background-position: center;

        }
      }
    }
    .score{
      padding: 0;
      text-align: center;
      .text{
        padding: 0;
        text-align: center;
      }
    }
  }

  &__header {
    position: relative;
    padding: 25px 15px 5px;
    min-height: 55px;
    box-shadow: 0 5px 50px 0 rgba(0,0,0,.08);
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: inline-block;

    .cmp-countdown-clock {
      color: #c5c7ce;
      float: right;

      .hours {
        color: #c5c7ce;
      }
      .minutes,
      .seconds {
        color: #fff;
      }
    }

    .cmp-sport-icon {
      margin-right: 10px;
    }
  }


  // Lineup action icons
  .actions-menu-container {
    height: 36px;
    position: absolute;
    right: 15px;
    top: 22px;
    width: 50px;
    text-align: right;

    .actions {
      list-style: none;
      margin: 0;
      padding: 0;

      .action {
        display: inline-block;
        &:hover {
          opacity: .75;
        }
      }

      li {
        display: inline-block;
      }
    }
  }


  // Feedback tooltip.
  .tooltip {
    width: 280px;
  }

  &__plus {
    position: absolute;
    right: 15px;
  }

  &__save {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 5px 15px;
    &.disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        background: #fff;
        color: #32c565;
      }
    }
  }

  &__player {
    &:first-child {
      border-top: 1px solid #ebedf2;
    }

    border-bottom: 1px solid #ebedf2;
    font-size: 13px;
    padding: 5px 5px;
    width: 100%;

    > span {

      &:first-child {
        padding-left: 15px;
        padding-right: 15px;
      }

      &:last-child {
        padding-right: 15px;
      }

      display: table-cell;
      padding: 5px 5px;
      &.cmp-lineup-card__name-game{
        padding-left: 10px;
      }
    }

  }

  &__position {
    color: #9c9faf;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
  }

  &__photo {
    width: 50px;
    height: 41px;
    overflow: hidden;
    padding: 0 5px;
    vertical-align: bottom;

    img {
      vertical-align: bottom;
      padding: 0;
      margin: 0;
      max-width: 50px;
      line-height: 0;
      display: block;
      height: 35px;
      width: auto;
    }
  }

  &__game,
  &__name,
  &__salary,
  &__average,
  &__emvalue,
  &__position {
    vertical-align: middle;
  }

  &__name {
    font-size: 12px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
  }

  &__game {
    color: #9c9faf;
    font-size: 9px;
    margin: 0;
    padding: 0;

    .players-team {
      font-weight: 700;
    }
  }

  &__name-game {
    width: 100%;
    padding: 5px 5px 5px 10px;
    vertical-align: top;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;

    .name {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 120px;
      line-height: 1em;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .game {
      color: #9c9faf;
      display: block;
      font-size: 9px;
      line-height: 1em;
    }

    .players-team {
      font-weight: 700;
    }
  }

  &__salary,
  &__emvalue,
  &__average {
    font-family: $font-oswald;
    line-height: 1em;

    .text {
      display: block;
      width: 40px;
    }
  }

  &__average,
  &__emvalue{
    .text {
      text-align: right;
      padding-right: 10px;
    }
  }

  &__delete {
    // hidden by default.
    display: none !important;
    cursor: pointer;
    padding: 0px 15px 0 5px !important;
    text-align: center;

    &:hover {
      opacity: .8;
    }

    .icon {
      position: relative;
      top: 0px;
      background: url(../img/blocks/lineup-card/icon-delete.png) no-repeat 50% 0;
      background-size: 23px auto;
      height: 23px;
      // left: 50%;
      // margin-left: -15px;
      width: 40px;
    }
  }


  // Footer section.
  &__footer {
    padding: 15px 0;
    display: flex;
    flex-justify: center;
    align-items: stretch;
    box-shadow: 0 -5px 50px 0 rgba(0,0,0,.05);
  }

  &__footer-section {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      font-family: $font-oswald;
      border-right: 1px solid #ebedf2;
      text-align: center;
      width: 100%;
      display: block;
      &:last-child {
        border-right: none;
      }
  }

  &__footer-title {
    font-family: $font-open-sans;
    color: #b4b7c4;
    text-transform: uppercase;
    font-size: 9px;
    display: block;
  }

  .cmp-countdown-clock {
    .hours {
      color: #9c9faf;
    }
  }

  // Expanded CTA version.
  &--create {
    border: 1px solid #252c3d;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(35,45,61,0.7);
    -moz-box-shadow: 0px 0px 20px 5px rgba(35,45,61,0.7);
    box-shadow: 0px 0px 20px 5px rgba(35,45,61,0.7);

    .cmp-lineup-card__header {
      text-align: left;
    }

    .cmp-lineup-card__title {
      color: #fff;
      font-family: $font-oswald;
      font-size: 46px;
      padding: 15px;
      text-align: left;
      text-transform: uppercase;
      line-height: 1.1em;

      &:before {
        content: '';
        padding: 0;
        margin: 0;
        width: 0;
      }
    }

    .button {
      color: #fff;
      display: block;
      font-size: 10px;
      margin: 150px 30px 25px;
      text-transform: uppercase;
      position: relative;

      a {
        color: #fff;
        text-decoration: none;
        display: block;
      }

      > span {
        display: block;
      }

      .right {
        position: absolute;
        top: 7px;
        right: 15px;
      }
    }
  }

  &__list-header {
    color: #6d718a;
    text-align: right;

    &-average,
    &-salary,
    &-remove,
    &-contest,
    &-fee {
      font-size: 7px;
      text-transform: uppercase;
    }
  }

  // Expanded sport-specific versions.
  &--create__nba {
    background: url(../img/blocks/lineup-card/draft-cta-bg-nba.jpg) #161922 no-repeat;
    background-size: 100% auto;
    min-height: 450px;
  }

  &--create__mlb {
    background: url(../img/blocks/lineup-card/draft-cta-bg-nba.jpg) #161922 no-repeat;
    background-size: 100% auto;
    min-height: 450px;
  }

  &--create__nhl {
    background: url(../img/blocks/lineup-card/draft-cta-bg-nba.jpg) #161922 no-repeat;
    background-size: 100% auto;
    min-height: 450px;
  }

  &--create__nfl {
    background: url(../img/blocks/lineup-card/draft-cta-bg-nba.jpg) #161922 no-repeat;
    background-size: 100% auto;
    min-height: 450px;
  }

  &__footer {
    padding: 0 15px;

    &-section {
      padding: 12px 15px;
    }
  }
}


// When in the draft section, this is the new lineup card that you are creating.
.cmp-lineup-card--new {

  .cmp-lineup-card {

    &__player > span {

      &:first-child {
        padding-left: 15px;
      }

    }

    &__header {
      padding: 15px 15px 0px;
    }

    // Editable title input field.
    &__title {
      &:before {
        background: url('../img/common/icon-pencil.png') no-repeat;
        background-size: 16px auto;
        content: " ";
        width: 16px;
        height: 16px;
        display: inline-block;
        text-align: center;
        position: relative;
        top: 10px;
      }

      &:hover:before {

      }
    }


    &__title-input {
      color: #46495e;
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      border: 0px solid transparent;
      max-width: 170px;
      padding: 10px 15px 0px 10px;

      &::placeholder {
        transition: color .25s;
        color: #46495e;
      }


      &:hover {
        &::placeholder {
          color: #babdc9;
        }

        // background: #eee;
      }

      &:focus {
        // -moz-border-image: -moz-linear-gradient(right, #1f907c 0%, #34cc68 100%);
        // -webkit-border-image: -webkit-linear-gradient(right, #1f907c 0%, #34cc68 100%);
        // border-image: linear-gradient(to right, #1f907c 0%, #34cc68 100%);
        // border-image-slice: 1;
        // border-bottom: 2px solid;

        &::placeholder {
          color: #babdc9;
        }
      }
    }

    // Player row
    &__player {
      // With a player.
      &.occupied {
        &:hover {
          background: #f8fcf8;

          .cmp-lineup-card {
            &__delete {
              display: table-cell !important;
            }

            &__average {
              display: none;
            }
          }
        }
      }

      // an empty player row.
      &.vacant {

      }
    }

    &__average {
      padding-right: 15px !important;
    }

    &__team {
      color: #9c9faf;
    }

  }

  .cmp-lineup-card__footer-section {
      //display: inline-block;
      //width: 50%;
      //font-size: 18px;
      //font-family: $font-oswald;
      //
      //&:first-child {
      //  border-right: 1px solid #ebedf2;
      //}

      &.negative {
        color: $primary-red;
      }
  }

  .cmp-lineup-card__footer-title {
    font-family: $font-open-sans;
    color: #b4b7c4;
    text-transform: uppercase;
    font-size: 9px;
    display: block;
  }
}


.lineup-sidebar-list {
    //margin-top: 110px;
}


.icon-flip {
  background: url('../img/common/icon-lineup-actions.png') no-repeat top right;
  background-size: 48px auto;
  width: 24px;
  height: 19px;
  cursor: pointer;
}

.icon-flop {
  background: url('../img/common/icon-flop.png') no-repeat;
  background-size: 18px auto;
  width: 18px;
  height: 19px;
  cursor: pointer;
}

.icon-edit {
  background: url('../img/common/icon-lineup-actions.png') no-repeat top left;
  background-size: 48px auto;
  width: 24px;
  height: 19px;
  cursor: pointer;
}



/**
 * 'Enter Contest' & Contest Detail Pane Hover Styles.
 */
 .section-lobby.page-lobby.appstate--pane--open,
 body.appstate-enterContestButtonHover {
   .sidebar {
     .cmp-lineup-card.cannot-enter {
       opacity: .3;
     }
     // The currently focused lineup should ALWAYS be 100% opaque.
     .cmp-lineup-card--expanded {
      opacity: 1 !important;
     }

     .cmp-lineup-card--expanded,
     .cmp-lineup-card--create {
       box-shadow: 0px 0px 10px 2px rgba(45, 186, 116, 1);
       opacity: 1;
     }

   }
 }


/*
  Lineup Card Flip.
  Source: https://davidwalsh.name/css-flip
 */
.cmp-lineup-card.flip-container {
  perspective: 1000px;
  background: none;
  width: 100%;

  /* flip the card when .flipped class is added. */
  &.flipped {
    .flipper {

      transform: rotateY(-180deg);
    }
  }

  // The element that flips.
  .flipper {
    position: relative;
  	transform-style: preserve-3d;

    display: flex;
    align-items: stretch;
  }

  .front,
  .back {
    /* hide back of pane during swap */
  	backface-visibility: hidden;
  	// min-height: 510px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* front pane, placed above back */
  .front {
    background: #fff;
  	/* for firefox 31 */
    z-index: 2;
    .cmp-lineup-card__list-header {
      &-salary{
        display: inline-block;
        width: 40px;
        text-align: center;
      }
    }
  }

  .back {
  	left: 0;
    background: #4c555f;
    color: white;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .cmp-lineup-card__header {
      box-shadow: 0px 7px 42px 0px rgba(21, 23, 36, 0.3);
      z-index: 2;
    }

    .cmp-lineup-card__list-header {
      text-align: left;

      > span {
        color: #c5c7ce;
        display: inline-block;
        &:last-child{
          text-align: right;
        }
      }

      &-remove {
        width: 15%;
      }
      &-contest {
        width: 75%;
      }

      &-fee {
        width: 10%;
        text-aiign: right;
        padding-right: 5px;
      }

    }

    .cmp-lineup-card-entries {
      flex: 1;
      height:100%;
      overflow: auto;
      width:100%;
    }

    .entry-list {
      height: auto;
      .entry{
        .prize{
          text-align:right;
        }
      }
    }

    .cmp-lineup-card__footer {
      background: #4c555f;
      border-top: 1px solid #5f626d;
      bottom: 0px;
      box-shadow: 0px -7px 42px 0px rgba(21, 23, 36, 0.3);
      position: fixed;
      width: 100%;
      z-index: 1;

      &-section {
        border-color: #5f626d;

      }
    }

    .cmp-countdown-clock {
      .minutes,
      .seconds {
        color: #fff;
      }

      .hours {
        color: #c5c7ce;
      }
    }
  }
}

.flip-container {
  .flipper, .front, .back {
    transition: 0.6s;
  }

  .flipper {
    position: relative;
    transform: rotateY(0deg) translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transform-origin: center center;

    .front {
      filter: blur(0px);
    }

    .back {
      filter: blur(20px);
    }
  }

  &.hover .flipper {
    transform: rotateY(180deg) translate3d(0, 0, 0);

    .front {
      filter: blur(20px);
      z-index:0;
    }

    .back {
      filter: blur(0px);
      z-index: 1;
    }
  }
}




/**
 * Draft Page lineup card overrides
 */
body.section-lobby.page-draft {
  .cmp-lineup-card--new .tooltip {
    top: -7px;
    margin-right: -225px;
    width: 240px;
  }
}



// Anything lower than 1024px,
@media (max-width: $break-laptop) {
  .lineup-sidebar-list {
    margin-top: 175px;
  }
}
