@import "../variables.scss";
$table-row-hover-bg: #f9fafb;


/**
 * Contest List.
 */
.cmp-contest-list {
  font-size: 12px;
  padding-bottom: 40px;

  .active {
    background: $table-row-hover-bg;
  }

  &__row {

    &.highlight {
        background: #f3faf4;
    }

    &:hover {
      background: $table-row-hover-bg !important;
      cursor: pointer;

      .button-multi input {
        color: #fff;
        background: #219d87; /* Old browsers */
        background: -moz-linear-gradient(left, #219d87 0%, #34cc68 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #219d87), color-stop(100%, #34cc68)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #219d87 0%, #34cc68 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #219d87 0%, #34cc68 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #219d87 0%, #34cc68 100%); /* IE10+ */
        background: linear-gradient(to right, #219d87 0%, #34cc68 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#219d87', endColorstr='#34cc68', GradientType=1); /* IE6-9 */
      }
    }
  }

  .sport {
    width: 40px;
  }

  .icon-mlb,
  .icon-nfl,
  .icon-nba {
    background: url(../img/common/nba.svg) no-repeat bottom center;
    background-size: 13px auto;
    display: block;
    height: 13px;
    width: 13px;
    color: transparent;
    font-size: 0px;
  }

  .prizes {
    color: $primary-green;
  }

  .enter {
    cursor: default;
    .button {
      text-transform: uppercase;
    }
  }

  // the button for when a contest is 'entered'
  .disabled {
    cursor: default;
  }


}


/**
 * Contest list filters.
 */

// Contest Type
.contest-list-filter--contest-type {
  float: left;
}


// Contest Sport
.contest-list-filter--sport {
  display: block;
  width: 100%;
  z-index: 100;

  .contest-sport-filter {
    padding: 0;
  }

  &__title {
    color: #6d718a;
    font-size: 9px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }

}




/**
 * Contest list detail sidebar pane.
 */
.cmp-contest-list__detail {

  &-header {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .contest-info {
    text-align: center;
    > span {
      display: inline-block;
      padding: 20px;
    }
  }

  &-upper {
    color: #fff;
    background: #1d242b;
  }

  &-lower {
    padding: 20px 45px;

    .tab-nav {
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      color: #b0b2c1;
      padding-bottom: 40px;

      li {
        margin: 5px 20px;
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: #262a3b;
        }

        &.active {
          color: #262a3b;
          border-bottom: 1px solid #e0e3eb;
        }
      }
    }
  }


}


.cmp-prize-structure {

  .header {
    background: #d0d3db;
    color: #fff;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 7px 10px;

    > span {
      display: table-cell;
      width: 100%;
      letter-spacing: .1em;
    }

    .place {
      font-weight: 600;
      text-align: left;
    }

    .prize {
      text-align: right;
    }
  }

  ul {
    display: table;
    column-count: 2;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: table-row;
    font-size: 12px;
    line-height: 2em;
    width: 100%;

    > span {
      font-size: 11px;
      width: 100%;
      display: table-cell;
      padding: 10px;
      border-bottom: 1px solid #ebedf2;

      &.place {
        font-weight: 600;
        text-align: left;
      }

      &.prize {
        text-align: right;
      }
    }

  }
}
