@import "../variables.scss";
$table-row-hover-bg: #f9fafb;


/**
 * Contest List.
 */
.cmp-contest-list {
  font-size: 12px;
  padding-bottom: 40px;

  .active {
    background: $table-row-hover-bg;
  }

  &__row {

    &.highlight {
        background: #f3faf4;
    }

    .enter {
      cursor: default;
      .button {
        @extend %button--outline;
        @extend %button--mini;
        background: none;
        border-color: #2dba74;
        color: #26c661;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;

        &.entered {
          color: #fff;
          background: #219d87; /* Old browsers */
          background: -moz-linear-gradient(left, #219d87 0%, #34cc68 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,#219d87), color-stop(100%,#34cc68)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left, #219d87 0%,#34cc68 100%); /* IE10+ */
          background: linear-gradient(to right, #219d87 0%,#34cc68 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#219d87', endColorstr='#34cc68',GradientType=1 ); /* IE6-9 */

          &:hover {
            border-color: #2dba74;
          }
        }
      }
    }


    &:hover {
      background: $table-row-hover-bg !important;
      cursor: pointer;

      .enter .button {

        color: #fff;
        background: #219d87; /* Old browsers */
        background: -moz-linear-gradient(left, #219d87 0%, #34cc68 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#219d87), color-stop(100%,#34cc68)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #219d87 0%,#34cc68 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #219d87 0%,#34cc68 100%); /* IE10+ */
        background: linear-gradient(to right, #219d87 0%,#34cc68 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#219d87', endColorstr='#34cc68',GradientType=1 ); /* IE6-9 */

        &:hover {
          border-color: #2dba74;
        }
      }

      .button-multi input {
        color: #fff;
        background: #219d87; /* Old browsers */
        background: -moz-linear-gradient(left, #219d87 0%, #34cc68 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #219d87), color-stop(100%, #34cc68)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #219d87 0%, #34cc68 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #219d87 0%, #34cc68 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #219d87 0%, #34cc68 100%); /* IE10+ */
        background: linear-gradient(to right, #219d87 0%, #34cc68 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#219d87', endColorstr='#34cc68', GradientType=1); /* IE6-9 */
      }
    }
  }

  .sport {
    width: 40px;
  }

  .icon-mlb,
  .icon-nfl,
  .icon-nba {
    background: url(../img/common/nba.svg) no-repeat bottom center;
    background-size: 13px auto;
    display: block;
    height: 13px;
    width: 13px;
    color: transparent;
    font-size: 0px;
  }

  .prizes {
    color: $primary-green;
  }


  // the button for when a contest is 'entered'
  .disabled {
    cursor: default;
  }


  // Row update animations.
  // https://github.com/ordishs/react-animation-example
  @keyframes flash1 {
      0% {
          background-color: red;
      }
      100% {
          background-color: white;
      }
  }

  @keyframes flash2 {
      0% {
          background-color: red;
      }
      100% {
          background-color: white;
      }
  }

  .flash1, .flash2 {
      animation-duration: 2s;
      animation-timing-function: ease-out;
  }

  .flash1 {
      animation-name: flash1;
  }

  .flash2 {
      animation-name: flash2;
  }

}


/**
 * Contest list filters.
 */

// Contest Type
.contest-list-filter--contest-type {
  float: left;
}


// Contest Sport
.contest-list-filter--sport {
  display: inline-block;
  z-index: 100;

  .contest-sport-filter {
    padding: 0 5px 0 0;
  }

  &__title {
    color: #6d718a;
    font-size: 9px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }

}
