@import "../variables.scss";
/**
 * This is the header that displays the current filters
 */
.cmp-contest-list__header {

  .title {
    color: #9295a6;
    display: block;
    font-family: $font-open-sans;
    font-size: 10px;
    font-weight: 500;
    padding-bottom: 0;
    position: relative;
    text-transform: uppercase;
  }

  .cmp-skill-level-filter {
    display: inline-block;
  }

  .cmp-collection-match-filter {
    font-family: $font-oswald;

    &__option {
      font-size: 25px;
    }
  }

  &-type {
    background: url(../img/common/select-arrow.png) no-repeat 100% 50%;
    background-size: 7px auto;
    padding-right: 12px;
    color: #46495e;
    cursor: pointer;
    font-family: $font-open-sans;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;

    &:hover {
      color: #26c661;
    }
  }

  .help {
    text-align: center;
    display: inline-block;
    color: #1a1e30;
    font-size: 10px;
    border: 1px solid #d0d3db;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    position: relative;
    top: -12px;

    &:hover {
      cursor: pointer;
    }
  }

  .icon-key {
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 17px;

    .fairmatch {
      display: inline-block;
      color: #46495e;
      font-weight: 700;
      border: 1px solid #d4d7e3;

      &:hover {
        background: #f7f8fa;
        box-shadow: none;
      }
    }
  }

}
