@import "../variables.scss";


.draft-player-detail {


  &__tabs {
    font-size: 12px;
    padding: 25px 45px;
    position: relative;
    background: #fff;
    z-index: 20;
  }

  .player-reports {
    text-align: left;

    .header {

    }

    .byline {

    }

    .title {

    }

    .content {

    }

  }


  .pane-lower {
    padding: 20px 45px;

    .tab-nav {
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      color: #b0b2c1;
      padding-bottom: 40px;

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        margin: 5px 20px;
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: #262a3b;
        }

        &.active {
          color: #262a3b;
          border-bottom: 1px solid #e0e3eb;
        }
      }
    }


    // pane__content__tab_content
    .tab-content {
      thead tr th {
        color: white;
      }
    }
  }

}
