@import "../variables";

$nav-scoreboard-height: 54px;
$nav-scoreboard-background-color: #1a1e30;
$nav-scoreboard-secondary-font-color: #a6aab3;
$nav-scoreboard-separator-color: #292c39;
$nav-scoreboard-foreground-color: #25A758;

.cmp-nav-scoreboard {
  color: #fff;
  height: $nav-scoreboard-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-nav-scoreboard;

  &:after {
    content: '';
    position: relative;
    height: $nav-scoreboard-height;
    width: 100%;
  }

  // We need a single top-level element that react renders to (aaaannoying).
  .inner {
    background: $nav-scoreboard-background-color;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &--separator {
    border-left: solid 1px $nav-scoreboard-separator-color;
    display: inline-block;
    height: $nav-scoreboard-height;
    transform: scale(1) skewX(-15deg);
    margin: 0 15px 0 10px;

    &.half {
      transform: scale(0.5) skewX(-15deg);
    }
  }

  &--logged-out-info {
    a {
      text-transform: uppercase;
      font-size: 10px;
      color: #fff;
      padding: 0 10px;
      display: inline-block;
      line-height: 5.4;  // line-height is ratio of height of nav / font size
    }
  }

  &--shadow {
    transform: scale(1) skewX(-15deg);
    height: $nav-scoreboard-height;
    display: inline-block;
    position: absolute;
    left: 38px;
    width: 60px;
    z-index: -1;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 38%,rgba(0,0,0,0) 100%);

    &.right {
      left: -51px;
      background: linear-gradient(to left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 38%,rgba(0,0,0,0) 100%);
    }
  }

  &--menu {
    height: $nav-scoreboard-height;
    position: relative;
    width: $nav-scoreboard-height;

    .mobile-forum-hamburger {
      position: absolute;
      top: 16px;
      left: 23px;

      > svg {
        cursor: pointer;
      }

      .line-top,
      .line-middle,
      .line-bottom,
      .x-bottom {
        transform-origin: 9pt 6pt;
        transition: all 0.2s ease-in-out;
      }

      .x-bottom {
        opacity: 0;
      }

      &.closed {
        .line-top {
          transform: rotate(-45deg);
        }
        .x-bottom {
          opacity: 1;
          transform: rotate(45deg);
        }

        .line-middle,
        .line-bottom {
          opacity: 0;
        }
      }
    }
  }

  &--user-info {
    display: inline-block;
    font-size: 11px;
    z-index: 120;
    height: $nav-scoreboard-height;
    padding: 0px 15px 0 10px;
    line-height: $nav-scoreboard-height;
    white-space: nowrap;

    .name {
      color: $nav-scoreboard-secondary-font-color;
      display: inline-block;
      margin-right: 36px;
    }

    .balance {
      cursor: pointer;
      display: inline-block;
      font-family: $font-oswald;
      position: relative;
      text-align: center;
      text-decoration: none;
      top: 16px;
      transition: all 0.2s ease-in-out;
      color: white;
      font-size: 12px;
      line-height: 15px;

      &-amount {
      }

      .add-funds {
        color: $nav-scoreboard-foreground-color;
        display: block;
        font-size: 10px;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        position: relative;
        top: 10px;
        transition: all 0.2s ease-in-out;

        .add-funds {
          transform: translateY(2px);
          opacity: 1;
        }
      }
    }
  }

  // Wrapper for dropdowns
  &--filters {
    display: inline-block;
    font-size: 9.5px;
    letter-spacing: 1.2px;
    z-index: 120;
    white-space: nowrap;

    .select-list {
      height: $nav-scoreboard-height;
      padding: 0 12px;

      &--selected {
        padding: 21px 0 0;
        text-transform: uppercase;

        .down-arrow-icon {
          display: inline-block;
          margin-left: 26px;
          transform: rotate(-90deg);

          line {
            stroke: #5b5f70;
          }
        }
      }
    }
  }

  // Sport selection dropdown
  &--sport-nav {
    display: inline-block;
  }

  &--slider {
    width: calc(100% - 130px - 210px - 65px - 150px);

    position: relative;
    display: inline-block;
    height: $nav-scoreboard-height;
    white-space: nowrap;
    overflow: hidden;

    .cmp-nav-scoreboard--separator {
      border-left: solid 1px $nav-scoreboard-separator-color;
      vertical-align: middle;
    }

    .slider-content {
      display: inline-block;
      height: $nav-scoreboard-height;
      overflow: hidden;
      min-width: 300px;
      max-width: calc(100% - 100px);
      padding-right: 52px;

      &--holder {
        position: relative;
        left: 0px;
        transition: left 1s;
      }

      &.not-scrollable {
        padding-right: 0px;
        min-width: initial;

        .cmp-nav-scoreboard--separator:last-child {
          display: none;
        }
      }
    }

    .arrow {
      cursor: pointer;
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 2;

      &:hover .icon line {
        stroke: #7f86a5;
      }

      &.not-scrollable {
        cursor: auto;

        &.right div.cmp-nav-scoreboard--separator:first-child, svg {
          display: none;
        }

        &.left div.cmp-nav-scoreboard--separator:first-child, svg {
          visibility: hidden;
        }
      }

      .left-arrow-icon, .right-arrow-icon {
        display: inline-block;

        cursor: pointer;
        width: 11px;
        height: 11px;
        position: absolute;
        top: 22px;
        left: 19px;
        z-index: 2000;

        line {
          stroke: #5b5f70;
        }
      }

      .right-arrow-icon {
        transform: rotate(180deg);
      }
    }
  }

  &--games-list {
    display: inline-block;

    .game {
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      padding: 14px 5px 10px;
      overflow: hidden;
      vertical-align: top;

      .left {
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
      }
      &--is-live {
        .left {
          margin-right: 20px;
        }
      }

      .scores {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
    }
  }

  &--lineups-list {
    display: inline-block;

    .lineup {
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      padding: 12px 20px;
      height: $nav-scoreboard-height;
      overflow: hidden;

      .left {
        display: inline-block;
        margin-right: 30px;
        text-transform: uppercase;

        .header {
          font-size: 9.5px;
          display: inline-block;
          color: #babdc9;
          letter-spacing: 1px;
        }

        .name {
          font-weight: bold;
          color: #fff;
        }
      }

      .right {
        font-size: 12px;
        font-family: $font-oswald;
        display: inline-block;
        position: relative;
        top: -6px;

        .unit {
          color: #5b6374;
        }

        .balance {
          color: #26c661;
        }
      }
    }
  }

  &--logo {
    min-width: 150px;
    max-width: 150px;
    display: inline-block;

    color: $nav-scoreboard-secondary-font-color;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: $nav-scoreboard-height;

    .logo {
      display: inline-block;
      background: url('../img/blocks/nav-scoreboard/nav-scoreboard-logo.png');
      background-size: 25px auto;
      width: 25px;
      height: 23px;
      position: relative;
      top: 7px;
      margin: 0 5px 0 15px;
    }

    .text {
      display: inline-block;
    }
  }
}

// TODO: These should maybe be abstracted out to generic fake select lists.
.select-list {
  position: relative;

  &--options {
    background: $nav-scoreboard-background-color;
    display: none;
    top: 54px;
    left: -24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 202px;
    box-shadow: 0px 0px 50px -7px #000;

    &.visible {
      display: block;
    }

    li {
      padding: 22px;
      cursor: pointer;
      border-bottom: solid 1px #393f4d;
      color: #a6aab3;
      font-size: 9.5px;
      letter-spacing: 1.2px;
      text-transform: uppercase;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: white;
        background: #1F2231;
      }

      .counter {
        position: absolute;
        right: 20px;
      }
    }

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #272b3a;
      position: absolute;
      top: -8px;
      left: 8%;
    }
  }
}


@media (max-width: 960px) {
  .cmp-nav-scoreboard--slider,
  .cmp-nav-scoreboard--filters {
    display: none;
  }
}
