@import "../variables.scss";


.cmp-player-list {

  &__table {
    margin-top: 25px;
  }

  &__row {
    color: #46495e;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    .draft {
      width: 58px;
      cursor: default;
    }

    .position {
      font-size: 9px;
      font-weight: 700;
      padding-left: 5px;
      padding-right: 5px;
      width: 10px;
    }

    .photo {
      font-size: 50px;
      line-height: 0;
      overflow: hidden;
      padding-bottom: 0;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      width: 60px;
      vertical-align: bottom;

      img {
        max-width: 50px;
      }
    }

    .name {
      padding-left: 5px;

      .player {
        font-size: 14px;
      }

      .team {
        color: #babdc9;
        font-size: 12px;
      }
    }

    .status {
      color: #e42e2f;
      font-weight: 700;
      font-size: 11px;
      text-transform: capitalize;

      &.positive {
        color: $primary-green;
      }
    }

    .game {
      font-size: 11px;

      .player-team {
        font-weight: 700;
      }
    }

    .status {
      min-width: 100px;
    }

    .history {
      width: 65px;
    }

    .cmp-sparkline {
      width: 45px;
      display: block;
    }

    .salary.over-budget {
      color: red;
    }

    .draft-button {
      cursor: pointer;
      width: 28px;
      height: 28px;
      background: url('../img/blocks/draft-list/btn-add-remove.png') no-repeat;
      background-size: auto 28px;
      text-indent: -9999px;
      overflow: hidden;

      &.remove {
        background-position: top right;
      }
    }
  }
}


// Page header
.player-list__header {
  display: inline-block;
  font-family: $font-open-sans;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
  padding: 0px;

  &-title {
    font-family: $font-oswald;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-divider {
    padding: 0 10px;
    display: inline-block;
    color: #babdc9
  }

  &-games {
    background: url(../img/common/select-arrow.png) no-repeat 100% 50%;
    background-size: 7px auto;
    padding-right: 12px;
    color: #46495e;
    cursor: pointer;
  }
}


// Player list filters.
.player-list-filter-set {
  display: inline-block;
  float: right;

  .export-button {
    background: white;
  }

  // Search
  .cmp-collection-search-filter {
    float: none;
    display: inline-block;
    border: none;
    margin-right: 0px;
    padding-right: 15px;
    position: relative;
    top: 3px;

  }

  // Player position radio.
  .cmp-player-position-filter {
    float: none;
    display: inline-block;
    padding-bottom: 0;
    position: relative;
    top: -4px;
  }

}


.cmp-probable-pitchers-filter {
  display: inline-block;
  position: relative;
  padding-right: 10px;

  .radio-button-list__button-container {
    input, label, .text_label {
      display: inline-block;
    }

    label {

    }

    .text_label {
      font-size: 12px;
      cursor: pointer;
      vertical-align: top;
      top: 5px;
      position: relative;
      padding-right: 15px;

    }
  }
}


.cmp-draft-countdown {
  display: inline-block;
  position: relative;

  .cmp-countdown-clock {
    display: inline-block;
    font-family: $font-oswald;
    font-size: 17px;
    font-weight: 700;
    min-width: 90px;
    padding-left: 15px;
    text-transform: uppercase;

    &:before {
      border-left: 1px solid #e8eaef;
      content: " ";
      display: block;
      height: 50px;
      left: 0px;
      position: absolute;
      top: -15px;
      width: 1px;
    }

    .hours {
      color: #9698ab;
    }

    .minutes {

    }

    .seconds {

    }
  }
}

// Break the filters down to a separate line as soon as they can't fit.
@media (max-width: 1350px) {
  .player-list-filter-set {
    display: block;
    float: none;
    clear: both;
  }

  .cmp-collection-search-filter {
    margin-left: 0;
  }
}
