@import "../variables.scss";
/**
 * This is the header that displays the current filters
 */
.cmp-contest-list__header {
  padding-bottom: 20px;

  h2 {
    color: #9295a6;
    font-weight: 500;
    display: block;
    font-family: $font-open-sans;
    font-size:10px;
    padding-bottom: 15px;
    position: relative;
  }

  .cmp-collection-match-filter {
    font-family: $font-oswald;

    &__option {
      font-size: 26px;
    }
  }


  &-type {
    background: url(../img/common/select-arrow.png) no-repeat 100% 50%;
    background-size: 7px auto;
    padding-right: 12px;
    color: #46495e;
    cursor: pointer;
    font-family: $font-open-sans;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;

    &:hover {
      color: #26c661;
    }
  }

  &-divider {
    padding: 0 10px;
  }
}
