@import "../variables.scss";


// The modal
.cmp-modal--draft-group-select {
  .cmp-modal {
    &__header {
      padding-bottom: 15px;

      &:after {
        content: none;
        border: none;
      }
    }

    &__dialog {
      background: #262a3b;
      color: #fff;
      width: 370px;
    }
  }
}


// Modal content.
.cmp-draft-group-select {

  ul {
    margin: 0;
    padding: 0;
  }

  &__arrow {
    right: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
  }

  &__arrow-line {
    fill: none;
    stroke: #d0d3db;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }

  // Sport + DraftGroup selection
  &__group,
  &__sport {
    background: #fff;
    border-bottom: 1px solid #d8dadf;
    cursor: pointer;
    display: block;
    list-style: none;
    margin: 0 5px;
    padding: 15px 25px;
    position: relative;
    text-align: left;
    transition: margin .25s;


    &:last-child {
      border-bottom: none;
    }

    &:hover {
      margin: 0;

      .cmp-draft-group-select {
        &__title {
          color: #46495e;
        }

        &__sub {
          color: #46495e;
        }

        &__arrow-line {
          stroke: #34cc68;
        }
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  &__title {
    color: #9c9faf;
    font-family: $font-oswald;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &__sub {
    color: #9c9faf;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  &__selected-sport {
    > span {
      color: #37c078;
      cursor: pointer;
      padding-bottom: 20px;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }


  // Just DraftGroup (time) selection.
  &__group {
    padding: 0;
    cursor: default;
    // background: #fff;

    a {
      padding: 15px 25px;
    }

    .cmp-draft-group-select {
      &__title {
        text-transform: capitalize;
      }
    }
  }

}
