@import "../variables.scss";

$imgDir: '../img/blocks/live-animation-stage/';

// Modal to prompt a user to confirm their contest entry.
.cmp-modal--draft-scoring {
  .cmp-modal {
    &__dialog {
      background: transparent;
      color: #262a3b;
      width: auto;
      position: relative;
      z-index: 1;
    }

    &__inner {
      position: relative;
      background: white;
    }
  }
}

// Inner modal content.
.cmp-draft-scoring-modal {

  .content-inner {
    font-size: 15px;

    .title {
      font-family: $font-oswald;
      font-weight: 400;
      font-size: 20px;
      color: #262a3b;
      padding: 40px 0 20px;
      text-transform: uppercase;
      background: #edf0f5;
    }
    .arena{
      padding: 0 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background: #edf0f5;
        position: absolute;
        right: 0;
        top: 0;
        height: 80%;
        width: 100%;
        z-index: 0;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
      }
    }


    .score-table {
      display: flex;
      flex-direction: column;
      font-size: 17px;
      font-family: $font-open-sans;
      margin: 0 0 30px;
      line-height: 1.8em;
      background: #fff;
      padding: 20px 20px 0;
      .own-col {
        display: flex;
        justify-content: space-around;

        dl {
          dd{
            dl{
              display: flex;
              justify-content: space-between;
              font-size: 13px;
            }
            dt {
              text-align: left;
              padding-right: 50px;
              padding-right: calc(100vw / 1920 * 50);
            }
            dd {
              text-align: right;
              font-weight: bold;
              color: #2ebc72;

              &.negative {
                color: #bc2e49;
              }
            }
          }
        }
      }
    }
  }

  .controls {
    text-align: center;
    padding: 0 20px 40px;
    .button{
      width: 60%;
    }
  }
}
