@import "../variables.scss";
@import "../mixins/_placeholder.scss";


.cmp-input-date-picker {
  position: relative;

  .date-picker {
    left: -60px; // half the size of the input field
    top: 45px; // slightly more than the height of the input
  }
}


input.date-picker-input {
  @include placeholder {
    color: #000;
    font-weight: 900;
    font-size: 12px;
    font-family: $font-open-sans;
  }

  position: relative;
  max-width: 120px;
  height: 40px;
  font-size: 15px;
  padding-left: 20px;
  font-family: $font-georgia;

  &:hover {
    cursor: pointer;
  }

  //&:focus {
  //  // hacky way to hide the placeholder when the input is selected
  //  // hide the input value as of now too...
  //  @include placeholder {
  //    color: #fff;
  //  }
  //  color: #fff;
  //}
}

label.calendar-input-label {
  position: absolute;
  color: $secondary-grey;
  top: 0px;
  left: 35px;
  font-size: 11px;
  font-family: $font-oswald;
  transition: all 0.5s ease 0.5s;
}
