@import "../variables.scss";


/**
 * Radio-like selection links to enable filters on the contest list.
 */
.cmp-collection-match-filter {
  padding-top: 5px;

  &__option {
    color: #babdc9;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 0 15px 0 0;
    padding: 0 0 3px;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-bottom: 2px solid transparent;
    line-height: 1em;

    &:hover {
      color: #6d718a;
    }

    &--active {
      color: #46495e;
      // -moz-border-image: -moz-linear-gradient(right, #1f907c 0%, #34cc68 100%);
      // -webkit-border-image: -webkit-linear-gradient(right, #1f907c 0%, #34cc68 100%);
      // border-image: linear-gradient(to right, #1f907c 0%, #34cc68 100%);
      // border-image-slice: 1;
      border-bottom: 2px solid #46495e;

      &:hover {
        cursor: default;
      }
    }
  }

  .select-wrap {
    select::-ms-expand { /* for IE 11 */
      display: none;
    }

    select {
      &:hover {
        color: $primary-green;
      }

      &:focus {
        outline-width: 0;
      }

      // unstyle stuff
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      background: url(../img/common/select-arrow.png) no-repeat 100% 50%;
      background-size: 7px auto;
      border: none;
      color: #fff;
      cursor: pointer;
      font-family: $font-oswald;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      // Firefox needs a width.
      width: 40px;
    }

    option {
      font-size: 14px;
    }
  }

}
