@import '../variables.scss';

.cmp-message-display {
  display: block;
  top: $nav-scoreboard-height;
  text-align: center;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: $zindex-message-display;

  .btn-close {
    background: url('../img/blocks/message-display/btn-close.png') no-repeat;
    background-size: 32px auto;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: -16px;
    position: absolute;
    right: 35px;
    top: 25px;
    width: 32px;

    &:hover {
      opacity: .8;
    }
  }

  .message-content {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  // Default message style.
  .message {
    background: #d0d3db;
    color: #293f4f;
    font-size: 16px;
    position: relative;
  }

  .header {
    font-size: 20px;
    font-family: $font-open-sans;
    font-weight: 100;
    margin: 0;
    padding: 0;

    .text {
      display: inline-block;
      min-height: 30px;
      padding-left: 40px;
    }
  }

  .content {
    font-size: 13px;
    padding-top: 10px;
  }

  /**
   * Message Level Styles.
   */
  .warning {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc1616+0,7a052d+100&0.95+0,0.95+100 */
    background: -moz-linear-gradient(left, rgba(188,22,22,0.95) 0%, rgba(122,5,45,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(188,22,22,0.95) 0%,rgba(122,5,45,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(188,22,22,0.95) 0%,rgba(122,5,45,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bc1616', endColorstr='#f27a052d',GradientType=1 ); /* IE6-9 */
    color: #fff;

    .header .text {
      background: url(../img/blocks/message-display/icon-warning.png) top left no-repeat;
      background-size: 30px auto;
    }
  }

  .success {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#219d87+0,34cc68+100&0.95+0,0.95+100 */
    background: -moz-linear-gradient(left, rgba(33,157,135,0.95) 0%, rgba(52,204,104,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(33,157,135,0.95) 0%,rgba(52,204,104,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(33,157,135,0.95) 0%,rgba(52,204,104,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2219d87', endColorstr='#f234cc68',GradientType=1 ); /* IE6-9 */
    color: #fff;

    .header .text {
      background: url(../img/blocks/message-display/icon-success.png) top left no-repeat;
      background-size: 30px auto;
    }
  }

  .info {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a5d6b+0,3f4355+100&0.95+0,0.95+100 */
    background: -moz-linear-gradient(left, rgba(90,93,107,0.95) 0%, rgba(63,67,85,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(90,93,107,0.95) 0%,rgba(63,67,85,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(90,93,107,0.95) 0%,rgba(63,67,85,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f25a5d6b', endColorstr='#f23f4355',GradientType=1 ); /* IE6-9 */
    color: #fff;

    .header .text {
      background: url(../img/blocks/message-display/icon-info.png) top left no-repeat;
      background-size: 30px auto;
    }
  }
}

// account override (change this to BEM)
html.section-logged-out-account .cmp-message-display {
  top: 0;
}


/**
 * React transitions
 */
.message-transition-enter {
  opacity: 0.01;
}

.message-transition-enter.message-transition-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.message-transition-leave {
  opacity: 1;
}

.message-transition-leave.message-transition-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}


// Custom image override for site welcome message.
.cmp-message-display .msg-create-lineup-message {
  .header .text {
    background: url('../img/blocks/message-display/icon-db.png') 0px 2px no-repeat;
    background-size: 30px auto;
  }
}
