// Timestamp for time remaining till contest is live.
.cmp-countdown-clock {
  color: #334359;
  line-height: 1.25em;
  display: inline;

  .hours, .minutes, .seconds {
    display: inline;
  }

  .minutes,
  .seconds {
    color: #46495e;
  }
}
