@import "../variables";

$contest-nav-height: 60px;
$contest-nav-background-color: #f7f8f9;
$contest-nav-secondary-font-color: #8c8fa2;
$contest-nav-separator-color: #dee1e8;
$contest-nav-foreground-color: #25A758;

.cmp-draft-team-filter {
  background: $contest-nav-background-color;
  clear: both;
  color: #46495e;
  height: $contest-nav-height;
  width: 100%;
  margin: 25px 0 16px;

  // We need a single top-level element that react renders to (aaaannoying).
  .inner {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .separator {
    border-left: solid 1px $contest-nav-separator-color;
    display: inline-block;
    height: $contest-nav-height;
    transform: scale(1) skewX(-15deg);
    margin: 0 15px 0 10px;

    &.half {
      transform: scale(0.5) skewX(-15deg);
    }
  }


  .slider {
    // width: calc(100% - 130px - 210px - 65px - 150px);

    position: relative;
    display: block;
    height: $contest-nav-height;
    white-space: nowrap;
    overflow: hidden;


    .slider-content {
      display: inline-block;
      height: $contest-nav-height;
      overflow: hidden;
      margin-left: 50px;

      &-holder {
        position: relative;
        left: 0px;
        transition: left 250ms cubic-bezier(0.8, 0.16, 0.18, 0.85);
      }
    }

    .arrow {
      position: absolute;
      height: 100%;
      display: inline-block;
      z-index: 2;
      width: 30px;
      background: none;

      &:before{
        content: '';
        display: block;
        height: 100%;
        width: 400px;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        background: #fff;
        transform: skew(-20deg);
      }
      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 400px;
        position: absolute;
        z-index:1;
        top: 0;
        right: 0;
        background: rgba(0,0,0,.1);
        filter: blur(10px);
        transform: skew(-20deg);
      }

      &.left {
        width: 42px;
        left: 0;
      }

      &.right {
        right: 0;
         &:before,&:after{
          right: auto;
          left: 0;
        }
      }

      .left-arrow-icon, .right-arrow-icon {
        display: inline-block;
        cursor: pointer;
        background: url('../img/blocks/nav-scoreboard/nav-scoreboard-slider-arrow.png') no-repeat center center transparent;
        background-size: 7px 11px;
        width: 24px;
        height: 60px;
        position: absolute;
        top: 0;
        z-index: 60;
      }

      .left-arrow-icon {
        transform: rotate(180deg);
      }
    }
  }

  .games-list {
    display: table;

    .game {
      cursor:  pointer;
      display: table-cell;
      font-size: 12px;
      font-weight: bold;
      padding: 14px 5px;
      min-width: 105px;
      height: $contest-nav-height;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      &.allTeams{
        vertical-align: middle;
        background-position: 50% -33px;
        text-transform: uppercase;
        &:hover {
          background-position: 50% -69px;
        }

        &.selected {
          background-position: center 4px !important;
        }
      }
      .left {
        display: inline-block;
        margin-right: 30px;
      }

      .right {
        position: absolute;
        top: 14px;
        right: 0;
        font-size: 11px;
        display: inline-block;
        color: $contest-nav-secondary-font-color;
      }
    }

    .team {
      padding-left: 15px;
      background: url(../img/blocks/form/radio-button-alt.png) no-repeat 0px -33px;
      background-size: 10px auto;

      &:hover {
        background-position: 0px -69px;
      }

      &.selected {
        background-position: 0px 4px !important;
      }

    }
  }

}
