@import "../variables.scss";


.draft-player-detail {

  .pane__close {
    z-index: 10;
  }

  .header-section {
    padding-top: 55px;
  }

  // Draft button + Salary section
  .draft-salary {
    text-align: left;

    .draft-status {
      margin-left: 10%;
      display: inline-block;
      padding-top: 35px;
    }

    .draft-button {
      cursor: pointer;
      width: 50px;
      height: 50px;
      background: url('../img/blocks/draft-list/btn-add-large.png') no-repeat;
      background-size: auto 50px;
      text-indent: -9999px;
      overflow: hidden;
      border-radius: 25px;
      box-shadow: 0px 0px 20px 1px rgba(27, 140, 67, 0.5);
      &:hover {
        opacity: .85;
      }

      &.disabled {
        opacity: .4 !important;
        cursor: default;
      }

      &.remove {
        background-image: url('../img/blocks/lineup-card/icon-delete.png');
        background-position: top right;
        box-shadow: 0px 0px 20px 1px rgba(155, 31, 80, 0.5);
      }
    }

    .salary {
      color: #fff;
      display: inline-block;
      font-family: $font-oswald;
      font-size: 25px;
      font-weight: 100;
      padding-left: 15px;
      vertical-align: middle;
    }
  }


  // NFL player images need some tweaks since they are so wide.
  &.sport-nfl {
    .header__player-image {
      height: 230px;
      width: 290px;

      img {
        height: 230px;
        margin: 0 auto;
      }
    }
  }


  .player-stats {
    padding: 20px  10px  20px 35px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .stat-section {
      position: relative;
      flex-grow: 1;
    }

    .stats-section__title {
      color: #9194a9;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 9px;
      padding: 0 0 0 10px;
      margin: 0px;
      position: relative;
      top: -5px;
      text-align: left;
    }

    ul {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;


      > li {
        margin: auto;
        flex-grow: 1;
        text-align: center;

        .stat-name {
          text-align: center;
        }
      }
    }
  }



  .pane-lower {
    .tabs {
      padding: 40px 10% 100px;
    }

    .table {
      th:first-child {
        padding-left: 10px;
      }

      td {
        padding: 10px 5px;

        &:first-child {
          padding-left: 10px;
        }
      }
    }
  }


  // The section tha shows the player's next game and which teams are playing.
  .next-game {
    padding: 25px 5px;
    border-bottom: 1px solid #e1e2ea;
    position: relative;

    &:after {
      background: #45505b;
      color: #a9b0b6;
      content: "Next Game";
      display: inline-block;
      font-size: 9px;
      left: 50%;
      margin-left: -40px;
      padding: 3px 12px;
      position: absolute;
      text-transform: uppercase;
      top: -10px;
      letter-spacing: .1em;
    }

    .team {
      // Default team name color. - These get overridden in team-names.scss
      color: $primary-text;
      display: inline-block;
      min-width: 160px;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-oswald;
      line-height: 1em;
      padding: 0;
      margin: 0;

      .city {
        display: block;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: .1em;
      }

      .name {
        display: block;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .game-time {
      display: inline-block;
      min-width: 60px;
      position: relative;
      top: 10px;
      vertical-align: top;

      .time {
        font-family: $font-open-sans;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: .1em;
        position: relative;
        text-transform: uppercase;
        z-index: 2;
      }

      &:before {
        color: #e4e7eb;
        content: "@";
        font-size: 60px;
        font-weight: 100;
        left: 0;
        position: absolute;
        top: -0.55em;
        width: 100%;
        z-index: 1;
      }
    }
  }

  // Player news report tab.
  .player-reports {
    text-align: left;

    .byline {
      font-size: 11px;
      font-style: normal;
      padding-bottom: 5px;
    }

    .title {
      text-transform: capitalize;
      color: #46495e;
      font-size: 13px;
      font-weight: 600;
      padding: 0px;
    }

    .content {
      color: #6d718a;
      font-size: 13px;
    }

    p {
      color: #6d718a;
    }
  }


}
