.data-table-filter {
  padding-bottom: 40px;

  &__option {
    color: #c6cacc;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 0 15px 0 0;
    padding: 0;

    &:hover {
      color: #b4b7b9;
    }

    &--active {
      @extend .table-contests-filter__filter;
      color: #293f4f;
      border-bottom: 2px solid #9d3ee5;

      &:hover {
        color: #293f4f;
      }
    }
  }

  &--league {
    float: left;

    .data-table-filter__option {
      font-size: 30px;
    }
  }

  &--contest-type {
    float: right;

    .data-table-filter__option {
      font-family: $font-open-sans;
      font-size: 12px;
    }
  }

}
