@import '../variables.scss';

.cmp-skill-level-overlay {

  &.active {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal {
    background: #4d545f url('../img/blocks/lobby/lock.png') no-repeat;
    background-size: auto 47px;
    background-position: 241px 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -265px;
    margin-top: -120px;
    padding: 110px 50px 50px;

    .content {
      width: 430px;
      text-align: center;
    }

    .header {
      font-family: $font-oswald;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
      padding: 0 0 15px;
    }

    .body {
      font-family: $font-open-sans;
      color: #c5c7ce;
      font-size: 13px;
      margin: 0;
      padding: 0;

      .capitalize{
        text-transform: capitalize;
      }
    }

  }
}
