.cmp-draft-group-select {

  &__sport {
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    list-style: none;
    margin: 0 15px;

    &:hover {
      color: #dee0e8;
    }
  }

  &__selected-sport {
    > span {
      color: #37c078;
      cursor: pointer;
      padding-bottom: 20px;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__group {
    border-radius: 2px;
    border: 1px solid #e0e2ea;
    display: inline-block;
    list-style: none;
    margin: 10px;
    text-transform: uppercase;
    width: 110px;

    &:hover {
      border: 1px solid #37c078;
    }

    a {
      color: #46495e;
      display: block;
      padding: 15px;
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    font-size: 9px;
  }

  &__date {
    display: block;
    font-size: 30px;
  }

  &__time {
    display: block;
    font-size: 9px;
  }


}
