@import "../variables.scss";
$table-row-hover-bg: #f9fafb;


/**
 * Contest List.
 */
.cmp-contest-list {
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 40px;

  .active {
    background: $table-row-hover-bg;
  }

  .draft-button {
    margin-right: 10px;
  }

  &__row {
    &.other-lineup {
      opacity: .3;
    }

    &:hover {
      opacity: 1;
    }

    &.highlight {
        background: #f3faf4;
        opacity: 1;
    }

    .enter {
      cursor: default;
    }

    .enter-contest-button {
      min-width: 11em;

      &.entered {
        min-width: 19em;
      }
    }

    &.entered .enter-contest-button {
      min-width: 19em;
    }
  }

  .user-entries {
    color: #9698ab;
  }

  .sport {
    width: 40px;
  }

  .start {
    min-width: 85px;
  }

  .icon-mlb {
    background: url(../img/common/icon-baseball.svg) no-repeat bottom center;
  }

  .icon-nfl {
    background: url(../img/common/icon-football.svg) no-repeat bottom center;
  }

  .icon-nba {
    background: url(../img/common/icon-basketball.svg) no-repeat bottom center;
  }

  .icon-nhl {
    background: url(../img/common/icon-hockey.svg) no-repeat bottom center;
  }

  .icon-mlb,
  .icon-nfl,
  .icon-nba,
  .icon-nhl {
    background-size: 13px auto;
    display: block;
    height: 13px;
    width: 13px;
    color: transparent;
    font-size: 0px;
  }

  .prizes {
    color: $primary-green;
  }


  .cmp-countdown-clock {
    .hours {
      color: #9698ab;
    }
  }

  .entered {
    .name {
      color: #20a94f;
    }
  }

  // the button for when a contest is 'entered'
  .disabled {
    cursor: default;
  }


  // Row update animations.
  // https://github.com/ordishs/react-animation-example
  @keyframes flash1 {
      0% {
          background-color: #f8fcf8;
      }
      100% {
          background-color: #fff;
      }
  }

  @keyframes flash2 {
      0% {
          background-color: #f8fcf8;
      }
      100% {
          background-color: #fff;
      }
  }

  .flash1, .flash2 {
      animation-duration: 2s;
      animation-timing-function: ease-out;
  }

  .flash1 {
      animation-name: flash1;
  }

  .flash2 {
      animation-name: flash2;
  }

}


/**
 * Contest list filters.
 */

// Contest Type
.contest-list-filter--contest-type {
  float: left;
}


// Contest Sport
.contest-list-filter--sport {
  display: inline-block;
  z-index: 100;

  .contest-sport-filter {
    padding: 0 5px 0 0;
  }

  &__title {
    color: #6d718a;
    font-size: 9px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
  }

}
