/**
 * Featured contest row in the contest list of the lobby.
 */
.featured-contests {
  &--contest {
    background: #0a192e;
    display: block;
    //width: 32%;
    //max-width: 273px;
    margin-right: 2%;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      width: 100%;
      height: auto;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  div {
    text-align: center !important;
  }
}
