/*doc
---
title: Input with error
category: Forms
---
```html_example
<form class="form">
  <fieldset class="form__fieldset">
    <div class="form-field form-field--error">
      <label class="form-field__label" for="email">Email</label>
      <input class="form-field__text-input" type="email" id="email" name="email" placeholder="i.e. joe@hotmail.com" required="" onblur="this.className+=' attempted'">
      <div class="form-field-message form-field-message--error form-field-message--settings">
        <h6 class="form-field-message__title">Invalid Email Address</h6>
        <p class="form-field-message__description">Your email must contain an ‘@’ symbol as well as a ‘.’</p>
      </div>
    </div>
  </fieldset>
</form>
```
*/


/*doc
---
title: Select
category: Forms
---
```html_example
<form class="form">
  <fieldset class="form__fieldset">
    <div class="form-field">
      <label class="form-field__label" for="state">State</label>
      <select class="form-field__select" id="state" name="state" required="" onblur="this.className+=' attempted'">
        <option>Alabama</option>
        <option>Florida</option>
        <option>Texas</option>
      </select>
    </div>
  </fieldset>
</form>
```
*/


.form-field {
  margin-bottom: 12px;
  position: relative;
  max-width: 700px;

  &--inline {
    display: inline-block;
    min-width: 100px;
    margin-right: 15px;
  }

  // used to show checkmark on certain form elements only
  &--valid {
    background: #fff url(../img/blocks/form/checkmark.svg) no-repeat right center;
  }

  // when there's an error, set input to red
  &--error {
    .form-field__text-input,
    .form-field__password-input {
      border-color: $error-red;
    }
  }

  &__label {
    font-size: 12px;
    left: -122px;
    min-width: 100px;
    position: absolute;
    text-align: right;
    top: 14px;

    &--twoline {
      top: 4px;
    }
  }

  &__input-wrapper {

  }

  &__text-input,
  &__password-input {
    border: 1px solid $primary-grey;
    border-radius: 2px;
    color: $primary-charcoal;
    font-family: $font-open-sans;
    font-size: 13px;
    max-width: 346px;
    padding: 12px 15px;
    transition: all 0.2s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;

    // placeholder color needs to be separated by browser prefix
    &::-webkit-input-placeholder {
      color: #dbdee0;
    }
    &::-moz-placeholder {
      color: #dbdee0;
    }
    &:-ms-input-placeholder {
      color: #dbdee0;
    }

    &:focus {
      border-color: $secondary-charcoal;
      color: $primary-charcoal;
      // prevent the safari glow
      outline-width: 0;
    }

    &:focus::-webkit-input-placeholder {
      color:transparent;
    }

    &:disabled {
      background: #f8f9f9;
      color: $primary-charcoal;
    }

    &.attempted{
      &:invalid {
        border-color: $error-red;
      }

      &:valid {
        border-color: $success-green;
      }
    }
  }

  // Select boxes.
  &__select {
    -moz-appearance: none;
    -webkit-appearance:none;
    background: #fff url('../img/blocks/form/select-bg-arrow.png') no-repeat 93% 50%;
    background-size: 8px 5px;
    border-radius: 2px;
    border: 1px solid $primary-grey;
    color: $primary-charcoal;
    font-family: $font-open-sans;
    font-size: 13px;
    height: 3.5em;
    margin-right: 5px;
    outline: none;
    padding: 12px 8px;
    text-indent: 5px;
    transition: all 0.2s;
    vertical-align: middle;
    white-space: nowrap;
    width: 346px;

    // remove focused outline in firefox.
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    // Hide dropdown arrow in IE.
    &::-ms-expand {
        display: none;
    }

    &--small {
      background-position: 85% 50%;
      width: 75px;
    }

    &--medium {
      width: 170px;
    }

    &--large {
      width: 100%;
    }
  }

  // a field that contains static content
  &__static-content {
    clear: both;
    color: #adb6bc;

    a {
      color: #2ab378;
    }
  }

  // when there's a paragraph of help text at the top of the field
  &--with-help {
    .form-field__info {
      padding-top: 8px;
      max-width: 300px;
    }

    .form-field__label {
      top: 10px;
    }
  }

  .username-display {
    font-size: 13px;
    padding: 12px 15px;
    vertical-align: middle;
  }

  // display $ sign inside the input (from the left side)
  .input-symbol-dollar {
    position: relative;
  }
  .input-symbol-dollar &__text-input {
    padding-left: 18px;
  }
  .input-symbol-dollar:before {
    color: $secondary-grey;
    position: absolute;
    top: 0;
    content:"$";
    left: 5px;
  }

  // display # sign inside the input (from the right side)
  .input-symbol-number:before {
    color: $secondary-grey;
    position: relative;
    top: 3px;
    content: "#";
    left: 20px;
    font-size: 20px;
    z-index: 200;
  }
}


// as we have 3 forms combined in settings__base, shrink the bottom padding
.settings__base {
  .form__fieldset {
    padding-bottom: 0px;
  }
}
