$live-lineup-width: 200px;

.live-nba {
  background: transparent url(../img/blocks/live-nba/bg.jpg) no-repeat left top;
  background-size: 100% auto;
  height: 100%;
  margin: 0 auto;
  min-width: 1024px;
  position: relative;
  width: 100%;

  // for the top menu
  margin-top: 60px;

  & > * {
    position: relative;
    z-index: 2;
  }

  &__court-scoreboard {
    min-height: 600px;
    padding: 0 $live-lineup-width;
    width: 100%;
  }

  &__lineup {
    position: absolute;
    top: 0;
  }

  &--with-opponent {
    &:after {
      content: " ";
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.pmr {
  &--complete {
    opacity: 0.9;
    stroke: #46495e;
  }
}