// the court that shows for nba when you are live
.live-mlb-stadium {
  width: 100%;
  margin: 50px auto 0;
  text-align: center;

  .pitch-zone-filler {
    min-height: 215px;
  }

  &__hitter-info {
    padding-top: 20px;

    .hitter-info {
      &__at-bat,
      &__game-record {
        color: #878b9c;
        font-size: 9px;
        font-weight: 500;
        line-height: 2.2;
        text-transform: uppercase;
      }

      &__name {
        color: #fff;
        font-family: $font-oswald;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }

  &__splitscreen--mine,
  &__splitscreen--opponent {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;

    > img {
      height: 100%;
      position: absolute;
      top: 0;
    }

    .live-mlb-pitch-zone {
      position: absolute;
      width: auto;

      > img {
        margin: 0;
      }

      &__mine {
        right: 104px;
        left: auto;
      }

      &__opponent {
        left: 104px;
      }


    }
  }

  &__splitscreen--mine {
    box-shadow: 20px 0px 84px 1px rgba(13, 30, 50, 0.76);

    > img {
      right: -486px;
    }
  }

  &__splitscreen--opponent {
    background-position: 80% bottom;
    left: auto;
    right: 0;
    z-index: 0;

    > img {
      left: -476px;
    }
  }

  .live-mlb-pitch-zone__inner {
    display: inline-block;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__pitch-zone {
    display: block;
    height: 215px;
    left: 0;
    position: absolute;
    bottom: 14%;
    text-align: center;
    width: 100%;

    img {
      display: block;
      height: 100%;
    }

    ul {
      list-style: none;
    }
  }

  .pitch-info {
    display: none;

    bottom: -15px;
    color: #fff;
    font-size: 8px;
    position: absolute;
    left: 22px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
    white-space: nowrap;
  }

  .pitch-count {
    color: #fff;
    font-size: 12px;
    font-family: $font-oswald;
    line-height: 25px;
  }

  .pitch {
    border-radius: 50%;
    display: block;
    height: 25px;
    opacity: 0.4;
    position: absolute;
    width: 25px;

    &:last-child {
      opacity: 1;
    }

    &:hover .pitch-info {
      display: block;
    }

    &--ball {
      background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(227,60,60) 0%, rgb(95,7,101) 100%);
      background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(227,60,60) 0%, rgb(95,7,101) 100%);
      background-image: radial-gradient(circle closest-side at 50% 50%, rgb(227,60,60) 0%, rgb(95,7,101) 100%);
      background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(227,60,60) 0%, rgb(95,7,101) 100%);
    }

    &--strike {
      background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(52,180,204) 0%, rgb(33,78,157) 100%);
      background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(52,180,204) 0%, rgb(33,78,157) 100%);
      background-image: radial-gradient(circle closest-side at 50% 50%, rgb(52,180,204) 0%, rgb(33,78,157) 100%);
      background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(52,180,204) 0%, rgb(33,78,157) 100%);
    }

    &--zone-1,
    &--zone-2,
    &--zone-3 {
      top: 11%;
    }

    &--zone-4,
    &--zone-5,
    &--zone-6,
    &--zone-11,
    &--zone-13 {
      top: 44%;
    }

    &--zone-7,
    &--zone-8,
    &--zone-9 {
      top: 77%;
    }

    &--zone-1,
    &--zone-4,
    &--zone-7 {
      left: 10%;
    }

    &--zone-2,
    &--zone-5,
    &--zone-8,
    &--zone-10,
    &--zone-12 {
      left: 43%;
    }

    &--zone-3,
    &--zone-6,
    &--zone-9 {
      left: 76%;
    }

    &--zone-10 {
      top: -20%;
    }

    &--zone-11 {
      right: -20%;
    }

    &--zone-12 {
      bottom: -20%;
    }

    &--zone-13 {
      left: -20%;
    }
  }
}
