.live-overall-stats {
  display: inline-block;
  text-align: center;
  position: relative;

  // because the pmr circle needs to be absolute
  min-height: 120px;

  &__name {
    font-family: $font-oswald;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 6px;

    > .vs {
      text-transform: none;
    }
  }

  &__stats {
    font-size: 12px;
    min-height: 40px;  // blank space between name and overview
  }
  &__rank {
    color: #9c9faf;
  }
  &__potential-winnings {
    color: #26cc65;
  }

  &__vs {
    color: #9c9faf;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    margin: 0 60px;
    position: relative;
    text-transform: uppercase;
    top: -270px;
  }

  &__pmr-circle__background {
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 4000;
  }

  &__live-overview {
    position: relative;
  }

  // BREAKING BEM
  .pmr-circle {
    position: relative;
    z-index: 4010;

    canvas {
      border-radius: 50%;
      box-shadow: inset 0px 32px 60px 0px rgba(6, 7, 23, 0.65);
      z-index: 0;
      position: absolute;
    }

    svg {
      z-index: 1;
    }
  }

  &__contests,
  &__points,
  &__entries {
    display: inline-block;
    padding: 0 26px;
    vertical-align: middle;
    width: 120px;
  }

  &__help {
    color: #6d718a;
    font-size: 9.5px;
    font-family: $font-open-sans;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__quantity {
    color: #fff;
    font-family: $font-oswald;
    font-weight: 400;
    margin: 0;
  }

  &__contests,
  &__entries {
    .live-overview__quantity {
      font-size: 25px;
    }
  }

  &__points {
    .live-overview__quantity {
      font-size: 35px;
      padding-bottom: 1.3em;
    }
  }
}