.live-right-pane-nav {
  position: relative;
  margin: 0 auto;
  padding-top: 20px;

  &--lineup {
    width: 42px;
  }

  &--contest {
    width: 100px;
  }

  &__view-contests,
  &__view-standings {
    border: 1px solid #6d718a;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    width: 40px;

    span {
      font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
      color: #fff;
      display: none;
      position: absolute;
      right: -220px;
      top: 35px;
      font-size: 9.5px;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 2px;
      width: 200px;
    }

    &:hover {
      border-color: #289d68;

      span {
        display: block;
      }
    }
  }

  &__view-contests {
    background: transparent url(../img/blocks/live-bottom-nav/view-contests.png) no-repeat 14px 12px;
    background-size: 30% auto;
  }

  &__view-standings {
    background: transparent url(../img/blocks/live-bottom-nav/view-standings.png) no-repeat 12px 13px;
    background-size: 40% auto;
  }
}