@import "../mixins/_clearfix.scss";

.live-winning-graph {
  @extend %clearfix;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &--is-losing {
    opacity: 0.2;
  }

  &--contest-overall {
    width: 550px;
  }

  &__pmr-line {
    background: #303446;
    width: 100%;
    border-radius: 1px;
    height: 2px;
    overflow: hidden;
  }

  &__winners {
    background: linear-gradient(to right, #219d87 0, #34cc68 100%);
    display: block;
    height: 100%;
  }

  &__current-position {
    background: #fff;
    display: block;
    position: absolute;
    top: -2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
  }

  &__limits {
    bottom: 0;
    color: #6d718a;
    font-family: $font-oswald;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    position: absolute;
  }

  &__min {
    left: 0;
  }
  &__max {
    right: 0;
  }

  &__earnings {
    color: #26c661;
    font-family: $font-oswald;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    position: relative;
    line-height: 1.5;
    top: 5px;
  }
}