@import "../variables.scss";


// right or left hand pane that slides out on trigger. also includes a back button to close out.
.live-pane {
  -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
  animation-delay: 100ms;
  height: 100%;
  position: fixed;
  top: 0;
  transition: right 230ms cubic-bezier(.8,.16,.18,.85);
  width: $live-pane-width;
  z-index: $zindex-modal + 1;

  &--right {
    right: -$live-pane-width;

    .live-pane__close {
      left: 40px;
    }
  }

  &--left {
    left: -$live-pane-width;

    .live-pane__close {
      right: 40px;
      transform: rotate(180deg);
    }
  }

  &__close {
    background: url('../img/blocks/pane/btn-close-arrow.png') no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    top: 106px;
    width: 35px;
    z-index: $zindex-modal + 2;

    &:hover {
      opacity: .75;
    }
  }

  &__content {
    background-color: rgb(28, 31, 43);
    height: 100%;
    margin-left: 56px;
    overflow: hidden;
    position: relative;
    width: $live-pane-width - 56;
    // so the left shadow is below
    z-index: 2;
  }

  &__left-shadow {
    box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 56px;
    position: absolute;
    top: 0;
    width: 121px;
  }
}
