@import "../variables.scss";


// right or left hand pane that slides out on trigger. also includes a back button to close out.
.live-pane {
  -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
  animation-delay: 100ms;
  height: 100%;
  position: fixed;
  top: $nav-scoreboard-height;
  transition: all 230ms cubic-bezier(.8,.16,.18,.85);
  width: $live-pane-width;
  z-index: $zindex-modal + 4061;

  &--right {
    right: -$live-pane-width;

    .live-pane__close {
      left: 40px;
    }

    .live-pane__back {
      left: 40px;
      transform: rotate(180deg);
    }
  }

  &--left {
    left: -$live-pane-width;

    .live-pane__close {
      right: 40px;
      transform: rotate(180deg);
    }
  }

  &__close,
  &__back {
    background: url('../img/blocks/pane/btn-close-arrow.png') no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    display: block;
    height: 20px;
    visibility: hidden;
    position: absolute;
    top: 60px;
    width: 35px;
    z-index: $zindex-modal + 2;

    &:hover {
      opacity: .75;
    }
  }

  &__content {
    background-color: rgb(28, 31, 43);
    height: 100%;
    margin-left: 56px;
    overflow: hidden;
    position: relative;
    width: $live-pane-width - 56;
    // so the left shadow is below
    z-index: 2;
  }

  &__left-shadow {
    box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 56px;
    position: absolute;
    top: 0;
    width: 121px;
  }
}


// TODO Craig clean this up!


.appstate--pane--left--open {
  .live-pane--left {
    left: 0;

    .live-pane__close {
      visibility: visible;
    }
  }
}


.appstate--pane--right--open {
  .live-pane--right {
    right: 0;

    .live-pane__close {
      visibility: visible;
    }
  }
}


.appstate--live-contests-pane--open {
  .live-contests-pane {
    right: 0;

    .live-pane__close {
      visibility: visible;
    }
  }
}


.appstate--live-standings-pane--open {
  .live-standings-pane {
    right: 0;

    .live-pane__back {
      visibility: visible;
    }
  }
}


.appstate--pane--player--left--open {
  .live-pane-player--left {
    left: 0;

    .live-pane__close {
      visibility: visible;
      right: -14px;
    }
  }
}


.appstate--pane--player--right--open {
  .live-pane-player--right {
    right: 0;

    .live-pane__close {
      left: -14px;
      visibility: visible;
    }
  }
}
