$live-lineup-width: 200px;

body.one-col--live-nba {
  background: transparent url(../img/blocks/live/bg.jpg) no-repeat left top;
  background-size: 100% 100%;
}

.cmp-live {
  margin: 0 auto;
  min-width: 1024px;
  position: relative;
  width: 100%;

  // for the top menu
  padding-top: 60px;

  & > * {
    position: relative;
    z-index: 2;
  }

  &__court-scoreboard {
    min-height: 600px;
    padding: 0 $live-lineup-width;
    width: 100%;
  }

  &--with-opponent {
    &:after {
      content: " ";
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}
