@import "../variables.scss";


//
// BEM block for React Live
// - trickery with block height that uses viewport height minus the top nav bar
// - backgrounds for the live section are set here (except MLB stadium, is in LiveMLBPitchZone)
//

$block: '.live';

#{$block} {
  background: transparent url(../img/blocks/live/bg.jpg) no-repeat center top;
  background-size: cover;
  min-height: 700px;
  height: calc(100vh - #{$nav-scoreboard-height});
  margin: 0 auto;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  top: $nav-scoreboard-height;
  width: 100vw;

  &--sport {
    &-mlb {
      // background that matches edges of stadium background
      background-color: rgb(8,20,38);

      &#{$block}--countdown {
        background-image: url(../img/blocks/live-countdown/bg-mlb.jpg);
        background-size: cover;
      }

      #{$block}__venues {
        padding: 0;
      }
    }

    &-nba {
      background-image: url(../img/blocks/live/bg-nba.jpg);
      background-size: cover;

      &#{$block}--countdown {
        background-image: url(../img/blocks/live-countdown/bg-nba.jpg);
        background-size: cover;
      }
    }
  }

  // modify to center venues between lineups
  &--showing-opponent-lineup #{$block}__venues {
    width: 100%;
  }

  // modify to have venue show between my lineup and right pane
  &--right-panes-open #{$block}__venues {
    width: 76%;
  }

  // vertically center the stats of the venue
  &__venues {
    display: table;
    height: 100%;
    position: absolute;
    transform: translateZ(0);
    transition: width 600ms cubic-bezier(.65, .47, .35, 1);
  }
  &__venues-inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }

  &__venue-mlb {
    width: 100%;
    min-height: 215px;  // same height has pitch-zone, since it's absolute
    text-align: center;
  }

  &__venue-nfl {
    width: 100%;
    min-height: 215px;  // same height has pitch-zone, since it's absolute
    position: relative;
  }
}
