@import "../variables.scss";
// requires layouts.scss";


// right or left hand pane that slides out on trigger. also includes a back button to close out.
.live-pane {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: right 230ms cubic-bezier(.8,.16,.18,.85);
  -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
  animation-delay: 100ms;
  width: $pane-width;
  z-index: $zindex-modal + 1;

  &--right {
    right: -$pane-width;

    .live-pane__close {
      right: $pane-width - 80px;
    }
  }

  &--left {
    left: -$pane-width;

    .live-pane__close {
      left: $pane-width - 80px;
      transform: rotate(180deg);
    }
  }

  &__close {
    background: url('../img/blocks/pane/btn-close-arrow.png') no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    display: block;
    position: absolute;
    height: 20px;
    width: 35px;
    position: absolute;
    top: 106px;

    // z-index: $zindex-modal + 2;

    &:hover {
      opacity: .75;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
  }
}
