@import "../variables.scss";

// BEM block for React Live
// • Height is calculated by subtracting the top nav bar's height from the
//   viewport height.
// • Flexboxed layout consisting of two rows. The first row contains the
//   `live__venues`, the second row contains big-plays.
// • `live__venues` child is flexboxed with it's children justified center 
// • Backgrounds for the live section are set here (except MLB stadium, is in
//   LiveMLBPitchZone)
// 
//                           .live (flexbox layout)
// 
//                      |-----------------------------|
//                      |       |=============|       |
//                      |       |=============|       |
//                      |  %15  |==== %70 ====|  %15  | <-- .live__venues
//                      |       |=============|       |
//                      |       |=============|       |
//                      |-----------------------------|
//                      | =========== %100 ========== | <-- .live-big-plays
//                      |-----------------------------|
//

$block: '.live';

////////////////////////////////////////////////////////////////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////

#{$block} {
  display: flex;
  flex-direction: column;
  position: relative;
  top: $nav-scoreboard-height;
  width: 100%;
  height: calc(100vh - #{$nav-scoreboard-height});
  min-width: $break-laptop;
  overflow-x: hidden; // Required to hide things that are placed outside of the viewable region.
  background: transparent url(../img/blocks/live/bg.jpg) no-repeat center top;
  background-size: cover;

  // `live__venues` contains the LiveHeader, LiveAnimationArea, and
  // LiveStandingsPane these three components are placed in a column and center
  // justified.
  &__venues {
    flex-grow: 1; // Ensure the `live__venues` div grows to fill all available space.
    flex-shrink: 0; // Do not shrink `live__venues`, under any circumstances.
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
    max-width: 1280px;
    background: radial-gradient(ellipse at center, rgba(20, 52, 75, 0.8) 0%, transparent 70%);
    transform: translateZ(0);
    transition: width 600ms cubic-bezier(.65, .47, .35, 1);
  }
  
  // Overlap the current .live__venue with the .live-header
  &__venues > .live__venue {
    margin-top: -10px;
  }

  // Adjust the position of the LiveStandingsPane component to slightly overlap
  // the `live__venues` div. In the case of NBA, this puts the money-line within
  // the shadow of the NBA court, similarly for NFL and NHL.
  &__venues > .live-standings-pane {
    position: absolute;
    left: 2.5%;
    bottom: 7%;
    width: 95%;
  }

  // Scale up the LiveHeader (PMR rings etc.) for REALLY big displays.
  &__venues > .live-header {
    @media (min-height: 1300px) {
      transform: scale(1.25) translateY(100px);
    }
  }

  // Prevent the LiveBigPlays component from shrinking within the flex'd layout.
  .live-big-plays {
    flex-shrink: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// LAYOUT MODFIERS
////////////////////////////////////////////////////////////////////////////////

#{$block} {
  &--sport {
    &-mlb {
      // background that matches edges of stadium background
      background-color: rgb(8,20,38);

      &#{$block}--countdown {
        background-image: url(../img/blocks/live-countdown/bg-mlb.jpg);
        background-size: cover;
      }

      #{$block}__venues {
        padding: 0;
      }
    }

    &-nba {
      &#{$block}--countdown {
        background-image: url(../img/blocks/live-countdown/bg-nba.jpg);
        background-size: cover;
      }
    }

    &-nfl,
    &-nba {
      #{$block}__venues {
        padding-bottom: 25px;
      }
    }
  }

  &__venue-mlb {
    width: 100%;
    min-height: 215px;  // same height has pitch-zone, since it's absolute
    text-align: center;
  }
}
