.live-history {
  display: inline-block;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 50%;

  // animation for an event entering
  .event-enter {
    position: relative;
    transform: none;
    width: 0;
    opacity: 0.01;
  }
  .event-enter.event-enter-active {
    opacity: 1;
    transition: all 290ms cubic-bezier(.8,.16,.18,.85);
    transform: none;
    width: 230px;
  }

  .live-history__slider {
    height: 100%;
    position: absolute;
    top: 0;
    width: 10000px;
  }

  &--me {
    text-align: right;

    .live-history__slider {
      right: 0;
    }

    .live-history-event:last-child {
      opacity: 1;
    }
  }

  &--opponent {
    text-align: left;

    .live-history__slider {
      left: 0;
    }

    .live-history-event:first-child {
      opacity: 1;
    }
  }
}