.live-stack-choice {
  border-bottom: 2px solid #46495e;
  position: absolute;
  padding: 0 40px;
  top: 36%;

  &--me {
    left: 3%;

    span {
      color: #26cc65;
    }
  }
  &--opponent {
    right: 3%;

    .live-stack-choice__title {
      color: #fff;
    }

    span {
      color: #4c8fd5;
    }
  }


  &__title {
    color: #3a3f52;
    font-size: 11px;
    font-family: $font-open-sans;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1.5px;
  }
}