.live-lineup-player {
  padding: 8px 0;
  position: relative;

  .live-pmr {
    position: absolute;
    left: -3px;
    top: -3px;
    width: 54px;
    z-index: 5020;
  }

  // dumbed down version for countdown
  &--upcoming {
    .live-lineup-player__circle {
      cursor: auto;
    }
    .live-lineup-player__photo {
      border: 1px solid #45485d;
    }
    .live-lineup-player__only-name {
      color: #6d718a;
      display: inline-block;
      font-family: $font-oswald;
      font-size: 13px;
      line-height: 1;
      margin-left: 7px;
      position: relative;
      text-transform: uppercase;
      top: 1px;
      vertical-align: middle;
    }
  }

  // shortcut for each child, if it's too slow we can define all the children manually
  &__position,
  &__circle,
  &__status,
  &__points,
  &__play-status {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    position: relative;
  }

  &__position {
    color: #6d718a;
    font-weight: 600;
    font-size: 9px;
    min-width: 20px;
    text-align: center;
  }

  &__circle {
    background-size: 120% auto;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    position: relative;
    width: 48px;

    &:hover .live-lineup-player__hover-stats {
      padding: 0 18px 0 120px;
      width: 330px;
    }
  }

  &__photo {
    background: #050814;
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 5030;
    width: 100%;

    img {
      left: -12%;
      position: relative;
      top: 5px;
    }
  }

  &__hover-stats {
    background: #1e2130 url(../img/blocks/live-lineup-player/hover-stats-divider.jpg) no-repeat 100px center;
    border-radius: 50px;
    background-size: auto 64%;
    height: 50px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    transition: all 316ms cubic-bezier(.8,.16,.18,.85) 400ms;
    width: 48px;
    z-index: 5010;

    ul {
      list-style: none;
      padding-top: 9px;
      width: 290px;
    }

    li {
      display: inline-block;
      text-align: center;
      width: 32px;
    }

    .hover-stats__amount {
      font-family: $font-oswald;
      font-size: 14px;
      color: #9ea1b1;
    }
    .hover-stats__name {
      font-size: 9px;
      color: #9ea1b1;
    }
  }

  &__event-description {
    transition: all 500ms cubic-bezier(.8,.16,.18,.85) 400ms;
    background: #1f2231;
    border-radius: 32px;
    height: 32px;
    padding: 4px 14px;
    z-index: 5000;
    position: absolute;
    left: 138px;
    top: 16px;
    white-space: nowrap;

    > * {
      display: inline-block;
    }
  }

  .event-description-enter {
    opacity: 0.01;
    top: 36px;
  }

  .event-description-enter.event-description-enter-active {
    opacity: 1;
    top: 16px;
  }

  .event-description-leave {
    opacity: 1;
    top: 16px;
  }

  .event-description-leave.event-description-leave-active {
    opacity: 0.01;
    top: -4px;
  }

  .event-description__points {
    color: #3db8e3;
    font-family: $font-oswald;
    font-size: 11px;
    margin-right: 12px;
  }

  .event-description__info {
    color: #fff;
    font-size: 12px;
    margin-right: 4px;
  }

  .event-description__when {
    color: #878b9c;
    font-size: 12px;
  }

  // TEMP until real photos exist
  &__initials {
    color: #fff;
    font-size: 15px;
    font-family: $font-oswald;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
    padding-top: 13px;
    z-index: 5050;
    position: relative;
  }

  &__status {
    border-radius: 50%;
    width: 6px;
    height: 6px;
  }

  &__play-status {
    background: transparent url(../img/blocks/live-lineup-player/happening.png) no-repeat left top;
    background-size: 100% auto;
    width: 22px;
    height: 4px;
    position: relative;
    top: 47%;
    visibility: hidden;
    margin: 0 14px;

    &.play-status--playing {
      visibility: visible;
    }
  }

  &__points {
    color: #fff;
    font-size: 14px;
    font-family: $font-oswald;
    text-transform: uppercase;
    font-weight: 400;
    z-index: 5050;
  }

  // when playing show the green status indicator as well as make the PMR circle around the photo
  &.state--is-playing {
    .live-lineup-player__status {
      background-color: #2c8fb1;
    }

    .play-status--eventInProgress {
      background-color: #ff0000;
    }
  }

  &.state--not-playing {
    .live-lineup-player__points {
      color: #6d718a;
    }
  }

}



// NON BEM not sure how else to though...
.live-lineup--opponent {
  .live-lineup-player.state--is-playing {
    .live-lineup-player__status {
      background-color: #2c8fb1;
    }
  }

  .live-lineup-player .live-lineup-player__event-description {
    right: 138px;
    left: auto;
  }

  .live-lineup-player .live-lineup-player__hover-stats {
    text-align: left;
    background-position: 210px center;
  }
  .live-lineup-player:hover .live-lineup-player__hover-stats {
    padding: 0 120px 0 18px;
  }

  .live-lineup-player__play-status {
    left: -10px;
  }

  .live-lineup-player.state--is-playing .live-lineup-player__status {
    background-color: #bf313e;
  }

  .live-lineup-player__hover-stats,
  .love-lineup-player__photo {
    right: 0;
    left: auto;
  }
}
