@import "../variables.scss";
@import "./cmp-draft-group-select.scss";


.section-lobby {
  &.page-lobby,
  &.page-draft {
    .page-content__header {
      margin-bottom: 30px;
      .contest-list__sub_title{
        clear: both;
        width: 100%;
        margin-bottom: 5px;
        color: #9295a6;
        display: block;
        font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 10px;
        font-weight: 500;
        padding-bottom: 0;
        position: relative;
        text-transform: uppercase;
      }
      h2.player-list__header{
        font-size: 25px;
        line-height: 1.1em;
        span.player-list__header-games{
          font-size: 13px;
          line-height: 1.1em;
        }
      }
    }
    .sidebar.nba {
      background: url(../img/blocks/lobby/sidebar-nba-bottom.jpg) no-repeat bottom left #0C1524;
      background-size: 100% auto;

      &--header-title {
        display: inline-block;
        color: #fff;
        font-family: $font-oswald;
        font-size: 25px;
        line-height: 1.1em;
        transition: color 500ms ease;
        text-decoration: underline;
      }

      &--header-inner {
        position: relative;
        h5{
          clear: both;
          width: 100%;
          margin-bottom: 5px;
          color: #9295a6;
          display: block;
          font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
          font-size: 10px;
          font-weight: 500;
          padding-bottom: 0;
          line-height: normal;
          position: relative;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }

    .sidebar-inner {
      background: url(../img/blocks/lobby/sidebar-nba-top.jpg) no-repeat;
      background-size: 100% auto;
    }

    .page-content__content {
      padding-bottom: 100px;
      margin-top: 0;
    }
  }
}


.section-lobby.page-lobby {
  .sidebar {
    &--header-title {
      color: #747682;
      display: block;
      font-family: $font-open-sans;
      font-size: 10px;
      position: relative;
    }

    &--header-inner {
      position: relative;
    }
  }
}


.cmp-lobby-contests {
  position: relative;
}
