@import "../variables.scss";
@import "./cmp-draft-group-select.scss";


.section-lobby {
  &.page-lobby,
  &.page-draft {

    .sidebar {
      background: url(../img/blocks/lobby/sidebar-nba-bottom.jpg) no-repeat bottom left #0C1524;
      background-size: 100% auto;

      &--header-title {
        display: inline-block;
        color: #fff;
        font-family: $font-oswald;
        font-size: 25px;
        line-height: 1.1em;
        transition: color 500ms ease;
        text-decoration: underline;
      }

      &--header-inner {
        position: relative;
        h5{
          display: block;
          width: 100%;
          clear: both;
          text-decoration: none;
        }
      }
    }

    .sidebar-inner {
      background: url(../img/blocks/lobby/sidebar-nba-top.jpg) no-repeat;
      background-size: 100% auto;

    }

    .page-content__content {
      padding-top: 20px;
      padding-bottom: 100px;
      margin-top: 0;
    }
  }
}


.section-lobby.page-lobby {
  .sidebar {
    &--header-title {
      color: #747682;
      display: block;
      font-family: $font-open-sans;
      font-size: 10px;
      padding-bottom: 15px;
      position: relative;
    }

    &--header-inner {
      position: relative;
      padding-bottom: 20px;

    }
  }
}


.cmp-lobby-contests {
  position: relative;
}
