@import "../variables.scss";


.cmp-modal {
  align-items: center;
  background: rgba(18, 21, 29, .8);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: $zindex-modal;

  &--visible {
    display: flex;
  }

  &__dialog {
    background: #fff;
    padding: 25px;
    transition: width .25s;
    width: 500px;
  }

  &__inner {
    max-height: 85%;
    overflow: auto;
  }

  &__content {
    .button--confirm {
      color: #fff;
      width: 75%;
    }
  }

  &__close {
    cursor: pointer;
    margin: 0 auto 15px;
    background: url('../img/components/modal/close.png');
    background-size: 27px auto;
    display: block;
    height: 27px;
    width: 27px;
    z-index: 30;

    &:hover {
      opacity: .75;
    }

  }

  &__header {
    font-size: 18px;
    font-family: $font-oswald;
    text-transform: uppercase;

    &:after {
      content: " ";
      width: 80px;
      height: 0px;
      display: block;
      border-bottom: 1px solid #dee0e8;
      margin: 20px auto;
    }
  }

}
