// add app state to pane open will animate the pane open
body.appstate--nav-main--open .nav-main {
  left: 0;
}

.nav-main-trigger {
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 18px;
  z-index: $zindex-nav-main - 1;

  &__logo {
    display: inline-block;
    width: 34px;
    height: 18px;
    background: transparent url(../img/blocks/nav-main/logo.png) no-repeat center top;
    background-size: auto 100%;
  }

  &__menu {
    display: inline-block;
    width: 23px;
    height: 15px;
    background: transparent url(../img/blocks/nav-main/menu.png) no-repeat center top;
    background-size: auto 100%;
  }
}

.nav-main {
  background: #0f161e;
  border-left: 20px solid #0f161e;
  border-right: 20px solid #0f161e;
  font-family: $font-open-sans;
  height: 100%;
  position: fixed;
  left: -$nav-main-width;
  top: 0;
  transition: all 0.2s ease-out;
  width: $nav-main-width;
  z-index: $zindex-nav-main;

  a {
    text-decoration: none;
  }

  &__logo {
    color: #fff;
    display: block;
    line-height: 1;
    font-size: 10px;
    font-weight: 600;
    margin: 36px 0 20px;
    letter-spacing: 4px;
    text-transform: uppercase;

    background-position: 9px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    padding: 16px 0 12px 42px;
    background-image: url(../img/blocks/nav-main/logo-active.png);
  }

  ul {
    list-style: none;
  }

  li {
    display: block;
    padding: 14px 10px;

    a {
      color: #6d718a;
      display: block;
      font-weight: 300;
      font-size: 18px;
    }

    &.active a {
      color: #fff;
    }
  }

  .my-account {
    position: absolute;
    color: #a4acb4;
    background: #1b242f;
    font-size: 14px;
    bottom: 45px;
    width: 260px;
    left: -10px;
    padding: 12px 27px;
    display: block;
    text-align: center;

    span {
      background: url(../img/blocks/nav-main/my-account.png) no-repeat left center;
      padding-left: 33px;
      display: inline-block;
      background-size: auto 90%;
    }
  }
}
