// add app state to pane open will animate the pane open
body.appstate--nav-main--open .nav-main {
  left: 0;
}

.nav-main-trigger {
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 18px;
  z-index: $zindex-nav-main - 1;
  overflow: hidden;

  &__menu {
    display: inline-block;
    width: 23px;
    height: 15px;
    background: transparent url(../img/blocks/nav-main/menu.png) no-repeat center top;
    background-size: auto 100%;
  }
}

.nav-main {
  background: #081222;
  box-shadow: 0px 8px 84.28px 13.72px rgba(0, 0, 1, 0.46);
  font-family: $font-open-sans;
  height: calc(100% - 54px);
  position: fixed;
  left: -$nav-main-width;
  top: 54px;
  transform: translateX(0);  // gpu accelerate
  transition: all 0.2s ease-out;
  width: $nav-main-width;
  z-index: $zindex-nav-main;

  a {
    text-decoration: none;
  }

  &__primary {
    list-style: none;
    margin: 0;
    padding: 40px 0 0 0;

    li {
      display: block;

      a {
        color: #80828c;
        display: block;
        font-family: $font-oswald;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 0 10px 46px;
        position: relative;

        &:hover {
          color: #fff;
        }
      }

      &.active a {
        &:after {
          background-image: linear-gradient(0deg, rgb(33,157,135) 0%, rgb(52,204,104) 100%);
          content: '';
          position: absolute;
          left: 0px;
          top: 0;
          width: 3px;
          height: 100%;
          z-index: $zindex-nav-main + 10;
        }

        color: #fff;
      }
    }
  }

  &__secondary {
    list-style: none;
    margin: 0;
    padding: 28px 0 0 0;

    li {
      display: block;
      padding: 8px 0 8px 46px;

      a {
        color: #80828c;
        display: block;
        font-size: 13px;
      }
    }
  }

  &__sponsors {
    background: transparent url(../img/temp/sponsors.jpg) no-repeat left top;
    background-size: 100% auto;
    width: 231px;
    height: 28px;
    position: absolute;
    bottom: 15px;
    left: 24px;
  }
}
