// add app state to pane open will animate the pane open
body.appstate--nav-main--open .nav-main {
  left: 0;
}

.nav-main-trigger {
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 18px;
  z-index: $zindex-nav-main - 1;

  &__logo {
    display: inline-block;
    width: 34px;
    height: 18px;
    background: transparent url(../img/blocks/nav-main/logo.png) no-repeat center top;
    background-size: auto 100%;
  }

  &__menu {
    display: inline-block;
    width: 23px;
    height: 15px;
    background: transparent url(../img/blocks/nav-main/menu.png) no-repeat center top;
    background-size: auto 100%;
  }
}

.nav-main {
  background: #0f161e;
  border-left: 20px solid #0f161e;
  border-right: 20px solid #0f161e;
  font-family: $font-open-sans;
  height: calc(100% - 60px);
  position: fixed;
  left: -$nav-main-width;
  top: 60px;
  transition: all 0.2s ease-out;
  width: $nav-main-width;
  z-index: $zindex-nav-main;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding-top: 10px;
  }

  li {
    display: block;
    padding: 14px 15px;

    a {
      color: #777A84;
      display: block;
      font-weight: 300;
      font-size: 18px;

      .underline {
        display: none;
        width: 40px;
        margin-top: 10px;
        border-bottom: 1px green solid;
      }
    }

    &.active a {
      color: #fff;

      .underline {
        display: block;
      }
    }
  }

  a.sign-out {
    color: #777A84;
    position: absolute;
    left: 15px;
    bottom: 60px;
  }
}
