@import "../variables.scss";

/*
  Contest detail pane - This is used in both the lobby and results pages.
 */
.pane--contest-detail {

  .pane-upper {
    .title {
      color: $primary-white;
      font-size: 18px;
      font-family: $font-open-sans;
      font-weight: 100;
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
    }

    .header {
      background: url('../img/blocks/pane/pane-header-background.jpg') no-repeat;
      background-size: $pane-width $pane-header-height;
      min-height: $pane-header-height;

      .info-title {
        color: $secondary-grey;
        font-family: $open-sans;
        font-size: 10px;
        letter-spacing: .15em;
        text-transform: uppercase;
      }

      // pane__header__content
      &__content {
        padding: 35px 30px 0;
        text-align: center;
      }

      // pane__info
      &__info {
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        display: table;
        padding: 10px 0px 10px 0px;
        font-style: $font-georgia;

        .cmp-countdown-clock {
          font-family: $font-oswald;
          font-size: 45px;
        }

        .minutes,
        .seconds {
          color: #fff;
        }
      }

      // pane__header__extra-info
      &__extra-info {
        max-height: 80px;
        margin-bottom: 20px;

        .badge {
          display: inline-block;
          border-radius: 2px;
          margin: 2px;
          padding: 1px;
          font-size: 8px;
          width: 15px;
          height: 15px;
          font-family: $open-sans;
        }

        .m {
          color: $primary-white;
          border: solid 1px $primary-white;
        }

        .g {
          color: #50C48F;
          border: solid 1px #50C48F;
        }
      }

      // pane__header__fee-prizes-pool
      &__fee-prizes-pool {
        padding-bottom: 30px;

        div {
          text-transform: uppercase;
          max-width: $pane-width / 3;
          display: inline-block;
          line-height: 15px;

          div {
            font-family: $font-oswald;
            padding-top: 5px;
            width: 100%;
            font-size: 20px;
            color: #ffffff;
          }
        }
      }
    }

  }


  // pane__content
  .pane-lower {
    padding: 20px 45px;
  }


  // Lobby-specific pane stuff.
  .btn-enter-contest .button {
    width: 225px;
    font-size: 10px;
    padding: 15px;
  }
}



.cmp-entrant-list {
  ul {
    column-count: 1;
  }
}
