// requires layouts.scss";


// when a user requests something and a pane slides out from the right hand side
// drew says it will always be the same width
.pane {
  background: transparent;
  // background: url(../img/blocks/pane.jpg) no-repeat left top;
  background-size: auto 110%;
  height: 100%;
  position: fixed;
  right: -412px;
  top: 0;
  transition: all 230ms cubic-bezier(.8,.16,.18,.85);
  -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
  animation-delay: 100ms;
  width: 412px;

  // * {
  //   display: none;
  // }
}

// add app state to pane open will animate the pane open
body.appstate--pane--open {
  .pane {
    right: 0px;
  }

  .score-ticker {
    left: 0;
  }

  .content-container {
    transform: perspective(1300px) rotateY(2deg) scale(0.93);
    opacity: 0.6;
  }
}