@import "../variables.scss";
// requires layouts.scss";


// when a user requests something and a pane slides out from the right hand side
// drew says it will always be the same width
.pane {
  //background: #fff;
  background-size: auto 110%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: -$pane-width;
  top: $nav-scoreboard-height;
  transition: right 230ms cubic-bezier(.8,.16,.18,.85);
  -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
  animation-delay: 100ms;
  width: $pane-width;
  will-change: right, transition, transform;
  transform: translateZ(0); // To prevent repaint on scroll.
  z-index: $zindex-modal + 6;
  padding-left: 15px;

  &__close {
    background: url('../img/blocks/pane/btn-close-arrow.png') no-repeat;
    background-size: 28px auto;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 30px;
    position: absolute;
    left: -15px;
    top: 50px;
    // z-index: $zindex-modal + 2;

    &:hover {
      opacity: .75;
    }
  }

  &__content {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #fff;
  }
}

.pane__bg-cover {
  will-change: opacity, visibility, height;
  background: rgba(79, 81, 89, .9);
  height: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-modal;
  opacity: 0;
  transition: opacity .25s;
  visibility: hidden;
}

// add app state to pane open will animate the pane open
body.appstate--pane--open {
  // Disable main window content scrolling.
  overflow: hidden;

  .pane__bg-cover {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  .pane {
    right: 0px;
  }
}
