@import "../variables.scss";

/*
  Contest detail pane - This is used in both the lobby and results pages.
 */
.pane--contest-detail {

  .pane-upper {
    .title {
      color: $primary-white;
      font-size: 14px;
      font-family: $font-open-sans;
      font-weight: 100;
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
    }

    .header {
      background: url('../img/blocks/pane/pane-header-background.jpg') no-repeat;
      background-size: $pane-width auto;
      min-height: $pane-header-height;

      .info-title {
        color: #8694a7;
        display: block;
        font-family: $font-open-sans;
        font-size: 9px;
        letter-spacing: .15em;
        padding-bottom: 2px;
        text-transform: uppercase;
      }

      // pane__header__content
      &__content {
        padding: 42px 30px 0;
        text-align: center;
      }

      // pane__info
      &__info {
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        display: table;
        padding: 10px 0px 10px 0px;
        font-style: $font-georgia;

        .clock-labels {
          color: #8694a7;
          display: block;
          font-family: $font-open-sans;
          font-size: 9px;
          letter-spacing: .15em;
          padding: 10px 0 20px;
          text-transform: uppercase;

          > span {
            display: inline-block;
            padding: 0px 13px;
            text-align: center;
          }
        }

        .cmp-countdown-clock {
          font-family: $font-oswald;
          font-size: 50px;
        }

        .minutes,
        .seconds {
          color: #fff;
        }
      }

      // pane__header__extra-info
      &__extra-info {
        max-height: 80px;
        margin-bottom: 20px;

        .badge {
          display: inline-block;
          border-radius: 2px;
          margin: 2px;
          padding: 1px;
          font-size: 8px;
          width: 15px;
          height: 15px;
          font-family: $font-open-sans;
        }

        .m {
          color: $primary-white;
          border: solid 1px $primary-white;
        }

        .g {
          color: #50C48F;
          border: solid 1px #50C48F;
        }
      }

      // pane__header__fee-prizes-pool
      &__fee-prizes-pool {
        margin-bottom: 30px;

        div {
          border-right: 1px solid #283445;
          display: inline-block;
          line-height: 15px;
          padding: 10px 0;
          text-transform: uppercase;
          width: $pane-width / 4;

          &:last-child {
            border-right: none;
          }

          div {
            font-family: $font-oswald;
            padding: 5px 0 0;
            width: 100%;
            font-size: 16px;
            color: #ffffff;
          }
        }
      }
    }

  }


  // pane__content
  .pane-lower {
    padding: 20px 45px 65px;
  }
}


// Lower section entry list.
.cmp-entry-list,
.cmp-entrant-list {
  ul {
    column-count: 1;
  }

  .lineup-name,
  .username {
    display: inline-block;
    font-weight: 700;

    .icon-guaranteed {
      margin-left: 5px;
    }
  }

  table {
    margin-bottom: 0 !important;
  }

  .button {
    min-width: 13em;
  }
}

.cmp-entrant-list {
  td {
    padding: 15px 10px;
  }
}
