@import "../variables.scss";

/**
 *
 * Tabbed content in panes.
 *
 * This is table-styled stuff that fits in the sidebar panes. It's used for things like player
 * splits in the draft section, prize structures in the lobby, etc..
 *
*/

.pane {
  .tab-nav {
    text-align: left;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #b0b2c1;
    padding-bottom: 30px;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      margin: 5px 40px 5px 0;
      display: inline-block;
      cursor: pointer;
      line-height: 2em;

      &:last-child{
        margin: 0;
        padding: 5px 0 0 0;

        a {
           color: #b0b2c1;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 10px;
          &:hover {
            color: #262a3b;
            cursor: pointer;
            text-decoration: none;
          }
        }
        .rotowire-icon {
          //size:(115 px, 39 px);
          background-image: url('../img/common/rwlogo-500w.png');
          background-position: 1px 4px;
          background-repeat: no-repeat;
          margin-top: -7px;
          height: 26px;
          width: 70px;
          display: inline-block;
          background-size: contain;
          vertical-align: top;
        }
      }

      &:hover {
        color: #262a3b;
      }

      &.active {
        color: #262a3b;
        position: relative;
        //border-bottom: 2px solid #46495e;
        .tab-title {
          &:before {
            content: '';
            width: 23px;
            border-bottom: 2px solid #46495e;
            //box-shadow: #a3a4ae 0 1px 0;

            position: absolute;
            left: 0;
            height: 1px;
            bottom: -5px;
          }
        }
      }
    }
  }
}


/**
 * Prize Structure + game list Tab Content
 */
.tab-content .table {
  margin-bottom: 40px;

  th {
    cursor: default;
    padding: 5px;
  }

  thead {
    .place {
      font-weight: 600;
      text-align: left;
    }

    .prize {
      text-align: right;
    }
  }

  tbody {
    padding: 0;

    .teams,
    .place {
      font-weight: 600;
      text-align: left;
    }

    .time,
    .prize {
      text-align: right;
    }
  }

}


// Player splits table in draft player detail pane.
.player-splits {
  .table td {
    font-size: 10px;
    padding: 10px;
    color: #6d718a;
  }
}
