@import "../variables.scss";
// requires layouts.scss";


// when a user requests something and a pane slides out from the right hand side
// drew says it will always be the same width
.pane {
  //background: #fff;
  background-size: auto 110%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: -$pane-width;
  top: $nav-scoreboard-height;
  transition: right 230ms cubic-bezier(.8,.16,.18,.85);
  -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
  animation-delay: 100ms;
  width: $pane-width;
  will-change: right, transition, transform;
  transform: translateZ(0); // To prevent repaint on scroll.
  z-index: $zindex-modal + 6;
  padding-left: 15px;


  &__close {
    background: url('../img/blocks/pane/btn-close-arrow.png') no-repeat;
    background-size: 28px auto;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 30px;
    position: absolute;
    left: -15px;
    top: 50px;
    // z-index: $zindex-modal + 2;

    &:hover {
      opacity: .75;
    }
  }

  &__content {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #fff;

    // the specificity on this isn't correct
    // and will break if this is ever added to.
  }
}

.pane__content .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;

  &.pane-standings{
    position: relative;
    min-height: 600px;
    align-items: start;
    align-content: start;
  }
  @for $i from 1 through 9{
    .grid-col-#{$i}{
      grid-column: span #{$i}
    }
  }
  header{
    background: #4b545f;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    padding: 5px 5px 5px 20px;
    h6{
      color: #fff;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
      &.header-player-info{
        padding-left: 20px;
      }
    }
  }
  .user-row{
    border-bottom: 1px solid #d4d7e3;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    transition: height .4s;
    position: relative;
    vertical-align: inherit;
    font-size: 12px;
    cursor: pointer;
    .user-data{
      padding: 10px 20px;
      div:last-child{
        text-align: right;
      }
    }
    .user-drawer{
      max-height: 0;
      overflow: hidden;
      box-sizing: border-box;
      transition: max-height .15s ease-in-out;
      //transition-delay: 0s;
      &-row{
        padding: 10px 0;
        font-size: 12px;
        border-top: 1px solid #d4d7e3;
      }
      .right-align{
        text-align: right;
      }
    }
    &:hover,&.show {
      background: #f7f8fa;
    }
    &.show {
      .user-drawer{
        transition: max-height .4s;
        //transition-delay: .4s;
        max-height: 700px;
      }
    }
  }
  .player-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 0 20px;
    @for $i from 1 through 9{
      .grid-col-#{$i}{
        grid-column: span #{$i};
        align-self: center;
      }
    }
  }
  .player.player-grid{
    border-top: 1px solid #d4d7e3;
    &.active{
      background: #f7f8fa;
    }
    p,h4,h5,h6{
      margin: 0;
      padding: 0;
    }

    .info{
      padding: 10px 0 10px 20px;
      p {
        line-height: 1;
        &.name {
          margin-bottom: 5px;
        }
        &.meta {
          font-size: 10px;
        }
      }
    }
    .effect-circle{
      overflow: hidden;
      background-size: contain;
      background-position: bottom center;
      display: inline-block;
      width: 40px;
      height: 40px;
      position: relative;
      align-self: end;
      span{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: bottom center;
      }
    }
  }
}

.pane__bg-cover {
  will-change: opacity, visibility, height;
  backdrop-filter: blur(3px);
  background: rgba(0,0,0, .5);
  height: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-modal;
  opacity: 0;
  transition: opacity .25s, backdrop-filter .25s;
  visibility: hidden;
}

// add app state to pane open will animate the pane open
body.appstate--pane--open {
  // Disable main window content scrolling.
  overflow: hidden;

  .pane__bg-cover {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  .pane {
    right: 0px;
  }
}
