.radio-button-list {
  list-style: none;

  > li {
    @extend %clearfix;
    display: block;
    padding: 1px 0;
    max-width: 348px;
  }

  &__header-label {
    color: #162530;
    display: block;
    float: right;
    font-size: 10px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 20px;
  }

  &__title {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
  }

  &__button-container {
    margin-right: 6px;
    position: relative;
    top: -1px;
  }

  &__input {
    padding: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    display: inline-block;

    // not BEM, but required to target label of checked input
    &:checked + label {
      background-position: 0 0;
    }
  }

  &__label {
    background: url('../img/blocks/form/radio-button.png') no-repeat -38px 0;
    position: absolute;
    left: 0;
    cursor: pointer;
    text-indent: -10000px;
    overflow: hidden;
    display: block;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 0;
    background-size: auto 120%;
  }

  // on the withdraw.html settings view we push the radio buttons to flush against the left
  // may make this a more generic modifier if this happens more often
  &--withdraw-method {
    .radio-button-list__button-container,
    .radio-button-list__title {
      left: -6px;
      position: relative;
    }
  }
}
