$block: '.results-page';
$results-fg-text-color: #46495e;
$results-bg-text-color: #BDC0C2;
$results-selected-text-color: #2bb677;


.flipper-wrap{
  max-width: 310px;
}

.results-page {
  background: transparent url(../img/blocks/live/bg.jpg) no-repeat left top;
  background-size: 100% auto;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &--header {
    height: 110px;
    margin-top: 60px;
    position: relative;
    background-color: #ffffff;
    text-transform: uppercase;

    .title {
      .text {
        color: #9c9fae;
        font-size: 9.5px;
      }

      .date {
        color: #47495e;
        font-family: $font-oswald;
        font-size: 24px;
        min-width: 110px;
      }
    }

    .results-days-slider {
      display: inline-block;
      width: 290px;

      .slick-prev, .slick-next {
        color: #878a9f;
        display: inline-block;
        width: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        transform: scaleX(0.50) translateY(9px);
        cursor: pointer;
        top: -6px;
        position: absolute;
      }
      .slick-prev {
        left: -26px;
      }

      .slick-next {
        right: -22px;
      }

      .content-holder {
        width: 290px;
        height: 62px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }

      .content {
        position: absolute;
        width: 413px;
        transition: left 1s;
      }

      .item {
        display: inline-block;
        color: #c6cacc;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 9.5px;
        cursor: pointer;
        padding-right: 25px;
        position: relative;

        .value {
          display: block;
          font-size: 11px;
          font-weight: normal;
          color: #46495e;
        }

        &.selected {
          color: $results-selected-text-color;

          .value {
            color: $results-selected-text-color;
          }
        }

        &.future {
          cursor: not-allowed;
        }
      }

      .separator {
        display: block;
        position: absolute;
        height: 36px;
        width: 25px;
        right: 0;
        top: 0;

        span {
          background: #dee1e8;
          transform: rotate(20deg);
          width: 1px;
          height: 36px;
          display: block;
          position: relative;
          left: 10px;
          top: 8px;
        }
      }
    }

    .results-date-picker {
      display: inline-block;
      white-space: nowrap;
      margin-top: 5px;
      .toggle {
        display: inline-block;
        background: url('../img/blocks/results/calendar.png') no-repeat center center;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        margin-left: 45px;
      }
    }

    .search {
      display: inline-block;
      display: none;
      position: absolute;
      right: 255px;
      top: 62px;
      border-right: 1px solid $results-bg-text-color;
      width: 50px;
      height: 30px;
      text-align: center;
    }

    .cta {
      position: absolute;
    }

    .draft-a-team,
    .watch-live-lineups {
      display: inline-block;
      color: #46485d;
      font-size: 9.5px;
      border: solid 1px $results-selected-text-color;
      padding: 6px 22px;
      border-radius: 4px;
      cursor: pointer;
      letter-spacing: 1.5px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .watch-live-lineups {
      margin-right: 10px;
    }
  }

  &--stats {
    background-color: #EDEEF1;

    .item {
      display: inline-block;
      color: #9c9fae;
      font-size: 9.5px;
      vertical-align: middle;
      text-transform: uppercase;

      .title,
      .value {
        display: inline-block;
        line-height: .8;
        vertical-align: middle;
      }

      .value {
        color: #47495e;
        font-family: $font-oswald;
        font-size: 15px;
        margin-left: 6px;
      }
    }
  }

  &--data {
    display: block;
    min-height: calc(50vh - 220px);
    padding-bottom: 50px;
    .cmp-lineup-card.flip-container{
      perspective: none;
    }
  }

  &__no-contests {
    color: #fff;
    font-family: $font-oswald;
    font-size: 18px;
    font-weight: 700;
    margin: 40px auto ;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }

  // Show/Hide contest detail pane.
  .flip-container.shown-contest-pane {
    .pane {
      right: 0 !important;
    }
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .results-page {
    &--header {
      padding: 0 28px;

      .cta {
        right: 28px;
      }
    }

    &--lineups {
      padding-left: 28px;
    }
  }
}

@media (min-width: 1024px) {
  .results-page {
    &--header {
      padding: 0 88px;

      .cta {
        right: 100px;
      }
    }

    &--lineups {
      padding-left: 88px;
    }
  }
}

@media (min-width: 768px) {
  .results-page {
    height: 100%;

    &--header {

      .title {
        display: inline-block;
        padding-top: 30px;
      }

      .results-days-slider {
        position: relative;
        top: 10px;
        margin-left: 60px;
      }

      .cta {
        top: 45px;
      }
    }

    &--stats {
      height: 45px;
      padding-left: 88px;
      line-height: 45px;

      .item {
        &.possible,
        &.winnings,
        &.buyins {
          width: 130px;
        }
      }

      .item.entries .value {
        margin-right: 36px;
      }
    }

    &--lineups {
      padding-top: 50px;
      .flip-container{
        margin: 0;
      }
      .flip-container, .lineup, .contests {
        width: 290px;
      }
    }
  }
}


@media (max-width: 767px) {
  #{$block} {
    &--header {
      .title {
        display: block;
        padding-top: 10px;
        padding-left: 5%;
      }

      .results-days-slider {
        display: block;
        position: relative;
        left: 50%;
        top: 10px;
        width: 262px;
        margin-left: -131px;
        transform: scale(0.9);
      }

      .results-date-picker {
        display: block;
        text-align: center;
        .toggle{
          margin-left: 0;
          display: none;
        }
      }

      .cta {
        right: 5%;
        top: 28px;
      }
    }

    &--stats {
      padding: 10px 5%;
      line-height: 2;
      text-align: center;

      .item .value {
        margin-right: 19px;
      }
    }

    &--lineups {
      padding-left: 5%;

      .flip-container{
        margin: 0 50px;
      }

      .flip-container.shown-contest-pane {

        .pane {
          width: 90%;

          .pane-upper .header {
            background-size: auto 100%;
            min-height: 380px;
          }

          .tab-nav li {
            margin: 5px 9px;
          }
        }
      }
    }
  }
}
