.score-ticker {
  background: #585d65;
  color: #fff;
  font-family: $font-open-sans;
  font-weight: 600;
  font-size: 9px;
  text-transform: uppercase;

  > div {
    overflow: hidden;
    position: relative;
    height: 3em;
  }
}


.component-score-ticker {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;

  .component-score-ticker--scores {
    display: table;
  }

  .component-score-ticker--score {
    position: relative;
    display: table-cell;
    padding: 6px 0;
    min-width: 126px;
    text-align: center;
  }
}
