// When you are in account settings, this is the top left portion of the sidebar where you can sign out
.settings-sidebar-actions {
  .sign-out {
    font-family: $font-open-sans;
    font-size: 13px;
    color: #7b869d;
    text-decoration: none;
  }
}