@import "../variables.scss";


.sidebar {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131a25+42,223044+78,161f2b+100 //
  background: linear-gradient(135deg, rgba(19,26,37,1) 42%,rgba(34,48,68,1) 78%, rgba(22,31,43,1) 100%);
  color: #fff;
  position: relative;

  &--header {
    background: rgba(19, 26, 37, .50);

    top: $nav-scoreboard-height;

    z-index: 30;
  }

  &--header-inner {
      margin: 0 auto;
      max-width: 290px;
      padding: 30px 0 20px;
  }

  &--header-title {
      font-family: $font-oswald;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
  }

  .sidebar-inner {
    overflow: auto;
    height: 100%;
    // Disabled because it gets goofy with the opacity of webp images.
    //transform: translateZ(0); // To prevent repaint on scroll.
  }

  .sidebar-content {
    margin: 0 34px;
    position: relative;
  }

  h1 {
    color: #fff;
    font-family: $font-open-sans;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .sign-out {
    background: url('../img/blocks/sidebar/sign-out.png') no-repeat right 1px;
    background-size: auto 100%;
    color: #72708a;
    font-size: 13px;
    padding-right: 20px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 2px;
  }
}


/**
 * 'Enter Contest' & Contest Detail Pane Hover Styles.
 */
.section-lobby.page-lobby.appstate--pane--open,
body.appstate-enterContestButtonHover {
  .sidebar {
    z-index: $zindex-lobby-sidebar;
  }
}

body.appstate-enterContestButtonHover.appstate-modal-open {
  .sidebar {
    z-index: 1;
  }
}




// Anything lower than 1024px,
@media (max-width: $break-laptop) {
  .sidebar {
    min-width: 318px;
    width: 318px;

    .sidebar-content {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
