@import "../variables.scss";


.sidebar {
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131a25+42,223044+78,161f2b+100 */
  background: rgb(19,26,37); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(19,26,37,1) 42%, rgba(34,48,68,1) 78%, rgba(22,31,43,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(42%,rgba(19,26,37,1)), color-stop(78%,rgba(34,48,68,1)), color-stop(100%,rgba(22,31,43,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(19,26,37,1) 42%,rgba(34,48,68,1) 78%,rgba(22,31,43,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(19,26,37,1) 42%,rgba(34,48,68,1) 78%,rgba(22,31,43,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(19,26,37,1) 42%,rgba(34,48,68,1) 78%,rgba(22,31,43,1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(19,26,37,1) 42%,rgba(34,48,68,1) 78%,rgba(22,31,43,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131a25', endColorstr='#161f2b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: relative;

  &--header {
    // background: rgba(19, 26, 37, 0.5);
    background: rgba(19, 26, 37, .95);
    position: absolute;
    top: $nav-scoreboard-height;
    left: 0;
    width: 100%;
    z-index: 30;
  }

  &--header-inner {
      margin: 0 auto;
      max-width: 290px;
      padding: 40px 0;
  }

  &--header-title {
      font-family: $font-oswald;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
  }

  .sidebar-inner {
    overflow: auto;
    height: 100%;
  }

  .sidebar-content {
    margin: 54px 34px;
    position: relative;
  }

  h1 {
    color: #fff;
    font-family: $font-open-sans;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .sign-out {
    background: url(../img/blocks/sidebar/sign-out.png) no-repeat right 1px;
    background-size: auto 100%;
    font-size: 13px;
    color: #72708a;
    position: absolute;
    right: 0;
    padding-right: 20px;
    top: 2px;
    text-decoration: none;
  }
}
