/*doc
---
title: Table
category: Tables
---
```html_example
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Type</th>
      <th>Description</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
  </tbody>
</table>
```
*/


/*doc
---
title: Zebra Striped Table
category: Tables
---
```html_example
<table class="table table--zebra">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Type</th>
      <th>Description</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
    <tr>
      <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
      <td>$1,300.32</td>
      <td>$2,249.32</td>
      <td>GPP</td>
      <td>Contest with multiple entries.</td>
      <td><a href="#">Details</a></td>
    </tr>
  </tbody>
</table>
```
*/


@import "../variables.scss";

.table {
  border-collapse: collapse;
  font-family: $font-open-sans;
  width: 100%;

  thead {
    background: #4b545f;
    box-shadow: 0 10px 10px rgba(0,0,0,.1)
  }

  tbody {
    padding: 10px 20px;
  }

  tbody tr {
    border-bottom: 1px solid #d4d7e3;

    &:hover {
      background: #f7f8fa;
    }
  }

  td, th {
    font-size: 12px;
    padding: 8px 10px;
    text-align: left;

    &:first-child {
      padding-left: 20px;
    }
  }

  .fade {
    opacity: .5;
  }

  &__sub {
    color: #adb0be;
    display: block;
    font-size: 9px;
  }

  &__sort-icon {
    display: inline-block;
    height: 5px;
    position: relative;
    margin-left: 2px;
    top: -1px;
    width: 6px;
  }

  th {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    padding: 5px 0px 5px 5px;
    text-transform: uppercase;
    text-align: left;

    &.table__sortable {
      cursor: pointer;
      &.padfix{
        padding-left: 10px;
      }
    }

    &.active {
      color: #fff;
      font-weight: 600;

      .table__sort-icon {
        background: url(../img/components/table/arrow-down-white.png) no-repeat;
        background-size: 6px 5px;
        transition: all .25s;
      }
    }

    &.sort-asc .table__sort-icon {
      transform: rotateX(180deg);
    }
  }

  &__title {
    font-weight: 600;
  }
}


// Zebra-striped tables
.table--zebra {
  @extend .table;

  tbody tr {
    &:nth-of-type(odd) {
      background: #f9f9f9;
    }
  }
}
