{% extends "base.html" %}
{% load staticfiles %}

{% block body_class %}one-col one-col--live-nba{% endblock %}

{% block body %}
  <section class="live-nba live-nba--with-opponent">
    <section class="live-nba__lineup live-lineup live-lineup--me">
      <ul class="live-lineup__players">
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__position">PG</div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__happening"></div>
        </li>
      </ul>
    </section>

    <section class="live-nba__court-scoreboard">
      <header class="live-nba__scoreboard live-scoreboard">
        <h1 class="live-scoreboard__contest-name">$150K NBA Championship</h1>

        <section class="live-winning-graph">
          <div class="live-winning-graph__pmr-line">
            <span style="width: 79%"></span>
          </div>

          <h3 class="live-winning-graph__limits live-winning-graph__min">$0</h3>
          <h2 class="live-winning-graph__earnings">$8,221</h2>
          <h3 class="live-winning-graph__limits live-winning-graph__max">$10,000</h3>
        </section>

        <section class="live-overview live-overview--lineup">
          <div class="live-overview__contests">
            <div class="live-overview__help">
              Contests
            </div>
            <h4 class="live-overview__quantity">8</h4>
          </div>

          <div class="live-overview__points">
            <div class="live-overview__help">
              Points
            </div>
            <h4 class="live-overview__quantity">123</h4>
          </div>

          <div class="live-overview__entries">
            <div class="live-overview__help">
              Entries
            </div>
            <h4 class="live-overview__quantity">63</h4>
          </div>

          <section class="live-stack-choice live-stack-choice--me">
            <div class="live-stack-choice__title">
              <span>◆</span> Warriors Stack
            </div>
          </section>

          <section class="live-stack-choice live-stack-choice--opponent">
            <div class="live-stack-choice__title">
              <span>◆</span> Ppgogo
            </div>
          </section>
        </section>

      </header>

      <section class="live-nba__court live-nba-court"></section>
    </section>

    <section class="live-nba__lineup live-lineup live-lineup--opponent">
      <ul class="live-lineup__players">
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__happening"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__position">PG</div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__happening"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__position">PG</div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__happening"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__position">PG</div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__happening"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__position">PG</div>
        </li>
        <li class="live-lineup-player state--is-playing">
          <div class="live-lineup-player__happening"></div>
          <div class="live-lineup-player__points">23.5</div>
          <div class="live-lineup-player__status"></div>
          <div class="live-lineup-player__photo"></div>
          <div class="live-lineup-player__position">PG</div>
        </li>
      </ul>
    </section>

    <section class="live-nba__history live-history live-history--me">
      <div class="live-history__slider">
        <div class="live-history__event">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
        <div class="live-history__event">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
        <div class="live-history__event">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
        <div class="live-history__event live-history__event--newest">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
      </div>
    </section>

    <section class="live-nba__history live-history live-history--opponent">
      <div class="live-history__slider">
        <div class="live-history__event live-history__event--newest">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
        <div class="live-history__event">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
        <div class="live-history__event">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
        <div class="live-history__event">
          <h3 class="live-history__player-name">
            Dwight Howard <span class="live-history__points">+1</span>
          </h3>
          <div class="live-history__event-name">Free Throw</div>
        </div>
      </div>
    </section>
    <!-- <section class="live-nba__standings">standings</section> -->

  </section>
{% endblock %}
