{% extends "base.html" %}

{% block body_class %}two-col two-col--left{% endblock %}

{% block sidebar %}
<header class="settings-sidebar-actions">
  <h1>My Account</h1>
  <a class="sign-out" href="#">Sign Out</a>
</header>

<section class="balance-summary">
  <h2>
    <sup>Current Balance</sup>
    <span class="currency">$</span>4,832.94
  </h2>
  <hr>
  <h2>
    <sup>Pending Bonus</sup>
    <span class="currency">$</span>78.52
  </h2>

  <a class="balance-summary--action" href="#">Deposit</a>
  <a class="balance-summary--action" href="#">Withdraw</a>
</section>
{% endblock sidebar %}

{% block page_content %}
  {% include "frontend/settings/nav.html" %}

  <header class="content-message content-message--info">
    <h5 class="content-message__title">
      Important information regarding withdraws
    </h5>
    <p class="content-message__description">
      Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes.
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh
      ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      Nullam id dolor id nibh ultricies vehicula ut id elit.
    </p>
  </header>

  <form class="form">
    <fieldset class="form__fieldset">

      <div class="form-field">
        <label class="form-field__label" for="email">Withdraw Amount</label>
        <input class="form-field__text-input" type="email" id="email" name="email" placeholder="$700" required onblur="this.className+=' attempted'">
      </div>

      <div class="form-field">
        <label class="form-field__label form-field__label--twoline" for="ssn">
          SSN for Taxes<br>(1099 Misc.)
        </label>
        <div class="form-field__input-wrapper form-field__ssn-input-wrapper"></div>
      </div>

      <div class="form-field form-field--with-help">
        <label class="form-field__label" for="notifications">Withdraw Method</label>
        <div class="form-field__content">
          <p class="form-field__info">
            You may receive your withdraw thru PayPal or a mailed check. Mailed checks may take between 7-12 business
            days to arrive.
          </p>

          <ul class="radio-button-list radio-button-list--withdraw-method">
            <li>
              <div class="radio-button-list__button-container pull-left">
                <input class="radio-button-list__input" type="radio" name="radio-withdraw-method" id="withdraw-method-1" value="0" checked="checked">
                <label class="radio-button-list__label" for="withdraw-method-1">Off</label>
              </div>
              <div class="radio-button-list__title">
                PayPal
              </div>
              <input class="form-field__text-input" type="text" id="paypal-email" name="paypal-email" placeholder="Paypal associated email address..." required onblur="this.className+=' attempted'">
            </li>
          </ul>
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__content">
          <ul class="radio-button-list radio-button-list--withdraw-method">
            <li>
              <div class="radio-button-list__button-container pull-left">
                <input class="radio-button-list__input" type="radio" name="radio-withdraw-method" id="withdraw-method-2" value="1">
                <label class="radio-button-list__label" for="withdraw-method-2">Off</label>
              </div>
              <div class="radio-button-list__title">
                Mail
              </div>
              <p class="form-field__static-content">
                Andrew Smith<br>
                1317 Oakley St.<br>
                Orlando, FL 32803<br>
                <a href="/frontend/settings/">Edit</a>
              </p>
            </li>
          </ul>
        </div>
      </div>

      <input type="submit" class="button--medium" value="Withdraw">
    </fieldset>
  </form>
{% endblock %}