@import './variables.scss';

$white: #fff;
$red: #d83036;
$green: #34cc68;
$grey-dark: #5d6072;

$width-left: 490px; // minimum width from comp
$account-height: 600px;

.account {
  // this section is in the __content but above the v-middle on the screen
  &__header {
    display: block;
    margin: 0 auto;
    padding: 10vh 0 4vh;
    width: 100%;

    &__logo {
      // align logo with the h1
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 38px;
      background-image: url(../img/account/logo.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    h1 {
      display: inline-block;
      margin-left: 10px;
      color: #46495e;
      font-size: 11px;
      font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
      font-weight: 300;
      letter-spacing: 4px;
    }
  }

  &__left {
    background: #fff;
    max-width: $width-left;
    min-height: 100%;
    position: relative;
    text-align: center;
    width: 34%; // ratio from comp, 982px/2880px
    z-index: 1;

    &__content {
      padding-bottom: 150px; // max height of footer

      &__checkmark-success {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        background-image: url(../img/account/email_sent.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &__text {
        color: #5d6072;
        font-size: 14px;
        font-family: $font-open-sans;
        letter-spacing: 1.5px;
      }

      &__form {
        width: 70%;
        max-width: 400px;
        margin: 0 auto;
        // this sizes makes sure the biggest form (registration) is kept intact
        min-height: 350px;

        .split_field_group {
          text-align: left;
          .account__left__content__form__input-layout {
            width: 48%;
            display: inline-block;

            &:first-child {
              margin-right: 4%;
            }
          }
        }

        .birth-date {
          label {
            display: block;
            padding-bottom: 5px;
          }

          .birth-day {
            margin: 0 10px;
            width: 80px;
          }

          .birth-month {
            margin: 0 10px 0 0;
            width: 80px;
          }

          .birth-year {
            margin: 0 10px;
            width: 110px;
          }
        }

        &__non-field-errors {
          font-size: 12px;
          color: #fff;
          background: #e33c3c;
          padding: 10px;
          margin-top: 10px;
        }

        &__input-layout {
          position: relative;
          text-align: left;
          margin-top: 25px;

          p {
            font-size: 11px;
            font-family: $font-open-sans;
            margin: 10px auto;
            width: 85%;
            vertical-align: top;
          }

          label {
            color: #b0b2c1;
            font-size: 9.5px;
            font-family: $font-open-sans;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 5px;

            span {
              font-size: 10px;
            }
          }

          label:hover {
            cursor: pointer;
          }

          input[type=text],
          input[type=email],
          input[type=password] {
            padding: 0;
            width: 100%;

            color: #46495e;
            font-size: 16px;
            font-family: $font-open-sans;

            box-shadow: none;
            transition: none 0s ease 0s;
            border: 0;
            border-bottom: 1px solid #9ca1ae;

            &:focus {
              border-color: $green;
              transition: none;
              outline-width: 0;
            }

            &::placeholder {
              color: #b0b2c1;
              font-weight: 300;
            }
          }

          input[type=submit] {
            width: 100%;
          }

          input[type=checkbox] {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: top;
          }

          .forgot-password-link > a {
            color: $green;
            font-size: 9px;
            font-family: $font-open-sans;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
          }

        }

        // if the input is errored change some (make red colors) styles
        &__input-layout.errored {
          label, p {
            color: $red;
          }

          input[type=text],
          input[type=email],
          input[type=password] {
            border-color: $red;

            &:focus {
              border-color: $red;

              & + label {
                color: $red;
                top: -55px;
              }
            }

            &:valid + label {
              color: $red;
              top: -55px;
            }
          }
        }

        // div displaying the error message
        .errorlist {
          list-style: none;
        }
        .error-info,
        .errorlist li {
          width: 100%;
          color: $white;
          background-color: $red;
          font-size: 13px;
          font-family: $font-open-sans;
          font-weight: 200;
          padding: 8px;
        }
      }
    }
  }

  &__right {
    background: url(../img/blocks/account/register/bg.jpg) no-repeat top right;
    background-size: auto 100%; // default to height 100%, media query covers aspect >= 1:1
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;

    &__inner {
      background: url(../img/blocks/live-countdown/glow.png) no-repeat center center;
      background-size: 100% auto;
      margin: 0 auto;
      padding-bottom: 70%; // important! same height as width via padding-bottom
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 70%;

      &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;

        > div {
          margin-bottom: 30px;
        }

        &__title {
          color: $white;
          font-size: 3.5vw;
          font-family: $font-oswald;
          font-weight: 400;
          text-transform: uppercase;
        }

        // separator is simple grey line between the title and the text
        &__separator {
          margin: 0 auto;
          min-height: 1px;
          max-width: 50px;
          background-color: $grey-dark;
        }

        &__text {
          text-transform: uppercase;
          color: #fefefe;
          font-size: 0.7vw;
          font-family: $font-open-sans;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
  }

  &--register {
    .account__header {
      padding: 4vh 0 3vh;
    }
  }
}

// ratio of width/height that requires change of background to be width 100%
@media (min-aspect-ratio: 21/12) {
  .account__right {
    background-size: 80% auto;
  }
}

@media (min-width: 1440px) {
  .account__right {
    padding-left: 490px;
    width: 100%;

    &__inner {
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .account__right {
    width: 66%;
  }
}

@media (max-width: 1024px) {
  .account {
    &__left {
      width: 44%;

      &__footer {
        width: 44%;
      }
    }

    &__right {
      width: 56%;

      &__inner {
        width: 80%; // since width of __right goes up 10%, so does this
      }
    }
  }
}

// inputs get some height
@media (min-width: 768px) {
  .account__left__content__form__input-layout input[type=text],
  .account__left__content__form__input-layout input[type=email],
  .account__left__content__form__input-layout input[type=password] {
    padding: 0 0 5px;
  }
}

@media (max-width: 768px) {
  .account {
    &__left {
      margin: 0 auto;
      width: 100%;

      &__content__form {
        width: 80%;
      }

      &__footer {
        width: 100%;
      }
    }

    &__right {
      display: none;
    }
  }
}
