@import './variables.scss';

$white: #fff;
$red: #d83036;
$green: #34cc68;
$grey-dark: #5d6072;

$width-left: 490px; // minimum width from comp
$account-height: 600px;

.account {
  // this section is in the __content but above the v-middle on the screen
  overflow: hidden;
  &__header {
    display: block;
    margin: 0 auto 80px;
    padding: 10vh 0 4vh;
    width: 100%;

    img {
      // align logo with the h1
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: auto;
    }

    h1 {
      display: inline-block;
      margin-left: 10px;
      color: #46495e;
      font-size: 11px;
      font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
      font-weight: 300;
      letter-spacing: 4px;
    }
  }

  &__left {
    float:left;
    background: #fff;
    min-height: 100%;
    position: relative;
    text-align: center;
    width: 34%; // ratio from comp, 982px/2880px
    z-index: 1;
    height: 100vh;
    overflow-y: scroll;
    &__wrap{
      position: relative;
      height: 100vh;
      min-height: 700px;
    }
    &__content {

      &__checkmark-success {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        background-image: url(../img/account/email_sent.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &__text {
        color: #5d6072;
        font-size: 14px;
        font-family: $font-open-sans;
        letter-spacing: 1.5px;
        margin: 0 auto;
        width: 70%;
        max-width: 400px;
      }

      &__form {
        width: 70%;
        max-width: 400px;
        margin: 0 auto;
        // this sizes makes sure the biggest form (registration) is kept intact

        .split_field_group {
          text-align: left;
          .account__left__content__form__input-layout {
            width: 48%;
            display: inline-block;

            &:first-child {
              margin-right: 4%;
            }
          }
        }

        .birth-date {
          label {
            display: block;
            padding-bottom: 5px;
          }

          .birth-day {
            margin: 0 10px;
            width: 80px;
          }

          .birth-month {
            margin: 0 10px 0 0;
            width: 80px;
          }

          .birth-year {
            margin: 0 10px;
            width: 110px;
          }
        }

        &__non-field-errors {
          font-size: 12px;
          color: #fff;
          background: #e33c3c;
          padding: 10px;
          margin-top: 10px;
        }

        &__input-layout {
          position: relative;
          text-align: left;
          margin-bottom: 25px;

          p {
            font-size: 11px;
            font-family: $font-open-sans;
            margin: 10px auto;
            width: 85%;
            vertical-align: top;
          }

          label {
            color: #b0b2c1;
            font-size: 9.5px;
            font-family: $font-open-sans;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 0;

            span {
              font-size: 10px;
            }
          }

          label:hover {
            cursor: pointer;
          }

          input[type=text],
          input[type=email],
          input[type=password] {
            padding: 10px 0;
            width: 100%;
            color: #46495e;
            font-size: 16px;
            font-family: $font-open-sans;
            box-shadow: none;
            transition: none 0s ease 0s;
            border: 0;
            border-bottom: 1px solid #9ca1ae;
            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 1000px rgba(226,255,238,1) inset !important;
            }
            &:focus {
              border-color: $green;
              transition: none;
              outline-width: 0;
            }

            &::placeholder {
              color: #b0b2c1;
              font-weight: 300;
            }
          }

          button {
            width: 100%;
            padding: 13px 0;
            position: relative;
            font-size: 9px;
            margin-top: 20px;
            .right{
              position: absolute;
              top: 13px;
              right: 15px;
            }
          }

          input[type=checkbox] {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: top;
          }

          .forgot-password-link > a {
            color: $green;
            font-size: 9px;
            font-family: $font-open-sans;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
          }

        }

        // if the input is errored change some (make red colors) styles
        &__input-layout.errored {
          label, p {
            color: $red;
          }

          input[type=text],
          input[type=email],
          input[type=password] {
            border-color: $red;

            &:focus {
              border-color: $red;

              & + label {
                color: $red;
                top: -55px;
              }
            }

            &:valid + label {
              color: $red;
              top: -55px;
            }
          }
        }

        // div displaying the error message
        .errorlist {
          list-style: none;
        }
        .error-info,
        .errorlist li {
          width: 100%;
          color: $white;
          background-color: $red;
          font-size: 13px;
          font-family: $font-open-sans;
          font-weight: 200;
          padding: 8px;
        }
      }
    }
    footer{
      position: absolute;
      bottom: 0;
      padding: 30px 0 20px;
      width: 100%;
      left: 0;
      border-top: 1px solid #dcdde7;
      p{
        font-size: 14px;
      }
    }
  }

  &__right {
    float: left;
    background: url(../img/blocks/account/register/bg.jpg) no-repeat bottom center;
    background-size: cover; // default to height 100%, media query covers aspect >= 1:1
    height: 100vh;
    width: 66%;
    overflow: hidden;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    &__inner {
      margin: 0 auto;
      padding-bottom: 70%; // important! same height as width via padding-bottom
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 70%;

      &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;

        > div {
          margin-bottom: 30px;
        }

        &__title {
          color: $white;
          font-size: 16px;
          font-family: $font-oswald;
          font-weight: 400;
          text-transform: uppercase;
        }

        // separator is simple grey line between the title and the text
        &__separator {
          margin: 0 auto;
          min-height: 1px;
          max-width: 50px;
          background-color: $grey-dark;
        }

        &__text {
          text-transform: uppercase;
          font-smoothing: antialiased;
          color: #fefefe;
          font-size: 60px;
          font-family: $font-oswald;
          font-weight: 200;
          letter-spacing: 10px;
        }
        p{
          color: rgba(255,255,255,.5);
          font-size: 16px;
        }
      }
    }
    &__bottom{
      max-width: 1100px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      p{
        font-size: 11px;
      };
    }
  }

  &--register {
    .account__header {
      margin-bottom: 30px;
    }
  }
}

