/*doc
---
title: Basics
name: Basics
category: Basics
---
Hello WOrld!

```html_example
Hello WOrld!
```
*/


@import "./variables.scss";

// Font import
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Oswald:300,400|Droid+Sans+Mono:400);


// ----------------------------------------------------


// Eventually split out these portions of the site into their own bundles:
// ----------------------------------------------------

// Account pages, such as /login, /register
@import "./account.scss";
@import "./blocks/logged-out/logged-out-footer.scss";

// Company related static pages, such as /about, /terms-conditions
@import "./layouts/layout-company.scss";
@import "./blocks/company/company-header.scss";
@import "./blocks/company/company-footer.scss";
@import "./blocks/body-copy.scss";
@import "./user_limits.scss";

// ----------------------------------------------------


// In here we can @import anything that doesn't belong to a specific component
// For css that does belong to a component, just require() it in the component's jsx file.
@import "./base.scss";
@import "./layouts.scss";
@import "./helpers.scss";
@import "./team-colors.scss";
@import "./blocks/site/icon.scss";

// Per the BEM methodology, these are where the blocks are imported
// In time these should be only imported into the related react component and removed from here
@import "./blocks/pane-tabbed-content.scss";
@import "./blocks/lobby.scss";
@import "./blocks/balance-summary.scss";
@import "./blocks/button.scss";
@import "./blocks/calendar.scss";
@import "./blocks/content-message.scss";
@import "./blocks/form.scss";
@import "./blocks/form-field.scss";
@import "./blocks/form-field-message.scss";
@import "./blocks/player-detail-pane.scss";
@import "./blocks/cmp-draft-player-detail.scss";
@import "./blocks/live-moneyline.scss";
@import "./blocks/live.scss";
@import "./blocks/nav-main.scss";
@import "./blocks/pane.scss";
@import "./blocks/pane-transactions.scss";
@import "./blocks/radio-button-list.scss";
@import "./blocks/settings-section--nav.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/table.scss";
@import "./blocks/table-summary.scss";
@import "./blocks/tooltip.scss";
@import "./blocks/modal.scss";
@import "./blocks/featured-contests.scss";
@import "./blocks/results.scss";
@import "./blocks/pane-results.scss";
@import "./blocks/pane-contest-details.scss";
@import "./blocks/date-picker.scss";
@import "./blocks/cmp-message-display.scss";
@import "./blocks/account/section-account.scss";
@import "./blocks/account/deposits.scss";
@import "./blocks/account/cmp-restricted-location-confirm-modal";
@import "./blocks/account/cmp-modal--identity-verification";

/* Components */
@import "./blocks/cmp-contest-list.scss";
@import "./blocks/cmp-contest-list-header.scss";
@import "./blocks/cmp-contest-list-sport-filter.scss";
@import "./blocks/cmp-collection-match-filter.scss";
@import "./blocks/cmp-collection-search-filter.scss";
@import "./blocks/cmp-nav-scoreboard.scss";
@import "./blocks/cmp-lineup-card.scss";
@import "./blocks/cmp-input-day-picker.scss";
@import "./blocks/cmp-player-list.scss";
@import "./blocks/cmp-draft-scoring-modal.scss";
@import "./blocks/cmp-deposits.scss";
@import "./blocks/cmp-transactions-form.scss";
@import "./blocks/cmp-draft-team-filter.scss";
@import "./blocks/cmp-contest-list-confirm-modal.scss";
@import "./blocks/cmp-lineup-card-entries.scss";
@import "./blocks/cmp-enter-contest-button.scss";
@import "./blocks/cmp-sport-icon.scss";
@import './blocks/cmp-skill-level-overlay.scss';
@import "self-exclusion.scss";
