// Default to box layout http://www.w3schools.com/css/css_boxmodel.asp
*, *:before, *:after {
  box-sizing: border-box;
}

// default font
html {
  font-family: $font-open-sans;
}

html, body {
  // Avoid the IE 10-11 `min-height` bug by using `height`.
  // Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
  height: 100%;
  margin: 0;
  color: $primary-text;
}

// reset ul tag
ul {
  margin: 0;
  padding: 0;
}

p {
  color: $primary-charcoal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.9;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
