/*doc
---
title: Headers
category: HTML Elements
---
```html_example
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
```
*/

/*doc
---
title: Paragraph
category: HTML Elements
---
```html_example
<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a
self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph
consists of one or more sentences. Though not required by the syntaxof any language, paragraphs are
usually an expected part of formal writing, used to organize longer prose.</p>

<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a
self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph
consists of one or more sentences. Though not required by the syntaxof any language, paragraphs are
usually an expected part of formal writing, used to organize longer prose.</p>
```
*/


/*doc
---
title: Blockquotes
category: HTML Elements
---
```html_example
<blockquote>
  <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.</p>
  <p>It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.</p>
  <cite><a href="#!">Said no one, ever.</a></cite>
</blockquote>
```
*/


/*doc
---
title: Lists
category: HTML Elements
---
```html_example
<h3>Definition list</h3>
<dl>
  <dt>Definition List Title</dt>
  <dd>This is a definition list division.</dd>
</dl>

<h3>Ordered List</h3>
<ol>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ol>

<h3>Unordered List</h3>
<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ul>
```
*/


/*doc
---
title: Horizontal Rule
category: HTML Elements
---
```html_example
<hr />
```
*/


/*doc
---
title: Syntax
category: HTML Elements
---
```html_example
<p>
  <h3>Keyboard input:</h3>
  <kbd>Cmd</kbd>
</p>
<p>
  <h3>Inline code:</h3>
  <code>&lt;div&gt;code&lt;/div&gt;</code>
</p>
<p>
  <h3>Sample output:</h3>
  <samp>This is sample output from a computer program.</samp>
</p>

<h3>Pre-formatted text</h3>

<pre>P R E F O R M A T T E D T E X T ! " # $ % &amp; '
( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
[ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u
v w x y z { | } ~ </pre>
```
*/


/*doc
---
title: Inline Elements
category: HTML Elements
---
```html_example
<h3>&lt;a&gt;</h3>
<p><a href="#!">This is a text link</a>.</p>

<h3>&lt;strong&gt;</h3>
<p>
  <strong>Strong is used to indicate strong importance.</strong>
</p>

<h3>&lt;em&gt;</h3>
<p>
  <em>This text has added emphasis.</em>
</p>

<h3>&lt;b&gt;</h3>
<p>The <b>b element</b> is stylistically different text from normal text, without any special importance.</p>

<h3>&lt;i&gt;</h3>
<p>The <i>i element</i> is text that is offset from the normal text.</p>

<h3>&lt;u&gt;</h3>
<p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>

<h3>&lt;del&gt;, &lt;ins&gt;</h3>
<p>
  <del>This text is deleted</del> and
  <ins>This text is inserted</ins>.
</p>

<h3>&lt;s&gt;</h3>
<p>
  <s>This text has a strikethrough</s>.</p>

<h3>&lt;sup&gt;</h3>
<p>Superscript<sup>&reg;</sup>.</p>

<h3>&lt;sub&gt;</h3>
<p>Subscript for things like H<sub>2</sub>O.</p>

<h3>&lt;small&gt;</h3>
<p>
  <small>This small text is small for for fine print, etc.</small>
</p>

<h3>&lt;abbr&gt;</h3>
<p>Abbreviation:
  <abbr title="HyperText Markup Language">HTML</abbr>
</p>

<h3>&lt;q&gt;</h3>
<p>
  <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation.</q>
</p>

<h3>&lt;cite&gt;</h3>
<p>
  <cite>This is a citation.</cite>
</p>

<h3>&lt;time&gt;</h3>
<p>The time element:
  <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time>
</p>
```
*/



@import "./variables.scss";

html {
  background: #fff;
  box-sizing: border-box;
  font-family: $font-open-sans;
}

// This is slightly janky. We want the html bg to be white on most of the site,
// but dark blue in the live section.
html.section-live,
html.section-results,
html.section-login {
  background: #050e1f;
}

// Also, having height: 100% screws up any onscroll events in ff/chrome. onscroll
// is used in the draft section to lazy-load images.
html.section-live,
html.section-live body,
html.section-logged-out-account,
html.section-logged-out-account body {
  // Avoid the IE 10-11 `min-height` bug by using `height`.
  // Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
  height: 100%;
}

// prevent overflow in live
html.section-live,
html.section-live body {
  min-width: 1024px;
  overflow: auto;
}

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: inherit;
}
// mind blowing that a proper reset wasn't done. it's still necessary in 2017
*{
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
*:focus{
  outline: auto;
  outline-offset: -3px;
}
*:active{
  outline: none;
}


html, body {
  color: $primary-text;
  margin: 0;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 1.7em;
}

h1, h2 {
  font-family: $font-oswald;
  text-transform: uppercase;
}

// reset ol, ul tag
ol,
ul {
  margin: 0;
  padding: 0 0 1.7em;
}

li {
  list-style-position: inside;
}

p {
  color: $primary-charcoal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.9;
  margin: 0;
  padding: 0 0 1.7em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  color: $link-green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  background-color: $primary-grey;
  border: none;
  height: 1px;
  margin: 15px 0;
}
