@import "./variables.scss";


// ---------------------------------------------------------------------------------------------------------------------
// Two column layout

// Example:  https://projects.invisionapp.com/d/main#/console/2830423/71010260/preview

// at < 1024px, show them in vertical line for now until pedro comes back with opinions on what to do
// -----------------
// |      nav      |
// |      ---      |
// |    section    |
// -----------------
.one-col {

  .content-container {
    background: #fff;
    min-height: 100%;
    perspective-origin: left;
    transform-origin: left;
    transition: all 316ms cubic-bezier(.8,.16,.18,.85);
  }

  .cmp-nav-scoreboard {
    display: none;
  }

  // for < 768px only use the hamburglar for menu
  // ---------------
  // | B           |
  // |   section   |
  // |             |
  // ---------------
  @media (max-width: $break-tablet) {

  }


  // at > 768px, show the left hand minimal nav + 3 column
  // --------------------------------------------------------------
  // |         |                                                  |
  // |         |                                                  |
  // |   nav   |                    section                       |
  // |         |                                                  |
  // |         |                                                  |
  // --------------------------------------------------------------
  @media (min-width: $break-tablet + 1) {
    .page-content__content,
    .page-content__header-content {
      // the top padding is to offset the area for the sports ticker
      padding: 40px 70px 0;
      position: relative;
      margin: $nav-scoreboard-height auto 0;
      // Let it be as wide as possible - blame DrewDro
      // max-width: 970px;
    }
  }


  // at > 1024px, show the fixed contest navigation along the top of the page
  // --------------------------------------------------------------
  // |         |                                                  |
  // |         |                                                  |
  // |   nav   |                    section                       |
  // |         |                                                  |
  // |         |                                                  |
  // --------------------------------------------------------------
  @media (min-width: $break-laptop + 1) {
    .cmp-nav-scoreboard {
      display: block;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Three column layout
// Example:  https://projects.invisionapp.com/d/main#/console/2830423/71010203/preview

// at < 1024px, show them in vertical line for now until pedro comes back with opinions on what to do
// -----------------
// |      nav      |
// |      ---      |
// |    section    |
// |      ---      |
// |    sidebar    |
// -----------------
.two-col {
  // this layout is the same as two column, except that the sidebar now exists
  @extend .one-col;

  .content-container {
    margin-left: $sidebar-width;
  }

  // anything larger than a tablet (768px).
  @media (min-width: $break-tablet + 1) {
    .content-container {
      margin-left: $sidebar-width;
    }
  }

  // anything smaller than a laptop (1024px).
  @media (max-width: $break-laptop) {
    .sidebar {
      display: none;
    }
  }


  // at desktop size, show the sports ticker and make three column
  // --------------------------------------------------------------
  // |         |                  |                               |
  // |         |                  |                               |
  // |   nav   |     sidebar      |           section             |
  // |         |                  |                               |
  // |         |                  |                               |
  // --------------------------------------------------------------

  // anything larger than 1024px.
  @media (min-width: $break-laptop + 1) {
    .sidebar {
      left: 0;
      padding-top: $nav-scoreboard-height;
      top: 0;
      position: fixed;
      height: 100%;
      width: $sidebar-width;
    }
  }

  // the biggest size.
  @media (min-width: $break-desktop + 1) {
    .content-container {
      margin-left: $sidebar-width;
    }

    .sidebar {
      left: 0;
    }
  }
}

// not sure if this should go here, it's not BEM but neither is the layout structure sooo...
.one-col--live .content-container {
  background: -webkit-radial-gradient(at 50% 70%, #354b6b, #141c28, #141c28);
  background: radial-gradient(at 50% 70%, #354b6b, #141c28, #141c28);
}
