/**
 * Team colors.
 *
 * classname format: .<sport>-<team alias>-#-<text | bg>
 *
 * The 1st color should be the darker of the two.
 */

//NBA

// MIL
.nba-mil-1-text {
  color: #00471B;
}
.nba-mil-2-text {
  color: #F0EBD2;
}

// GSW
.nba-gsw-1-text {
  color: #006BB6;
}
.nba-gsw-2-text {
  color: #FDB927;
}

// ORL
.nba-orl-1-text {
  color: #007DC5;
}
.nba-orl-2-text {
  color: #C4CED3;
}

// TOR
.nba-tor-1-text {
  color: #061922;
}
.nba-tor-2-text {
  color: #CE1141;
}

// WAS
.nba-was-1-text {
  color: #002B5C;
}
.nba-was-2-text {
  color: #E31837;
}

// CHA
.nba-cha-1-text {
  color: #1D1160;
}
.nba-cha-2-text {
  color: #008CA8;
}

// ATL
.nba-atl-1-text {
  color: #061922;
}
.nba-atl-2-text {
  color: #E13A3E;
}

// NYK
.nba-nyk-1-text {
  color: #006BB6;
}
.nba-nyk-2-text {
  color: #F58426;
}

// PHI
.nba-phi-1-text {
  color: #006BB6;
}
.nba-phi-2-text {
  color: #ED174C;
}

// BKN
.nba-bkn-1-text {
  color: #061922;
}
.nba-bkn-2-text {
  color: #FFF;
}

// BOS
.nba-bos-1-text {
  color: #008348;
}
.nba-bos-2-text {
  color: #FFF;
}

// CHI
.nba-chi-1-text {
  color: #061922;
}
.nba-chi-2-text {
  color: #CE1141;
}

// CLE
.nba-cle-1-text {
  color: #860038;
}
.nba-cle-2-text {
  color: #FDBB30;
}

// IND
.nba-ind-1-text {
  color: #00275D;
}
.nba-ind-2-text {
  color: #FFC633;
}

// DET
.nba-det-1-text {
  color: #ED174C;
}
.nba-det-2-text {
  color: #006BB6;
}

// MIN
.nba-min-1-text {
  color: #005083;
}
.nba-min-2-text {
  color: #00A94F;
}

// UTA
.nba-uta-1-text {
  color: #002B5C;
}
.nba-uta-2-text {
  color: #F9A01B;
}

// SAS
.nba-sas-1-text {
  color: #061922;
}
.nba-sas-2-text {
  color: #BAC3C9;
}

// DAL
.nba-dal-1-text {
  color: #007DC5;
}
.nba-dal-2-text {
  color: #C4CED3;
}

// LAL
.nba-lal-1-text {
  color: #552582;
}
.nba-lal-2-text {
  color: #FDB927;
}

// LAC
.nba-lac-1-text {
  color: #006BB6;
}
.nba-lac-2-text {
  color: #ED174C;
}

// PHX
.nba-phx-1-text {
  color: #1D1160;
}
.nba-phx-2-text {
  color: #E56020;
}

// SAC
.nba-sac-1-text {
  color: #724C9F;
}
.nba-sac-2-text {
  color: #8E9090;
}

// MIA
.nba-mia-1-text {
  color: #98002E;
}
.nba-mia-2-text {
  color: #F9A01B;
}

// OKC
.nba-okc-1-text {
  color: #007DC3;
}
.nba-okc-2-text {
  color: #F05133;
}

// POR
.nba-por-1-text {
  color: #E03A3E;
}
.nba-por-2-text {
  color: #BAC3C9;
}

// DEN
.nba-den-1-text {
  color: #4D90CD;
}
.nba-den-2-text {
  color: #FDB927;
}

// MEM
.nba-mem-1-text {
  color: #0F586C;
}
.nba-mem-2-text {
  color: #7399C6;
}

// HOU
.nba-hou-1-text {
  color: #CE1141;
}
.nba-hou-2-text {
  color: #C4CED3;
}

// NOP
.nba-nop-1-text {
  color: #002B5C;
}
.nba-nop-2-text {
  color: #B4975A;
}
