/**
 * Team colors.
 *
 * classname format: .<sport>-<team alias>-#-<text | bg>
 *
 * The 1st color should be the darker of the two.
 */

//NBA

// MIL
.nba-mil-1-text {
  color: #00471B;
}
.nba-mil-2-text {
  color: #F0EBD2;
}

// GSW
.nba-gsw-1-text {
  color: #006BB6;
}
.nba-gsw-2-text {
  color: #FDB927;
}

// ORL
.nba-orl-1-text {
  color: #007DC5;
}
.nba-orl-2-text {
  color: #C4CED3;
}

// TOR
.nba-tor-1-text {
  color: #061922;
}
.nba-tor-2-text {
  color: #CE1141;
}

// WAS
.nba-was-1-text {
  color: #002B5C;
}
.nba-was-2-text {
  color: #E31837;
}

// CHA
.nba-cha-1-text {
  color: #1D1160;
}
.nba-cha-2-text {
  color: #008CA8;
}

// ATL
.nba-atl-1-text {
  color: #061922;
}
.nba-atl-2-text {
  color: #E13A3E;
}

// NYK
.nba-nyk-1-text {
  color: #006BB6;
}
.nba-nyk-2-text {
  color: #F58426;
}

// PHI
.nba-phi-1-text {
  color: #006BB6;
}
.nba-phi-2-text {
  color: #ED174C;
}

// BKN
.nba-bkn-1-text {
  color: #061922;
}
.nba-bkn-2-text {
  color: #000;
}

// BOS
.nba-bos-1-text {
  color: #008348;
}
.nba-bos-2-text {
  color: #FFF;
}

// CHI
.nba-chi-1-text {
  color: #061922;
}
.nba-chi-2-text {
  color: #CE1141;
}

// CLE
.nba-cle-1-text {
  color: #860038;
}
.nba-cle-2-text {
  color: #FDBB30;
}

// IND
.nba-ind-1-text {
  color: #00275D;
}
.nba-ind-2-text {
  color: #FFC633;
}

// DET
.nba-det-1-text {
  color: #ED174C;
}
.nba-det-2-text {
  color: #006BB6;
}

// MIN
.nba-min-1-text {
  color: #005083;
}
.nba-min-2-text {
  color: #00A94F;
}

// UTA
.nba-uta-1-text {
  color: #002B5C;
}
.nba-uta-2-text {
  color: #F9A01B;
}

// SAS
.nba-sas-1-text {
  color: #061922;
}
.nba-sas-2-text {
  color: #BAC3C9;
}

// DAL
.nba-dal-1-text {
  color: #007DC5;
}
.nba-dal-2-text {
  color: #C4CED3;
}

// LAL
.nba-lal-1-text {
  color: #552582;
}
.nba-lal-2-text {
  color: #FDB927;
}

// LAC
.nba-lac-1-text {
  color: #006BB6;
}
.nba-lac-2-text {
  color: #ED174C;
}

// PHX
.nba-phx-1-text {
  color: #1D1160;
}
.nba-phx-2-text {
  color: #E56020;
}

// SAC
.nba-sac-1-text {
  color: #724C9F;
}
.nba-sac-2-text {
  color: #8E9090;
}

// MIA
.nba-mia-1-text {
  color: #98002E;
}
.nba-mia-2-text {
  color: #F9A01B;
}

// OKC
.nba-okc-1-text {
  color: #007DC3;
}
.nba-okc-2-text {
  color: #F05133;
}

// POR
.nba-por-1-text {
  color: #E03A3E;
}
.nba-por-2-text {
  color: #BAC3C9;
}

// DEN
.nba-den-1-text {
  color: #4D90CD;
}
.nba-den-2-text {
  color: #FDB927;
}

// MEM
.nba-mem-1-text {
  color: #0F586C;
}
.nba-mem-2-text {
  color: #7399C6;
}

// HOU
.nba-hou-1-text {
  color: #CE1141;
}
.nba-hou-2-text {
  color: #C4CED3;
}

// NOP
.nba-nop-1-text {
  color: #002B5C;
}
.nba-nop-2-text {
  color: #B4975A;
}

//NHL

//WSH
.nhl-wsh-1-text {
  color: #00214E;
}
.nhl-wsh-2-text {
  color: #CF132B;
}
//PIT
.nhl-pit-1-text {
  color: #000000;
}
.nhl-pit-2-text {
  color: #D1BD80;
}
//BUF
.nhl-buf-1-text {
  color: #002E62;
}
.nhl-buf-2-text {
  color: #FDBB2F;
}

//CAR
.nhl-car-1-text {
  color: #000000;
}
.nhl-car-2-text {
  color: #E03A3E;
}

//VAN
.nhl-van-1-text {
  color: #07346F;
}
.nhl-van-2-text {
  color: #047A4A;
}

//EDM
.nhl-edm-1-text {
  color: #003777;
}
.nhl-edm-2-text {
  color: #E66A20;
}

//SJ
.nhl-sj-1-text {
  color: #05535D;
}
.nhl-sj-2-text {
  color: #F38F20;
}

//CGY
.nhl-cgy-1-text {
  color: #E03A3E;
}
.nhl-cgy-2-text {
  color: #FFC758;
}

//DAL
.nhl-dal-1-text {
  color: #000000;
}
.nhl-dal-2-text {
  color: #006A4E;
}

//MTL
.nhl-mtl-1-text {
  color: #213770;
}
.nhl-mtl-2-text {
  color: #BF2F38;
}

//ANA
.nhl-ana-1-text {
  color: #000000;
}
.nhl-ana-2-text {
  color: #91764B;
}

//MIN
.nhl-min-1-text {
  color: #025736;
}
.nhl-min-2-text {
  color: #BF2B37;
}

//COL
.nhl-col-1-text {
  color: #01548A;
}
.nhl-col-2-text {
  color: #8B2942;
}

//NYI
.nhl-nyi-1-text {
  color: #00529B;
}
.nhl-nyi-2-text {
  color: #F57D31;
}

//WPG
.nhl-wpg-1-text {
  color: #002E62;
}
.nhl-wpg-2-text {
  color: #0168AB;
}

//OTT
.nhl-ott-1-text {
  color: #D69F0F;
}
.nhl-ott-2-text {
  color: #E4173E;
}

//DET
.nhl-det-1-text {
  color: #EC1F26;
}
.nhl-det-2-text {
  color: #c0c0c0;
}

//LA
.nhl-la-1-text {
  color: #000000;
}
.nhl-la-2-text {
  color: #AFB7BA;
}

//BOS
.nhl-bos-1-text {
  color: #000000;
}
.nhl-bos-2-text {
  color: #FFC422;
}

//CBJ
.nhl-cbj-1-text {
  color: #00285C;
}
.nhl-cbj-2-text {
  color: #E03A3E;
}

//TB
.nhl-tb-1-text {
  color: #000000;
}
.nhl-tb-2-text {
  color: #013E7D;
}

//STL
.nhl-stl-1-text {
  color: #0546A0;
}
.nhl-stl-2-text {
  color: #FFC325;
}

//FLA
.nhl-fla-1-text {
  color: #002E5F;
}
.nhl-fla-2-text {
  color: #D59C05;
}

//ARI
.nhl-ari-1-text {
  color: #000000;
}
.nhl-ari-2-text {
  color: #841F27;
}

//TOR
.nhl-tor-1-text {
  color: #003777;
}
.nhl-tor-2-text {
  color: #c0c0c0;
}

//NJ
.nhl-nj-1-text {
  color: #000000;
}
.nhl-nj-2-text {
  color: #E03A3E;
}

//NYR
.nhl-nyr-1-text {
  color: #0161AB;
}
.nhl-nyr-2-text {
  color: #E6393F;
}

//CHI
.nhl-chi-1-text {
  color: #000000;
}
.nhl-chi-2-text {
  color: #E3263A;
}

//PHI
.nhl-phi-1-text {
  color: #000000;
}
.nhl-phi-2-text {
  color: #F47940;
}

//NSH
.nhl-nsh-1-text {
  color: #002E62;
}
.nhl-nsh-2-text {
  color: #FDBB2F;
}
