// Media query sizes
$break-tablet:  768px;
$break-laptop:  1024px;
$break-desktop: 1440px;
$break-max:     1640px;


// Layout block sizes
$nav-main-width: 288px;
$pane-width: 480px;
$pane-header-height: 350px;
$sidebar-width: 378px;
$nav-scoreboard-height: 54px;
$transaction-detail-width: 360px;

// Reusable z-index levels
$zindex-modal: 1000;
$zindex-nav-main: 1100;
$zindex-nav-scoreboard: 1200;
$zindex-transaction-detail: 1300;
$zindex-tooltip: 1400;
$zindex-message-display: 1500;

// live z-indexes
$zindex-venue-mlb-mine: 10;
$zindex-live-lineup: 100;

// Lobby/Draft z-indices
$zindex-lobby-sidebar: 1005;

// Reusable colors
$primary-blue: #1a1e30;
$primary-red: #e63d3d;
$secondary-red: #ae1919;
$primary-charcoal: #525c63;
$secondary-charcoal: #162530;
$primary-grey: #dbdee0;
$secondary-grey: #adb4b9;
$primary-green: #4dd328;
$secondary-green: #30e583;

$primary-white: #f5f6ff;
$blueish-white: #f6f7fb;

$primary-text: #293f4f;
$success-green: #3bde5f;
$error-red: #d83036;
$link-green: #2ab378;

// Reusable fonts
$font-open-sans: "Open Sans", "Arial", "Helvetica", sans-serif;
$font-oswald: "Oswald", "Arial", "Helvetica", sans-serif;
$font-georgia: "Georgia", "Times", "Times New Roman", serif;
$font-courier-monospace: "Courier New", "Courier", monospace;
$font-droid-sans-mono: "Droid Sans Mono", monospace;
