<footer class="layout-company__footer company-footer">
  <div class="company-footer__inner">
    <div class="company-footer__credits">
      ©2017 Run It Once Entertainment, LLC. - All Rights Reserved
    </div>
    <div class="company-footer__logo"></div>
    <nav class="company-footer__nav">
      <a class="company-footer__nav-item" href="#">ABOUT US</a>
      <a class="company-footer__nav-item" href="#">AFFILIATES</a>
      <a class="company-footer__nav-item" href="#">HELP</a>
      <a class="company-footer__nav-item" href="#">LEGAL</a>
    </nav>
  </div>
</footer>
