@import '../../variables.scss';


//
// BEM block for React LiveOverallStats
//

$block: '.live-overall-stats';

#{$block} {
  display: inline-block;
  text-align: center;
  position: relative;

  &__lineup {
    position: relative;
    z-index: 10;

    &--open {
      #{$block}__choose-lineup {
        opacity: 1;
        visibility: visible;
      }

      #{$block}__down-arrow {
        transform: rotate(90deg);
      }
    }
  }

  &__name {
    color: #fff;
    display: inline-block;
    font-family: $font-oswald;
    font-size: 18px;
    min-width: 140px;
    min-width: 240px;
    padding-bottom: 6px;
    position: relative;
    text-align: center;
    z-index: 20;

    &.has-action {
      cursor: pointer;
    }

    &:hover #{$block}__down-arrow,
    &:hover #{$block}__close-opponent {
      opacity: 1;
    }
  }

  &__close-opponent {
    display: inline-block;
    height: 9px;
    margin-left: 10px;
    opacity: 0.9;
    position: relative;
    top: -3px;
    transition: all 250ms cubic-bezier(0.8, 0.16, 0.18, 0.85);

    line {
      stroke: #fff;
    }
  }

  &__lineup-option {
    color: #6e7485;
    cursor: pointer;
    font-family: $font-oswald;
    font-size: 18px;
    line-height: 1;
    list-style: none;
    padding: 17px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__potential-winnings {
    font-size: 12px;
    min-height: 40px;  // space between name and overview
  }

  &__rank {
    color: #9c9faf;
  }

  &__amount {
    color: #26cc65;
  }

  &__circle-stats-container,
  &__pmr-circle,
  &__svg-arcs {
    position: relative;
  }

  &__circle-stats-container {
    opacity: 1;
    transform: scale(1) translateX(0) rotateY(0);
    transition: all 600ms;
  }

  &--event-ended {
    #{$block}__circle-stats-container {
      filter: blur(7px);
      opacity: 0.7;
      transform: perspective(600px) scale(.94) translateX(3%) rotateY(4deg);
    }
  }


  &__svg-arcs {
    z-index: 1;  // higher than the canvas
  }

  &__overview {
    left: 34px;
    position: absolute;
    text-align: center;
    top: 68px;
    z-index: 2;  // higher than the svg and canvas
  }

  &__fp-container {
    width: 180px;
  }

  &__fp-title {
    font-size: 10px;
    font-family: $font-open-sans;
    font-weight: 500;
    color: #9c9faf;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  &__fp {
    color: #fff;
    font-size: 62px;
    font-family: $font-oswald;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  &__potential-earnings {
    color: #26cc65;
    font-family: $font-oswald;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
    line-height: 1.6;
  }

  &__time-remaining {
    background: #07192b;
    border-radius: 50%;
    border: 1px solid #1b2537;
    height: 40px;
    margin: 18px auto 0;
    text-align: center;
    width: 40px;
  }

  &__duration {
    color: #fff;
    font-family: $font-oswald;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.9;
    padding-top: 7px;
  }

  &__pmr-title {
    color: #9c9faf;
    font-size: 7px;
    font-weight: 600;
    left: 1px;
    letter-spacing: 1px;
    position: relative;
  }
}
