@import "../../variables.scss";

$block: '.live-history-list';

// The constant height of our list items. This is also defined in `live-history-list-pbp.scss`
$listItemHeight: 86px;

// The duration of the intro/outro animation.
$inOutDuration: .35s;

#{$block} {
  display: flex;
  position: relative;
  width: 100%;
  height: $listItemHeight + 20px;
  padding: 10px 60px 10px 60px;
}

////////////////////////////////////////////////////////////////////////////////
// NEXT/PREV BUTTONS
////////////////////////////////////////////////////////////////////////////////

#{$block} {
  .btn-prev,
  .btn-next {
    display: inline-block;
    position: absolute;
    z-index: 999;
    top: 9px;
    width: 40px;
    border: none;
    background-color: transparent;
    color: #878a9f;
    cursor: pointer;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    transform: scaleX(0.5);
    opacity: 0.7;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .btn-prev[disabled],
  .btn-next[disabled],
  .btn-disabled {
    cursor: auto;
    opacity: 0.1;
    &:hover {
      opacity: 0.1;
    }
  }

  .btn-prev {
    left: 0px;
  }

  .btn-next {
    right: 0px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// ITEMS LIST
////////////////////////////////////////////////////////////////////////////////

#{$block} {
  &__list {
    position: relative;
    width: 80%;
    height: 86px;
    overflow-x: hidden;
    margin: 0 auto;
  }

  &__list-item {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .6;
    transition: transform .5s, opacity .5s;

    &:hover {
      opacity: 1;
    }
  }

  &__list-item--active {
    opacity: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////
// ACTIVITIY INDICATOR
////////////////////////////////////////////////////////////////////////////////

#{$block} {
  &__activity-indicator {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50px;
    display: block;
    width: 50px;
    height: 100%;
    background: transparent url(../../../img/blocks/live-history-list/happening.png) no-repeat;
    background-size: 22px 4px;
    background-position: center center;
    animation: activityIndicatorPulse .6s linear 0s infinite alternate;
  }
}

////////////////////////////////////////////////////////////////////////////////
// REACT ANIMATION CLASSES
////////////////////////////////////////////////////////////////////////////////

#{$block} {
  .item-enter {
    // Prepare the element for "enter"
  }

  .item-enter.item-enter-active {
    .live-history-list-pbp {
      animation: itemRotateIn $inOutDuration ease-out;
    }
  }

  .item-leave {
    // Prepare the element for "leave"
  }

  .item-leave.item-leave-active {
    .live-history-list-pbp {
      animation: itemSlideOut $inOutDuration ease-out;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// KEYFRAMES
////////////////////////////////////////////////////////////////////////////////

@keyframes activityIndicatorPulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes itemRotateIn {
  from {
    opacity: 0;
    transform-origin: left bottom;
    transform: translateY(50px) rotateX(90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
}

@keyframes itemSlideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
