@import '../../variables.scss';


//
// BEM block for React LiveLineup
//

$block: '.live-lineup';


#{$block} {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: $zindex-live-lineup;

  &--mine {
    left: 0;
    padding-left: 20px;
  }

  &--opponent {
    padding-right: 20px;
    right: 0;
    text-align: right;
  }

  &__close {
    background: url(../../../img/blocks/live-lineup/back-to-standings.png);
    background-size: 100% auto;
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 70px;
    top: 50px;
    width: 20px;
  }

  &__players {
    height: 100%;
  }

  &__players-list {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 10vh 0;
  }
}

@media (min-height: 1100px) and (max-height: 1299px) {
  #{$block} {
    &--mine {
      padding-left: 3vh;
    }

    &--opponent {
      padding-right: 3vh;
    }
  }
}

@media (min-height: 1300px) {
  #{$block} {
    &--mine {
      padding-left: 6vh;
    }

    &--opponent {
      padding-right: 6vh;
    }
  }
}
