@import "../../variables.scss";

//
// BEM block for React Live Big Play
//

$block: '.live-big-play';

#{$block} {
  position: relative;
  margin: 0 5px;
  width: 32%;
  height: 86px;
  background: rgba(0, 0, 0, .2);

  &--nba {
    background: transparent url(../../../img/blocks/live-big-plays/bg-nba.jpg) no-repeat left top;
    background-size: 100% 100%;
  }

  &--nfl {
    background: transparent url(../../../img/blocks/live-big-plays/bg-nfl.jpg) no-repeat left top;
    background-size: 100% 100%;
  }
  
  &--mlb {
    background: transparent url(../../../img/blocks/live-big-plays/bg-mlb.jpg) no-repeat left top;
    background-size: 100% 100%;
  }
}

//------------------------------------------------------------------------------
// ITEM BODY
//------------------------------------------------------------------------------

.live-big-play__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  
  .live-big-play__description {
    margin: 0;
    padding: 0 15px;
    max-width: 60%;
    color: #a7acbc;
    font-family: $font-open-sans;
    font-size: 11px;
    line-height: 1.8;
    text-align: left;
  }
  
  ul.live-big-play__players {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    height: 100%;
    
    li.live-big-play__player {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      width: 65px;
    }
    
    .live-big-play__player-points {
      flex-grow: 1;
      width: 100%;
      padding-top: 8px;
      color: #1da4d0;
      font-size: 15px;
      font-family: $font-oswald;
      text-align: center;
    }

    img.live-big-play__player-photo {
      width: 50px;
      height: auto;
    }
  }
}

//------------------------------------------------------------------------------
// ITEM FOOTER
//------------------------------------------------------------------------------

#{$block}__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 0 15px;
  background-image: linear-gradient( 0deg, rgba(0,0,0, 0.15) 0%, rgba(255,255,255, 0.15) 100%);
  color: #fff;
  font-family: $font-open-sans;
  font-size: 9px;
  line-height: 2.4;
  text-align: left;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient( 0deg, rgb(33,78,157) 0%, rgb(52,180,204) 100%);
  }
}
