$block: '.live-contests-pane';

#{$block} {
  list-style: none;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 100px;
  overflow: auto;

  // move off screen
  &--opponent-mode {
    right: -200px;
  }
}
