@import '../../variables.scss';


//
// BEM block for React LiveLineupPlayer
// - opposite modifier switches the alignment, as the lineup is on the right
// - upcoming modifier is for the countdown, simplified version of the player
//

$block: '.live-lineup-player';

#{$block} {
  height: 11%;
  padding: 8px 0;
  position: relative;

  // when playing show the green status indicator as well as make the PMR circle around the photo
  &--state-is-playing {
    #{$block}__status {
      background-color: #2c8fb1;
    }

    #{$block}--eventInProgress {
      background-color: #ff0000;
    }
  }

  &--state-not-playing #{$block}__points {
    color: #6d718a;
  }

  &--mine {
    #{$block}__watching-indicator {
      left: -28px;
    }

    #{$block}__event-description {
      left: 138px;
    }

    #{$block}__runner-bases {
      left: 138px;
    }

    #{$block}__play-status {
      right: -10px;
    }

    #{$block}__hover-stats {
      left: -8px;
    }

    #{$block}__hover-area #{$block}__hover-stats {
      padding: 0 18px 0 120px;
    }
  }

  // for the opponent we have to flip the alignment
  &--opponent {
    &#{$block}--state-is-playing #{$block}__status {
      background-color: #bf313e;
    }

    #{$block}__watching-indicator {
      right: -28px;
      transform: rotateY(180deg);
      top: 3px;
    }

    #{$block}__event-description {
      right: 138px;
    }

    #{$block}__runner-bases {
      right: 138px;
    }

    #{$block}__play-status {
      left: -10px;
    }

    #{$block}__hover-stats {
      background-position: 210px center;
      right: 8px;
      text-align: left;
    }

    #{$block}__hover-area #{$block}__hover-stats {
      padding: 0 120px 0 18px;
    }
  }

  // dumbed down version for countdown
  &--upcoming {
    #{$block}__only-name {
      color: #6d718a;
      display: inline-block;
      font-family: $font-oswald;
      font-size: 13px;
      line-height: 1;
      margin-left: 7px;
      position: relative;
      text-transform: uppercase;
      top: 1px;
      vertical-align: middle;
    }
  }

  &__watching-indicator {
    background: transparent url(../../../img/blocks/live-lineup-player/watching-left.png) no-repeat right center;
    background-size: auto 100%;
    width: 21px;
    height: 68px;
    position: absolute;
    top: 0;
  }

  &__headshot-gamestats,
  &__play-status,
  &__points,
  &__position,
  &__runner-bases,
  &__status {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    position: relative;
  }

  &__position {
    color: #6d718a;
    font-weight: 600;
    font-size: 9px;
    min-width: 20px;
    text-align: center;
  }

  &__headshot-gamestats {
    position: relative;
  }

  &__hover-area {
    position: relative;
    display: inline-block;

    &:hover #{$block}__hover-stats {
      opacity: 1;
      z-index: initial;
      transform: initial;
      width: 330px;
      visibility: visible;
    }
  }

  &__hover-stats {
    background: #1e2130 url(../../../img/blocks/live-lineup-player/hover-stats-divider.jpg) no-repeat 100px center;
    background-size: auto 64%;
    border-radius: 50px;
    height: 53px;
    overflow: hidden;
    position: absolute;
    top: -26px;
    transition: all 150ms cubic-bezier(.8,.16,.18,.85);
    width: 330px;

    opacity: 0;
    z-index: -1;
    transform: translateY(15px);
    visibility: hidden;

    ul {
      list-style: none;
      padding: 5px 0 0 0;
      width: 290px;
    }
  }

  &__hover-stats-list {
    list-style: none;
    margin: 0;
    padding: 9px 0 0 0;
    width: 290px;
  }

  &__hover-stat {
    color: #9ea1b1;
    display: inline-block;
    text-align: center;
    width: 32px;
  }

    .hover-stats__title {
      font-family: $font-oswald;
      line-height: 1;
      margin: 0;
      padding: 4px 10px 0;

      .hover-stats__name {
        display: inline;
        color: white;
        font-size: 11px;
        text-transform: uppercase;
      }

      .hover-stats__triangle {
        position: absolute;
        left: -10px;
        top: 4px;
        transform: scale(0.5);

        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #9ea1b1 transparent transparent transparent;
      }
    }

    .hover-stats__ownership {
      color: #9ea1b1;
      display: inline-block;
      font-size: 9px;
      left: 10px;
      position: relative;
      top: -1px;
    }

    .hover-stats__amount {
      font-family: $font-oswald;
      font-size: 10px;
      color: #9ea1b1;
    }
    .hover-stats__name {
      font-size: 6px;
      color: #9ea1b1;
    }

  &__hover-stat-amount {
    font-family: $font-oswald;
    font-size: 14px;
  }

  &__hover-stat-name {
    font-size: 9px;
  }

  &__headshot-gamestats .player-pmr-headshot {
    z-index: 30;
    position:relative;
    .circle{
      border-radius: 50%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: stretch;
    }
    .cmp-lineup-card__photo{
      display: block;
      background-size: cover;
      background-position: bottom center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__runner-bases {
    height: 25px;
    position: absolute;
    top: 19px;

    .live-mlb-diamond, svg {
      height: 100%;
    }
  }

  &__event-description {
    position: absolute;
    top: 18px;
  }

  &__status {
    border-radius: 50%;
    width: 6px;
    height: 6px;
  }

  &__play-status {
    background: transparent url(../../../img/blocks/live-lineup-player/happening.png) no-repeat left top;
    background-size: 100% auto;
    width: 22px;
    height: 4px;
    position: relative;
    visibility: hidden;
    margin: 0 14px;

    &.play-status--playing {
      visibility: visible;
    }
  }

  &__points {
    color: #fff;
    font-size: 14px;
    font-family: $font-oswald;
    text-transform: uppercase;
    font-weight: 400;
    z-index: 50;
  }
}


@media (min-height: 1100px) and (max-height: 1299px) {
  #{$block} {
     transform: scale(1.25);
  }
}

@media (min-height: 1300px) {
  #{$block} {
     transform: scale(1.5);
  }
}
