@import "../../variables.scss";

$block: '.live-standings-pane';
$color-moneyline-green: #2cb371;
$color-moneyline-red: #e33c3c;
$color-moneyline-bg: #4a4e5f;

#{$block} {
  position: fixed;
  left: 50%;
  bottom: 120px;
  z-index: $zindex-live-standings-pane;
  width: 70%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  
  &__legend {
    flex-shrink: 1;
    color: #7a7d8b;
    font-family: $font-oswald;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
  }

  &__lineups {
    flex-grow: 1;
    position: relative;
    height: 2px;
    background: $color-moneyline-bg;
  }

  &__point {
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: -9px;
    transform: translateX(-50%);
    width: 20px;
    z-index: 20;

    &:hover #{$block}__inner-point {
      background-color: #fff;
      box-shadow: 0px 0px 16.38px 4.62px rgba(176, 237, 136, 0.48);
      height: 9px;
      padding: 0;
      width: 9px;
    }

    &:hover #{$block}__live-standing {
      display: block;
    }

    &--losing,
    &--winning,
    &--mine,
    &--opponent {
      #{$block}__inner-point {
        border-radius: 50%;
        height: 6px;
        width: 6px;
      }
    }

    &--opponent #{$block}__inner-point {
      background: #e33c3c;
    }

    &--losing #{$block}__inner-point {
      background: #7a7d8a;
    }

    &--winning #{$block}__inner-point {
      background: $color-moneyline-green;
    }

    &--mine {
      cursor: auto;
    }

    &--mine #{$block}__inner-point {
      background: #37a5c9;

      // ring around
      &:after {
        border: 1px solid rgba(127, 214, 243, 0.39);
        border-radius: 50%;
        content: '';
        display: block;
        height: 12px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
      }
    }

    &--mine #{$block}__live-standing {
      top: -50px;
    }
  }

  &__inner-point {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 100ms cubic-bezier(0.8, 0.16, 0.18, 0.85);
  }

  &__moneyline {
    background: $color-moneyline-green;
    height: 100%;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &__live-standing {
    display: none;
    position: absolute;
    left: -123px;
    top: -64px;
  }
}
