{% extends "base.html" %}

{% block body_class %}section-lobby page-lobby two-col two-col--left{% endblock %}


{% block sidebar-header %}
  <div class="sidebar--header">
    <div class="sidebar--header-inner">
      <h2 class="sidebar--header-title">Lineups</h2>
    </div>
  </div>
{% endblock sidebar-header %}


{% block sidebar %}
  <div class="cmp-draft-lineup-card-list lineup-sidebar-list"></div>
{% endblock sidebar %}


{% block page-content-header %}
<header class="page-content__header">
  <div class="page-content__header-content"></div>
</header>
{% endblock page-content-header %}


{% block page_content %}
  <h2 class="player-list__header">
    <span class="player-list__header-title">Draft a Team</span>
    <span class="player-list__header-divider">/</span>
    <span class="player-list__header-group">7:10pm Aug, 15</span>
  </h2>

  <div class="cmp-player-list"></div>
{% endblock page_content %}


{% block slideover-pane %}
  <div class="cmp-draft-player-detail"></div>
{% endblock %}
