{% extends "base.html" %}

{% block body_class %}section-lobby page-draft two-col two-col--left{% endblock %}


{% block sidebar-header %}
  <div class="sidebar--header">
    <div class="sidebar--header-inner">
      <h5 class="contest-list-sport-filter__title">
        {% if action == 'edit' %}
        Edit Lineup
        {% else %}
        New Lineup
        {% endif %}
      </h5>
      <div class="sidebar--header-wrap">
        <div class="sidebar--header-title"></div>
        <a href="/contests" class="cancel button button--outline-alt1 export-button">Cancel</a>
      </div>
    </div>
  </div>
{% endblock sidebar-header %}


{% block sidebar %}
  <div class="cmp-draft-lineup-card-list lineup-sidebar-list"></div>
{% endblock sidebar %}


{% block page_content %}
  <div class="cmp-draft-container"></div>
{% endblock page_content %}


{% block slideover-pane %}
  <div class="cmp-draft-player-detail"></div>
{% endblock %}
