{% extends "base.html" %}

{% block body %}
  <span class="nav-main--hamburglar"></span>

  <nav class="nav-main">
    <div class="inner">
      <ul>
        <li class="lobby active">
          <a href="/lobby/">
            Contests
            <div class="underline"></div>
          </a>

        </li>
        <li class="live">
          <a href="/frontend/live/">
            Live
            <div class="underline"></div>
          </a>

        </li>
        <li class="results">
          <a href="#">
            Results
            <div class="underline"></div>
          </a>

        </li>
        <li class="my-account">
          <a href="#">
            My Account
            <div class="underline"></div>
          </a>

        </li>
        <li class="help">
          <a href="#">
            Help
            <div class="underline"></div>
          </a>
        </li>
      </ul>

      <a href="#" class="sign-out"><span>Sign Out</span></a>
    </div>
  </nav>

  {% include 'frontend/partials/contest-nav.html' %}

  <section class="page-content">
    .page-content
  </section>

  <aside class="sidebar">
    .sidebar
  </aside>

  <section class="pane">
    .pane
  </section>
{% endblock body %}
