{% extends "base.html" %}

{% block body_class %}section-lobby page-lobby two-col two-col--left{% endblock %}


{% block sidebar-header %}
<div class="contest-list-sport-filter sidebar--header">
  <div class="sidebar--header-inner">
    <h5 class="contest-list-sport-filter__title">Choose a Sport</h5>
    <div class="cmp-contest-list-sport-filter"></div>
  </div>
</div>
{% endblock sidebar-header %}


{% block sidebar %}
  <div class="cmp-lineup-card-list lineup-sidebar-list"></div>
{% endblock sidebar %}


{% block page-content-header %}
<header class="page-content__header">
  <div class="page-content__header-content">
    <div class="cmp-contest-list-header"></div>
  </div>
</header>
{% endblock page-content-header %}


{% block page_content %}
  <div class="cmp-lobby-contests"></div>
{% endblock page_content %}


{% block slideover-pane %}
  <div class="cmp-contest-list-detail"></div>
{% endblock %}
