{% extends "frontend/base__company.html" %}

{% block title %}Draftboard Restricted Location{% endblock title %}

{% block body-copy-modifier %}restricted-location{% endblock %}

{% block content %}
  <h2>
    Restricted Location
  </h2>

  <p>
    Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget ipsum at justo feugiat venenatis. Vestibulum suscipit lectus et turpis hendrerit elementum. Integer vulputate turpis id metus malesuada rhoncus. Donec dictum sit amet velit vel vulputate.Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dictum sit amet velit vel vulputate.
  </p>
  <p>
    If you think this is in error and require assistance, please contact Customer Support.
  </p>

{% endblock content %}
