{% extends "base.html" %}

{% block body_class %}two-col two-col--left{% endblock %}

{% block sidebar %}
<header class="settings-sidebar-actions">
  <h1>My Account</h1>
  <a class="sign-out" href="#">Sign Out</a>
</header>

<section class="balance-summary">
  <h2>
    <sup>Current Balance</sup>
    <span class="currency">$</span>4,832.94
  </h2>
  <hr>
  <h2>
    <sup>Pending Bonus</sup>
    <span class="currency">$</span>78.52
  </h2>

  <a class="balance-summary--action" href="#">Deposit</a>
  <a class="balance-summary--action" href="#">Withdraw</a>
</section>
{% endblock sidebar %}

{% block page_content %}
  {% include "frontend/settings/nav.html" %}

  <form action="" class="form">
    <fieldset class="form__fieldset form__fieldset--no-labels">
      <div class="form-field form-field--inline">
        <select name="" id="" class="form-field__select form-field__select--medium">
          <option value="">Filter</option>
          <option value="">#</option>
          <option value="">##</option>
          <option value="">###</option>
        </select>
      </div>

      <div class="form-field form-field--inline">
        <select name="" id="" class="form-field__select form-field__select--medium">
          <option value="">Last 6 Months</option>
          <option value="">Last Year</option>
          <option value="">More</option>
        </select>
      </div>

      <input type="submit" class="button--medium pull-right" value="Export">
    </fieldset>

  </form>

  <div class="table-summary">
    <div class="table-summary--item">
      <span class="table-summary--label">Winnings</span> $3,421.42
    </div>
    <div class="table-summary--item">
      <span class="table-summary--label">Contests</span> 527
    </div>
    <div class="table-summary--item">
      <span class="table-summary--label">Cashes</span> 389
    </div>
    <div class="table-summary--item">
      <span class="table-summary--label">Transactions</span> 1,029
    </div>
  </div>

  <table class="table table--zebra">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Type</th>
        <th>Description</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
        <td>$1,300.32</td>
        <td>$2,249.32</td>
        <td>GPP</td>
        <td>Contest with multiple entries.</td>
        <td><a href="#">Details</a></td>
      </tr>
      <tr>
        <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
        <td>$1,300.32</td>
        <td>$2,249.32</td>
        <td>GPP</td>
        <td>Contest with multiple entries.</td>
        <td><a href="#">Details</a></td>
      </tr>
      <tr>
        <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
        <td>$1,300.32</td>
        <td>$2,249.32</td>
        <td>GPP</td>
        <td>Contest with multiple entries.</td>
        <td><a href="#">Details</a></td>
      </tr>
      <tr>
        <td>04/23/2015 <sub class="table__sub">7:15:32 PM</sub></td>
        <td>$1,300.32</td>
        <td>$2,249.32</td>
        <td>GPP</td>
        <td>Contest with multiple entries.</td>
        <td><a href="#">Details</a></td>
      </tr>

    </tbody>
  </table>
{% endblock %}
