{% extends "frontend/base__company.html" %}

{% block title %}Draftboard &mdash; Terms &amp; Conditions{% endblock title %}

{% block body-copy-modifier %}terms-conditions{% endblock %}

{% block content %}
  <h1>
    <sup>Important Information</sup>
    TERMS &amp; CONDITIONS
  </h1>

  <hr class="body-copy__h1-divider" />

  <p>
    <strong>Intro.</strong> Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget ipsum at justo feugiat venenatis. Vestibulum suscipit lectus et turpis hendrerit elementum. Integer vulputate turpis id metus malesuada rhoncus. Donec dictum sit amet velit vel vulputate.
  </p>

  <h2>
    <div class="body-copy__section-number">0.1&nbsp;</div>
    ACCEPTANCE OF TERMS
  </h2>

  <p>
    Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget ipsum at justo feugiat venenatis. Vestibulum suscipit lectus et turpis hendrerit elementum. Integer vulputate turpis id metus malesuada rhoncus. Donec dictum sit amet velit vel vulputate.Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dictum sit amet velit vel vulputate.
  </p>
  <p>
    Maecenas eget ipsum at justo feugiat venenatis. Vestibulum suscipit lectus et turpis hendrerit elementum. Integer vulputate turpis id metus malesuada rhoncus.
  </p>

  <h2>
    <div class="body-copy__section-number">0.2&nbsp;</div>
    MODIFICATION OF TERMS &amp; CONDITIONS
  </h2>

  <p>
    Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget ipsum at justo feugiat venenatis.
  </p>

  <h2>
    <div class="body-copy__section-number">0.2&nbsp;</div>
    ELIGIBILITY
  </h2>

  <p>
    Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget ipsum at justo feugiat venenatis. Vestibulum suscipit lectus et turpis hendrerit elementum. Integer vulputate turpis id metus malesuada rhoncus. Donec dictum sit amet velit vel vulputate.Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dictum sit amet velit vel vulputate.
  </p>
  <p>
    Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eget ipsum at justo feugiat venenatis. Vestibulum suscipit lectus et turpis hendrerit elementum. Integer vulputate turpis id metus malesuada rhoncus. Donec dictum sit amet velit vel vulputate.Nulla id elementum ex, in consectetur ante. Duis eu diam non velit dapibus viverra sit amet at dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dictum sit amet velit vel vulputate
  </p>
{% endblock content %}
