{% extends "base.html" %}

{% block body_class %}one-col{% endblock %}

{% block page_content %}
  <div class="temp--what-to-position-from" style="border: 1px solid #ccc; margin: 20px; position: relative; width: 200px; height: 200px;">
    &nbsp;
    <div class="tooltip tooltip--bottom-arrow">
      <div class="tooltip__center">Foo bar baz</div>
    </div>
  </div>

  <div class="temp--what-to-position-from" style="border: 1px solid #ccc; margin: 20px; position: relative; width: 200px; height: 200px;">
    &nbsp;
    <div class="tooltip tooltip--right-arrow">
      <div class="tooltip__center">Foo bar baz</div>
    </div>
  </div>

  <div class="temp--what-to-position-from" style="border: 1px solid #ccc; margin: 20px; position: relative; width: 200px; height: 200px;">
    &nbsp;
    <div class="tooltip tooltip--top-arrow">
      <div class="tooltip__center">Foo bar baz</div>
    </div>
  </div>

  <div class="temp--what-to-position-from" style="border: 1px solid #ccc; margin: 20px; position: relative; width: 200px; height: 200px;">
    &nbsp;
    <div class="tooltip tooltip--left-arrow">
      <div class="tooltip__center">Foo bar baz</div>
    </div>
  </div>


{% endblock %}
