.cmp-modal--identity-verification {

  .birth-date {
    // Remove spinner controls in webkit browsers.
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    select,
    input {
      width: 55px;
      display: inline-block;
      margin: 0 10px;
      text-align: center;
      padding: 12px auto;
      -moz-appearance: textfield;
    }

    .birth-year {
      width: 80px;
    }
  }

  .form-field-message--error {
    position: relative;
    margin: 10px 5px;
    width: 280px;
    padding: 5px 15px;
    right: -10px; }

  .form-field-message--error:after {
    right: 50%;
    top: 0;
    margin-top: -16px;
    transform: rotate(90deg);
  }

  .form-controls {
    text-align: right;
  }

  .form-field__select {
    width: auto;
    min-width: 60px;
  }

  //#GIDX_embed_hidden {
  //  display: none;
  //}
}
