#account-deposits {
  margin: 40px 0;

  .loading-placeholder {
    margin: 20px;
    text-align: center;
  }
}


// Withdrawals page
#account-withdrawals {
  margin: 40px 0;

  .loading-placeholder {
    margin: 20px;
    text-align: center;
  }
}
