{% extends 'account/account_base.html' %}


{% block content_form %}
<p class="account__left__content__text">Create a new password for your account.</p>

<form class="account__left__content__form">
  <div class="account__left__content__form__input-layout">{% comment %}errored{% endcomment %}
    <input id="password1" type="password" name="password" required />
    <label for="password1">new password</label>
  </div>

  <div class="account__left__content__form__input-layout">{% comment %}errored{% endcomment %}
    <input id="password2" type="password" name="password" required />
    <label for="password2">confirm new password</label>
  </div>

  <div class="account__left__content__form__input-layout">
    <input type="submit" value="Submit" />
    <span class="arrow"></span>
  </div>
</form>
{% endblock %}
