{% extends "base.html" %}

{% block body_class %}section-account two-col two-col--left{% endblock %}


{% block sidebar-header %}
  <div class="sidebar--header">
    <div class="sidebar--header-inner">
      <header class="settings-sidebar-actions">
        <h2 class="sidebar--header-title">My Account</h2>
      </header>
    </div>
  </div>
{% endblock sidebar-header %}


{% block sidebar %}
  <div class="lineup-sidebar-list" id="account-sidebar"></div>
{% endblock sidebar %}


{% block page-content-header %}
  <header class="page-content__header">
    <div class="page-content__header-content"></div>
  </header>
{% endblock page-content-header %}


{% block page_content %}
  <nav class="settings-section--nav">
    <ul>
      <li {% if '/settings' in request.path %}class="active"{% endif %}>
        <a href="{% url 'frontend:account-settings' %}">Account Settings</a>
      </li>
      <li {% if '/withdraw' in request.path %}class="active"{% endif %}>
        <a href="{% url 'frontend:account-withdraw' %}">Withdraw</a>
      </li>
      <li {% if '/deposits' in request.path %}class="active"{% endif %}>
        <a href="{% url 'frontend:account-deposits' %}">Deposits</a>
      </li>
      <li {% if '/transactions' in request.path %}class="active"{% endif %}>
        <a href="{% url 'frontend:account-transactions' %}">Transaction History</a>
      </li>
      <li {% if '/limits' in request.path %}class="active"{% endif %}>
        <a href="{% url 'frontend:user-limits' %}">Play Limits</a>
      </li>

    </ul>
  </nav>

  {% block section_content %}{% endblock section_content %}
{% endblock page_content %}


{% block slideover-pane %}
  <div class="cmp-transactions-details"></div>
{% endblock %}
