{% extends "frontend/base__company.html" %}

{% block title %}Draftboard &mdash; Terms &amp; Conditions{% endblock title %}

{% block body-copy-modifier %}terms-conditions{% endblock %}

{% block content %}
    <div id="set_user_limits">
        <h2 class="text-center">
            SET USER LIMITS
        </h2>

        <hr class="body-copy__h1-divider"/>

        <div class="p_container">
            <p>
                Use the following form to ser user limits on gameplay, deposits, and free limits.
                Once applied, MA residents will not be able to increase this limit for 90 days.
            </p>
        </div>
        <form action="#">
            <div class="line">
                <div class="selects_description">
                    <div>
                        <span class="description_head">Deposit Limit: </span><span>Please select a deposit limit that you would like applied to your account.</span>
                    </div>
                    <div>
                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"
                                                                                    id="curr_deposit_limit">None</span>
                    </div>
                </div>
                <div class="container-line-block">
                    <div class="line-block">
                        <label><sup>MAXIMUM</sup></label>
                        <select>
                            <option value="1000">$1,000</option>
                        </select>
                    </div>
                    <div class="line-block">
                        <label><sup>TIME PERIOD</sup></label>
                        <select>
                            <option value="1">Monthly</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="selects_description">
                    <div>
                        <span class="description_head">Contest Entry Alert: </span><span id="entry_alert">Please select the number of entries and period for which you'd like to be alerted.</span>
                    </div>
                    <div>
                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"
                                                                                    id="curr_contests_alert">None</span>
                    </div>
                </div>
                <div class="container-line-block">
                    <div class="line-block">
                        <label><sup>MAXIMUM</sup></label>
                        <select>
                            <option value="1000">$1,000</option>
                        </select>
                    </div>
                    <div class="line-block">
                        <label><sup>TIME PERIOD</sup></label>
                        <select>
                            <option value="1">Monthly</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="selects_description">
                    <div>
                        <span class="description_head">Contest Entry Limit: </span><span>Please select a limit for the number of contests you may enter in a time period.</span>
                    </div>
                    <div>
                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"
                                                                                    id="curr_contest_limit">None</span>
                    </div>
                </div>
                <div class="container-line-block">
                    <div class="line-block">
                        <label><sup>MAXIMUM</sup></label>
                        <select>
                            <option value="1000">$1,000</option>
                        </select>
                    </div>
                    <div class="line-block">
                        <label><sup>TIME PERIOD</sup></label>
                        <select>
                            <option value="1">Monthly</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="selects_description">
                    <div>
                        <span class="description_head">Entry Fee Limit: </span><span>Please select the appropriate contest entry fee</span>
                    </div>
                    <div>
                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"
                                                                                    id="curr_fee_limit">None</span>
                    </div>
                </div>
                <div class="container-line-block">
                    <div class="line-block">
                        <label><sup>MAXIMUM</sup></label>
                        <select>
                            <option value="1000">$1,000</option>
                        </select>
                    </div>
                    <div class="line-block">
                        <label><sup>TIME PERIOD</sup></label>
                        <select>
                            <option value="1">Monthly</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button_container">
                <button type="submit">SUBMIT</button>
            </div>
        </form>
    </div>

{% endblock content %}
