{% extends "frontend/base__company.html" %}
{% load account_tags %}

{% block title %}Draftboard &mdash; Terms &amp; Conditions{% endblock title %}

{% block body-copy-modifier %}terms-conditions{% endblock %}

{% block content %}
    <div id="set_user_limits">
        <h2 class="text-center">
            SET USER LIMITS
        </h2>

        <hr class="body-copy__h1-divider"/>

        <div class="p_container">
            <p>
                Use the following form to ser user limits on gameplay, deposits, and free limits.
                Once applied, MA residents will not be able to increase this limit for 90 days.
            </p>
        </div>

        <form action="" method="post">{% csrf_token %}
            {{ formset.management_form }}

         {% for form in formset %}

            <div class="line">

                <div class="selects_description">
                    <div>
                        <span class="description_head">{% if form.instance.get_type_display%}{{ form.instance.get_type_display }}{% else %}{{ form.initial.type_name}}{% endif %}: </span><span id="{{ html_attrs|index:forloop.counter0|index:0 }}">Please select a deposit limit that you would like applied to your account.</span>
                    </div>
                    <div>
                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"
                                                                                    id="{{ html_attrs|index:forloop.counter0|index:1  }}">{{ form.instance.get_value_display }}</span>
                    </div>
                </div>
                <div class="container-line-block">
                    <div class="line-block">
                        <label><sup>MAXIMUM</sup></label>
{#                        <select>#}
{#                            <option value="1000">$1,000</option>#}
{#                        </select>#}
                        {{ form.value }}
                    </div>
                    <div class="line-block">
                        <label><sup>TIME PERIOD</sup></label>
{#                        <select>#}
{#                            <option value="1">Monthly</option>#}
{#                        </select>#}
                        {{ form.time_period }}
                    </div>
{#                    #}
{#                    <input type="hidden" name="{{ form.user.name }}" value="{{ request.user.pk }}">#}

{#                    {{ form.user }}#}
                </div>
            {{ form.type }}
            {{ form.user }}
            {{ form.id }}
            </div>
            {% endfor %}

{#            <div class="line">#}
{#                <div class="selects_description">#}
{#                    <div>#}
{#                        <span class="description_head">Contest Entry Alert: </span><span>Please select the number of entries and period for which you'd like to be alerted.</span>#}
{#                    </div>#}
{#                    <div>#}
{#                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"#}
{#                                                                                    >None</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container-line-block">#}
{#                    <div class="line-block">#}
{#                        <label><sup>MAXIMUM</sup></label>#}
{#                        <select>#}
{#                            <option value="1000">$1,000</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="line-block">#}
{#                        <label><sup>TIME PERIOD</sup></label>#}
{#                        <select>#}
{#                            <option value="1">Monthly</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#                {{ formset.0.type }}#}
{#            {{ formset.0.user }}#}
{#            {{ formset.0.id }}#}
{#            </div>#}
{#            <div class="line">#}
{#                <div class="selects_description">#}
{#                    <div>#}
{#                        <span class="description_head">Contest Entry Limit: </span><span>Please select a limit for the number of contests you may enter in a time period.</span>#}
{#                    </div>#}
{#                    <div>#}
{#                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"#}
{#                                                                                    id="curr_contest_limit">None</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container-line-block">#}
{#                    <div class="line-block">#}
{#                        <label><sup>MAXIMUM</sup></label>#}
{#                        <select>#}
{#                            <option value="1000">$1,000</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="line-block">#}
{#                        <label><sup>TIME PERIOD</sup></label>#}
{#                        <select>#}
{#                            <option value="1">Monthly</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="line">#}
{#                <div class="selects_description">#}
{#                    <div>#}
{#                        <span class="description_head">Entry Fee Limit: </span><span>Please select the appropriate contest entry fee</span>#}
{#                    </div>#}
{#                    <div>#}
{#                        <span class="current_value">Current Limit Set: </span><span class="current_value_text"#}
{#                                                                                    id="curr_fee_limit">None</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container-line-block">#}
{#                    <div class="line-block">#}
{#                        <label><sup>MAXIMUM</sup></label>#}
{#                        <select>#}
{#                            <option value="1000">$1,000</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="line-block">#}
{#                        <label><sup>TIME PERIOD</sup></label>#}
{#                        <select>#}
{#                            <option value="1">Monthly</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#             {% for form in formset %}#}
{#                {{ form }}#}
{#             {% endfor %}#}
            <div class="button_container">
                <button type="submit">SUBMIT</button>
            </div>
        </form>
    </div>

{% endblock content %}
