//
// BEM block for footer on logged out pages
// - for login this is a click handler to register
// - for all other pages it's a click handler to login
//

$block: '.logged-out-footer';
$bg: '../img/blocks/logged-out/logged-out-footer/bg.png';
$footer-height: 150px;

#{$block} {
  bottom: 0;
  height: $footer-height;
  left: 0;
  position: fixed;
  text-align: center;

  &__bait,
  &__hook {
    display: inline-block;
    vertical-align: middle;
  }

  // switch footer content with this one when footer is hovered
  &__hook {
    color: $white;
    text-decoration: none;
  }

  &__arrow {
    background: url(../img/account/arrow.png) no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 8px;
    position: relative;
    top: 1px;
    width: 14px;
  }
}

@media (min-width: 1025px) {
  #{$block} {
    max-width: $width-left;
    width: 34%;
  }
}

@media (min-width: 769px) {
  #{$block} {
    &__bait,
    &__hook {
      letter-spacing: 3px;
      width: 100%;
    }

    &__bait {
      background: #fff;
      border-top: 1px solid $grey-light;
      color: #5d6072;
      font-family: $font-open-sans;
      font-size: 16px;
      font-weight: 300;
      opacity: 1;
      padding-top: 70px;
      transition: all 500ms;
      transform: scale(1) transformY(0);
    }

    // switch footer content with this one when footer is hovered
    &__hook {
      background: url($bg) no-repeat top right;
      bottom: -1 * $footer-height;
      font-family: $font-open-sans;
      font-size: 10.5px;
      font-weight: 500;
      height: 100%;
      left: 0;
      letter-spacing: 3px;
      padding-top: 80px;
      position: absolute;
      text-transform: uppercase;
      transition: bottom 230ms cubic-bezier(.8,.16,.18,.85);
      transition-delay: 180ms;
      transform: translateZ(0);
      width: 100%;
    }

    &__arrow {
      right: -75px;
    }

    &:hover {
      // on hover, lower the z-index so to show &__hovered element
      #{$block}__bait {
        opacity: 0.2;

        transform: perspective(600px) scale(.94) translateY(22%);
      }

      // once onhover is ontop, increase its z-index so to stay there while hovered
      #{$block}__hook {
        z-index: 1;
        bottom: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  #{$block} {
    width: 44%;
  }
}

@media (max-width: 768px) {
  #{$block} {
    background: url($bg) no-repeat top left;
    background-size: 100% auto;
    height: 70px;
    padding-top: 26px;
    width: 100%;

    &__bait,
    &__hook {
      font-family: $font-open-sans;
      font-size: 10.5px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 2px;
    }

    &__bait {
      color: #fff;
    }

    &__arrow {
      right: -5px;
    }
  }
}

